<div class="section_content" id="lstContentRight">
    <div class="row">
    <h3 >
        <i class="fa fa-plus" aria-hidden="true"></i>
        <?php echo TXT_ADMIN_ADD_NEW_RIGHT; ?>
    </h3>
    </div>
    <div class="row">
        <div id="lstRights">
            <?php foreach ($rights as $right) : ?>
                <div class="col-sm-3">
                    <input style="margin-top: 1vh;margin-bottom: 1vh;"
                           type="checkbox"
                           value="<?= $right['id'] ?>"
                           id="<?= $right['id'] ?>">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <?=$right['label']?>
                    </input>
                </div>

            <?php endforeach; ?>
        </div>

    </div>

    <div class="row" style="margin-top: 5vh">
        <div class="col-sm-offset-5 col-sm-2">
            <button onclick="requestAddRight(readProfile)" class="btn btn-success" ><?=TXT_ADD?></button>
        </div>
    </div>
</div>