<div class="row">
    <div class="col-lg-12">
        <div class="section">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3><i class="fa fa-qrcode"></i><?= " ".TXT_EXERCICE; ?></h3>
                </div>
            <div class="table-responsive"  id="filterTitle">
                <table class="table table-striped">
                    <thread>
                        <tr>
                            <td><?= TXT_LINK ?></td>
                            <td><?= TXT_LIST_EXERCICE_WORDING; ?></td>
                            <td><?= TXT_LIST_EXERCICE_DURATION; ?></td>
                        </tr>
                    </thread>
                    <tbody>
                        <?php
                        foreach ($workshops as $workshop) {
                            echo "<tr>
                                    <td>
                                      <a href=\"/back-office/technicalsheet.php?workshop_attempt=" . $workshop->getId() . "\">
                                        <i class=\"fa fa-angle-double-right\" aria-hidden=\"true\">
                                        </i>
                                      <a/>
                                  </td>" .
                            "<td>" . $workshop->getFullLabel() . "</td>" .
                            "<td>" . $workshop->getDuration() . " minutes" . "</td>"
                        ;}?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>