<div class="section" style="margin-top: 3vh;">
    <h3 ><i class="fa fa-filter"></i><?= TXT_LIST_WORKSPACE_FILTER_BY; if(isset($tri)){echo $tri;}else{echo TXT_NAME_MIN;} ?></h3>

    <?php
    if(isset($tri)){
        $oldChamp = TXT_NOT_COMPLETE;
        foreach ($workshops as $workshop) :
            if(isset($tri)){
                if ($workshop['id_room'] != $oldChamp && $tri == TXT_LIST_WORKSPACE_ROOM ){
                    echo '<div class="clearfix"></div>'."<h4 >".TXT_ROOM_NUMBER.$workshop['id_room']."</h4><br>";
                    $oldChamp = $workshop['id_room'];
                }else if($workshop['count_to_validate'] != $oldChamp && $tri== TXT_LIST_WORKSPACE_COUNT_TO_VALIDATE){
                    echo '<div class="clearfix"></div>'."<h4>".TXT_LIST_WORKSPACE_COUNT_TO_VALIDATE_TITLE.$workshop['count_to_validate']."</h4><br>";
                    $oldChamp = $workshop['count_to_validate'];
                }else if($workshop['id_difficulty']!= $oldChamp && $tri== TXT_LIST_WORKSPACE_DIFFICULTY){
                    echo '<div class="clearfix"></div>'."<h4>".TXT_LIST_WORKSPACE_DIFFICULTY_TITLE.$workshop['difficulty_title']."</h4><br>";
                    $oldChamp = $workshop['id_difficulty'];
                }else if($workshop['id_category'] != $oldChamp && $tri== TXT_LIST_WORKSPACE_CATEGORY){
                     echo '<div class="clearfix"></div>'."<h4>".TXT_LIST_WORKSPACE_CATEGORY_TITLE.$workshop['category_title']."</h4><br>";
                    $oldChamp = $workshop['id_category'];
                }else if($workshop['id_sub_category'] != $oldChamp && $tri== TXT_LIST_WORKSPACE_SUB_CATEGORY){
                    if($workshop['sub_category_title'] == NULL){
                         echo '<div class="clearfix"></div>'."<h4>".TXT_LIST_WORKSPACE_SUB_CATEGORY_TITLE.TXT_NOT_COMPLETE."</h4><br>";
                        $oldChamp = $workshop['id_sub_category'];
                    }else{
                    echo '<div class="clearfix"></div>'."<h4>".TXT_LIST_WORKSPACE_SUB_CATEGORY_TITLE.$workshop['sub_category_title']."</h4><br>";
                    $oldChamp = $workshop['id_sub_category'];
                    }
                }else if($workshop['id_species'] != $oldChamp && $tri== TXT_LIST_WORKSPACE_SPECIE){
                    echo '<div class="clearfix"></div>'."<h4>".TXT_LIST_WORKSPACE_SPECIE_TITLE.$workshop['species_title']."</h4><br>";
                    $oldChamp = $workshop['id_species'];
                }else if($workshop['id_priority_level'] != $oldChamp && $tri== TXT_LIST_WORKSPACE_RANK){
                    echo '<div class="clearfix"></div>'."<h4>".TXT_WORKSPACE_FILTER_RANK." :".$workshop['pl_title']."</h4><br>";
                    $oldChamp = $workshop['id_priority_level'];
                }else if($workshop['id_discipline'] != $oldChamp && $tri== TXT_LIST_WORKSPACE_DISCIPLINE){
                    if($workshop['discipline_title'] == NULL){
                         echo '<div class="clearfix"></div>'."<h4>".TXT_LIST_WORKSPACE_DISCIPLINE_TITLE.TXT_NOT_COMPLETE."</h4><br>";
                        $oldChamp = $workshop['id_discipline'];
                    }else{
                    echo '<div class="clearfix"></div>'."<h4>".TXT_LIST_WORKSPACE_DISCIPLINE_TITLE.$workshop['discipline_title']."</h4><br>";
                    $oldChamp = $workshop['id_discipline'];
                    }
                }
            }
            ?>
            <div 
                class="col-xs-12 col-sm-6 <?php echo ($workshop['deleted'] == 1) ? 'del' : '' ?>">
                <div class="clearfix" style="border-bottom: 1px solid #aaa; margin-bottom: 10px; padding: 0 5px">
                    <a href="<?php echo "workshop.php?id=" . $workshop['id'] ?>">
                        <?php echo $workshop['full_label'] ?>
                    </a>
                        <?php if ($permission->check('print:qrcode')): ?>
                    <a class="pull-right" href="<?php echo "print.php?id=" . $workshop['id'] ?>">
                        <i class="fa fa-print"></i>
                    </a>
                        <?php endif; ?>
                </div>
            </div>

    <?php
        endforeach;
    }else{
        foreach ($workshops as $workshop) :
    ?>
        <div class="col-xs-12 col-sm-6 <?php echo ($workshop->getDeleted() == 1) ? 'suppr' : '' ?>">
            <div class="clearfix" style="border-bottom: 1px solid #aaa; margin-bottom: 10px; padding: 0 5px">
		<a href="<?php echo "workshop.php?id=" . $workshop->getId() ?>">
                    <?php echo $workshop->getFullLabel() ?>
		</a>
                    <?php if ($permission->check('print:qrcode')): ?>
			<a class="pull-right" href="<?php echo "print.php?id=" . $workshop->getId() ?>">
                            <i class="fa fa-print"></i>
			</a>
                    <?php endif; ?>
            </div>
	</div>
    <?php 
        endforeach;
    }

echo '<div class="clearfix"></div></div>';
