<div class="row"  id="shootForMobile">
    <div class="col-lg-12">
        <div class="section">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <h3><i class="fa fa-table"></i> <?= TXT_BLOCKS_STATS_GRADES; if(isset($title)){echo ' '.$title;} ?></h3>
                        </div>
                        <div class="col-xs-12 col-sm-6" <?php if($_SERVER['PHP_SELF'] == '/back-office/stat.php'){ echo "style=\"visibility:hidden\""; }?> id="selectGradeLine">
                            <form style="display: inline-block;" >
                                <div class="dropdown" id="btnScale" >
                                    <select type="button" name="dowpdown" size="1" id="scale" class="btn btn-default" class="btn btn-default dropdown-toggle" onchange="requestScale(readData);">
                                    <?php if(isset($chartType) && $chartType === 'global'): ?>
                                        <option value="">Grade</option>
                                        <?php foreach ($scalesType as $scaleType): ?>
                                        <option value="G-<?= $scaleType['id'] ?>-G"><?= $scaleType['label']." Global" ?></option>
                                        <option value="G-<?= $scaleType['id'] ?>-D"><?= $scaleType['label']." Distinct" ?></option>
                                        <?php endforeach ?>
                                        <option value="G-0-D">Distinct</option>
                                        <option value="G-0-G">Global</option>
                                    <?php else:if(!isset ($userSelected)):$userSelected=$GET['user'];endif;?>
                                        <option value="">Grade</option>
                                        <?php foreach ($scalesType as $scaleType): ?>
                                            <option value="U-<?= $scaleType['id'] ?>-G-<?= $userSelected ?>"><?= $scaleType['label']." Global" ?></option>
                                            <option value="U-<?= $scaleType['id'] ?>-D-<?= $userSelected ?>"><?= $scaleType['label']." Distinct" ?></option>
                                        <?php endforeach ?>
                                        <option value="U-0-D-<?= $userSelected ?>">Distinct</option>
                                        <option value="U-0-G-<?= $userSelected ?>">Global</option>
                                    <?php endif;?>
                                    </select>
                                </div>
                            </form>
                            <h5 style="display:inline-block"><i type="button" data-toggle="modal" data-target="#info" id="btnInfo" class="fa fa-question-circle" aria-hidden="true"></i></h5>
                        </div>

                        <span id="loaderGrade" style="display: none;"><img src="../dist/images/ajax-loader.gif" alt="loading" /></span>
                        <div id="info" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <i class="fa fa-question-circle"></i><h4 class="modal-title" style="text-align:center;"><?= TXT_LIST_GRADE_MODAL_TITLE; ?></h4>
                                    </div>
                                    <div class="modal-body">
                                        <h5><?= TXT_LIST_GRADE_DESCRIPTION; ?></h5>
                                        <ul>
                                            <li><?= TXT_LIST_GRADE_GLOBAL_TERNAIRE; ?></li>
                                            <li><?= TXT_LIST_GRADE_GLOBAL_QUATERNAIRE; ?></li>
                                            <li><?= TXT_LIST_GRADE_GLOBAL; ?></li>
                                            <li><?= TXT_LIST_GRADE_DISTINCT_TERNAIRE; ?></li>
                                            <li><?= TXT_LIST_GRADE_DISTINCT_QUATERNAIRE; ?></li>
                                            <li><?= TXT_LIST_GRADE_DISTINCT; ?></li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><?= TXT_CLOSE; ?></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" id="tables-note" role="tablist">
                        <?php foreach ($stats->scales as $key => $item) : ?>
                            <li role="presentation">
                                <a href="#<?= $key ?>" aria-controls="<?= $key ?>" role="tab" data-toggle="tab"><?= $item[0]['scale'] ?>
                                    <span class="badge"><?= count($item) ?></span>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>

                    <div class="tab-content">
                        <?php foreach ($stats->scales as $key => $scales) : ?>
                            <div role="tabpanel" class="tab-pane" id="<?= $key ?>">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-striped">
                                        <thead>
                                            <tr id="tableHead">
                                                <?php if($_SERVER['PHP_SELF'] != '/back-office/ajax/scale_type.php'): ?>
                                                <th ><?= TXT_LINK ?></th>
                                                <?php endif; ?>
                                                <th><?= TXT_LIST_GRADE_DATE; ?></th>
                                                <?php if ($chartType === 'global'): ?>
                                                    <th><?= TXT_LIST_GRADE_USER; ?></th>
                                                <?php endif; ?>
                                                <th><?= TXT_LIST_GRADE_WORDING; ?></th>
                                            </tr>
                                        </thead>
                                        <?php foreach ($scales as $scale): ?>
                                            <tr>
                                                <?php if($_SERVER['PHP_SELF'] != '/back-office/ajax/scale_type.php'): ?>
                                                <td>
                                                    <a href="/back-office/stat.php?user=<?php echo $scale['idUser']; ?>">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </td>
                                                <?php endif; ?>
                                                <td><?= $scale['start'] ?></td>
                                                <?php if ($chartType === 'global'): ?>
                                                <td><?= $scale['upn'] ?></td>
                                                <?php endif; ?>
                                                <td><?= $scale['label'] ?></td>
                                            </tr>
                                         <?php endforeach; ?>
                                    </table>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
