<div class="row">
    <div class="col-lg-12">
        <div class="section">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h3 id="shootMargin">
                        <i class="fa fa-user"></i> <?= TXT_USER_FILTER_USERS;?>
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="input-group" id="btn">
                        <input type="text" id="search" class="form-control" placeholder="<?= TXT_USER_FILTER_SEARCH_PLACEHOLDER; ?>">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <span class="input-group-btn">
                        <button id="btn" class="btn btn-default" type="submit" onclick="requestSearchFilter(readDataFilterUser);"><?= TXT_USER_FILTER_SEARCH; ?></button>
                    </span>
                </div>
            </div>
                <div class="table-responsive" >
                    <table class="table table-striped">
                        <thread>
                            <tr style="border-top: 0;">
                                <th><?= TXT_LINK ?></th>
                                <th id="inline"><?= TXT_NAME; ?>

                                    <button class="btnInvisible" type="submit" name="action" value="filter_name_up_filter" onclick="requestNameUp(readSortFilter);" id="name_up">
                                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    </button>
                                    <button class="btnInvisible" type="submit" name="action" value="filter_name_down_filter"  onclick="requestNameDown(readSortFilter);" id="name_down">
                                        <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                                    </button>
                                </th>
                                <th><?= TXT_FORENAME; ?></th>
                                <th><?= TXT_LOGIN; ?></th>
                                <th id="inline"><?= TXT_PROFILE; ?>

                                    <button class="btnInvisible" type="submit" name="action" value="filter_profile_up_filter" onclick="requestProfileUp(readSortFilter);" id="profile_up">
                                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    </button>
                                    <button class="btnInvisible" type="submit" name="action" value="filter_profile_down_filter" onclick="requestProfileDown(readSortFilter);" id="profile_down">
                                        <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                                    </button>
                                </th>
                            </tr>
                        </thread>
                        <tbody>
                            <?php
                            foreach ($users as $user) {
                                echo "<tr>
                                    <td>
                                      <a href=\"/back-office/stat.php?user=" . $user->getId() . "\">
                                        <i class=\"fa fa-angle-double-right\" aria-hidden=\"true\">
                                        </i>
                                      <a/>
                                  </td>" .
                                "<td>". $user->getName() . "</a></td>" .
                                "<td>". $user->getFirstName() . "</a></td>" .
                                "<td>". $user->getUpn() . "</td>" .
                                "<td>" . $user->getProfileName() . "</td>";
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>