<div class="section" style="padding: 0;" id="waAjax">
    <?php if(!isset($_GET['global']) ): ?>
        <div class="row">
            <div class="col-sm-12">
                <span class="card_top"><i class="fa fa-filter"></i><?= TXT_ADMIN_RANK_FILTER . ":"; ?></span>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dropdown">
                            <select  style="width: 100%" type="button" name="dowpdown" size="1" id="priorityLevelSelected" class="btn btn-default" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onchange="RequestPriorityLevel(readDataWA, <?= "'".$idUser."'" ?>);">
                                <option><?= TXT_FILTER ?></option>
                                <?php foreach ($priorityLevels as $pl){ ?>
                                    <option value="<?= $pl->getId() ?>"><?= $pl->getTitle() ?></option>
                                <?php } ?>
                                <option value="global"><?= TXT_GLOBAL ?></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <div class="row" >
        <div class="col-sm-12">
            <span class="card_top"><i class="fa fa-qrcode"></i><?php echo TXT_BLOCKS_STATS_WORKSHOPS . ":"; ?></span>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success" id="btnTpDone" data-toggle="modal" data-target="#waDone" style="width:100%;visibility:<?php if (isset($_GET['global'])) {echo "style=\"disabled=\"disabled\"\"";} if (isset($_GET['exercice'])) {
                        echo 'hidden';
                    } else {
                    } if ($stats->total === 0) {
                        echo "style=\"disabled=\"disabled\"\"";
                    } ?>">
                        <i class="fa fa-list-ul" aria-hidden="true" ></i>
                        <?= $countWaDistinct ?>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="waDone" tabindex="-1" role="dialog" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <?php if (!isset($_GET['global'])) { ?>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title"><?= TXT_STAT_EXERCICE_LIST.$average = sprintf('%dm, %ds',(($averageTime) / 60 % 60), ($averageTime) % 60).TXT_STAT_AVERAGE; ?></h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-striped" style="text-align: center">
                                            <tr>
                                                <td><?= TXT_STAT_WORDING; ?></td>
                                                <td><?= TXT_STAT_COUNT_TRY; ?></td>
                                                <td><?= TXT_STAT_BEST_GRADE; ?></td>
                                                <td><?= TXT_STAT_BEST_TIME; ?></td>
                                            </tr>
                                            <?php
                                            $i=0;
                                            foreach($lstBestScale as $scale){
                                                echo "<tr><td>" . $scale[0]->getFullLabel()
                                                    . "</td><td>".$distinctWa[$i]['count(id)']
                                                    . "</td><td>".$scale[0]->getScale()
                                                    . "</td><td>".$lstTime[$i]."</td>";
                                                $i++;
                                            }
                                            ?>
                                        </table>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <?php if (!isset($_GET['workshop_attempt'])) { ?>
                    <span class="card_top"><i class="fa fa-qrcode"></i><?= TXT_STAT_REMAINING_EXERCICE. " :"; ?></span>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" id="btnTpNotDone" class="btn btn-info" data-toggle="modal" data-target="#todo" style="width:100%;">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                <?php echo $WSTodoSize ?>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="todo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel"><?= TXT_STAT_MODAL_TITLE; ?></h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped">
                                                <tr>
                                                    <td><?= TXT_LINK; ?></td>
                                                    <td><?= TXT_STAT_WORDING; ?></td>
                                                </tr>
                                                <?php $i = 0;
                                                foreach ($WSTodo as $row) {
                                                    $label = $row->getFullLabel();
                                                    echo "<tr>";
                                                    if(isset($_GET['global'])){
                                                        echo "<td><a href=\"/back-office/technicalsheet.php?workshop_attempt=". $row->getId() . "\">
                                                                            <i class=\"fa fa-angle-double-right\" aria-hidden=\"true\"></i> </td>";
                                                    }
                                                    echo"<td>" . $label . "<td></tr>";
                                                    $i++;} ?>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><?= TXT_STAT_CLOSE; ?></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>

