<div class="row" >
    <div class="col-lg-12">
        <div class="section" >
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-5">
                <h3 style="display: inline-block"><i class="fa fa-filter">
                    </i><?= TXT_STAT_FILTER_TITLE_FILTER; ?>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-4">
                <form style="display: inline-block">
                    <div class="dropdown" id="btnFilter">
                        <select type="button" name="dowpdown" size="1" id="select" class="btn btn-default dropdown-toggle" onchange="requestFilter(readData);">
                            <option value="1"><?= TXT_STAT_FILTER_CHOOSE;?></option>
                            <option value="2"><?= TXT_STAT_FILTER_EXERCICE; ?></option>
                            <option value="3"><?= TXT_STAT_FILTER_USER; ?></option>
                            <option value="4"><?= TXT_STAT_FILTER_GRADE; ?></option>
                        </select>
                    </div>
                </form>
                <span id="loader" style="display: none;"><img src="../dist/images/ajax-loader.gif" alt="loading" /></span>
            </div>
        </div>
    </div>
</div>
    
    