<script type="text/javascript" src="../dist/js/ajax/workshop_filter.js"></script>

<div class="row">
    <div class="col-xs-12 col-sm-4" id="shootPadding">
        <?php if (!$viewable && $permission->check('create:workspace')): ?>
        <button  class="btn btn-default hvr-bounce-to-right" type="button" data-toggle="collapse" data-target="#collapseAddWS" aria-expanded="false" aria-controls="collapseAddWS" style="width: 100%">
            <i class="fa fa-plus"></i> <?= TXT_WORKSHOP_ADD_WORKSHOP; ?>
        </button>
        <?php endif; ?>
    </div>

    <?php if($configDB['domainMoodle'] != "" && $configDB['domainMoodle'] != "null"): ?>
    <div class="col-xs-12 col-sm-4"  id="synchro">
        <form method="post" action="ajax/cron_mod_moodle.php">
            <button class="btn btn-default hvr-shutter-out-horizontal" type="submit" style="width: 100%;">
                <i class="fa fa-exchange" aria-hidden="true"></i><?= TXT_WORKSHOP_SYNCHRONISATION ?>
            </button>
        </form>
    </div>
    <?php else: ?>
        <div class="col-xs-12 col-sm-4"></div>
    <?php endif; ?>

    <div class="col-xs-12 col-sm-4" id="shootPadding">
        <button  class="btn btn-default hvr-bounce-to-left" type="button" data-toggle="collapse" data-target="#collapseFilterWorkshop" aria-expanded="false" aria-controls="collapseExample" style="width: 100%">
            <i class="fa fa-filter"></i><?= TXT_WORKSPACE_FILTER_BUTTON; ?>
        </button>
    </div>

</div>


<span id="loader" style="display: none;">
    <img src="../dist/images/ajax-loader.gif" alt="loading" />
</span>

<div class="collapse" id="collapseFilterWorkshop" style="margin-top: 5vh;">
    <form>
        <div class="well" id="btnTri" >
            <div class="row"  >
                <div class="col-sm-3">
                    <button type="button" value="id_room" id="id_room" class="btn btn-info" onclick="requestRoom(readDataWorkshop)">
                        <?= TXT_WORKSPACE_FILTER_ROOM; ?>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" value="id_category" id="id_category" class="btn btn-info" id="btnTri" onclick="requestCategory(readDataWorkshop)">
                        <?= TXT_WORKSPACE_FILTER_CATEGORY; ?>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" value="id_sub_category" id="id_sub_category" class="btn btn-info" id="btnTri" onclick="requestSubCategory(readDataWorkshop)">
                        <?= TXT_WORKSPACE_FILTER_SUB_CATEGORY; ?>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" value="id_species" id="id_species" class="btn btn-info" id="btnTri" onclick="requestSpecies(readDataWorkshop)">
                        <?= TXT_WORKSPACE_FILTER_SPECIE; ?>
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" value="count_to_validate" id="count_to_validate" class="btn btn-info" id="btnTri" onclick="requestCountToValidate(readDataWorkshop)">
                        <?= TXT_WORKSPACE_FILTER_COUNT_TO_VALIDATE; ?>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" value="id_difficulty" id="id_difficulty" class="btn btn-info" id="btnTri" onclick="requestDifficulty(readDataWorkshop)">
                        <?= TXT_WORKSPACE_FILTER_COUNT_DIFFICULTY; ?>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" value="id_priority_level" id="id_priority_level" class="btn btn-info" id="btnTri" onclick="requestPriorityLevel(readDataWorkshop)">
                        <?= TXT_WORKSPACE_FILTER_RANK; ?>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" value="id_discipline" id="id_discipline" class="btn btn-info" id="btnTri" onclick="requestDiscipline(readDataWorkshop)">
                        <?= TXT_WORKSPACE_DISCIPLINE; ?>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>