<footer class="footer">
  <div>CSLManager <?= $config->get('version') ?> <?= $configDB['footer'] ?> &horbar;
    <ul class="list-inline pull-right">
        <li>
            <a href="/bug-report/index.php">
                <i class="fa fa-bug" aria-hidden="true"></i> Signaler Bug
            </a>
        </li>
        <li>
            <a href="/feedback.php">
                <i class="fa fa-envelope" aria-hidden="true"></i><!--<i class="fa fa-envelope-o" aria-hidden="true"></i>--> <?= TXT_NAVBAR_FEEDBACK; ?>
            </a>
        </li>
        <li role="presentation">
            <a href="/about.php"
               title="<?= TXT_FRONT_INDEX_ABOUT_PAGE; ?>">
                <i class="fa fa-bookmark" aria-hidden="true"> </i><?= TXT_FRONT_INDEX_ABOUT_PAGE; ?>
            </a>
        </li>
        <li role="presentation">
            <a href="/legal.php"
               title="<?= TXT_SIDE_LEGAL; ?>">
                <i class="fa fa-gavel" aria-hidden="true"></i><?= TXT_SIDE_LEGAL; ?>
            </a>
        </li>
    </ul>
  </div>
</footer>

