<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-left" style="display: inline;">
                <img src="/dist/images/csl1.jpeg" id="cslLogo">
            </div>
            <div class="dropdown navbar-right" style="margin-top: 2rem;display: inline" >
                 <?php  if(isset($user)) : ?>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownHeader" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                        <?= TXT_WELCOME. $user->getFirstName();?>
                        <span class="caret"></span>
                    </button>
                 <?php elseif ($_SERVER['PHP_SELF'] != "/about.php" && $_SERVER['PHP_SELF'] != "/feedback.php" && $_SERVER['PHP_SELF'] != "/legal.php" && $_SERVER['PHP_SELF'] != "/bug-report/index.php"): ?>
                        <a href="/login.php" title="<?= TXT_CONNECT; ?>" class="navbar-brand navbar-right" style="margin-right: 2rem;float: right">
                             <i class="fa fa-sign-in"></i> <?= TXT_CONNECT; ?>
                        </a>
                 <?php else: ?>
                 </div>
                        <a href="/index.php" class="hvr-icon-back">
                            <i class="fa fa-arrow-circle-o-left hvr-icon" aria-hidden="true"></i>
                        </a>
                <?php endif; ?>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                     <?php if(isset($user) && $user->getAuth() == "manual"):?>
                     <li>
                        <a href="/request.php?data=<?= $user->getToken()?>">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            Modifier mot de passe
                        </a>
                     </li>
                     <li role="separator" class="divider"></li>
                     <?php endif; ?>
                     <?php foreach ($languages as $language):?>
                        <li role="presentation">
                            <a href="?lang=<?= $language->getTitle()?>" ><img src="<?= $language->getPathImg() ?>" id="alignImg"></a>
                        </li>
                     <?php endforeach; ?>
                     <li role="separator" class="divider"></li>
                     <?php if ($auth->isValid()): ?>
                         <li role="presentation">
                             <a href="/logout.php" title="<?= TXT_DISCONNECT; ?>">
                                 <i class="fa fa-sign-out"></i> <?= TXT_DISCONNECT; ?>
                             </a>
                         </li>
                     <?php endif; ?>
                </ul>
            </div>
        </div>
     </div>
</nav>
