<div id="defaultForm">
    <form id="formAddUser" action="/back-office/ajax/admin/user.php" method="POST">
        <div class="form-group">
            <label for="user-upn"><?php echo TXT_LOGIN; ?></label>
            <input required type="text" value="" placeholder="john.doe" name="user-upn"
                   class="form-control" id="user-upn">
        </div>
        <div class="form-group">
            <?php foreach ($profiles as $profile): ?>
                <label class="radio-inline">
                    <input type="radio" name="user-profile" id="profile<?=$profile['id']?>" value="<?=$profile['id']?>"> <?=$profile['label']?>
                </label>
            <?php endforeach; ?>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <input type="hidden" aria-hidden="true" name="action" value="user-add-ldap">
                <button type="submit" class="btn btn-primary" data-loading-text="Création…">
                    <i class="fa fa-paper-plane"></i> <?= TXT_ADD; ?>
                </button>
            </div>
        </div>
    </form>