<h1><i class="fa fa-paw" aria-hidden="true"></i><?= TXT_ADMIN_SPECIES_LIST."(".count($species).")"; ?></h1>
<!--<h3><?//= TXT_ADMIN_SPECIES_NB . " : "; ?><?//= count($species) ?></h3>-->
<hr>
<div class="table-responsive" >
    <table class="table table-striped" style="margin-bottom: 5%;">
        <thead class="table_preference">
        <tr>
            <th width="20%"><?= TXT_ADMIN_SPECIES_LIBELLE ?></th>
            <th width="60%"><?= TXT_ADMIN_SPECIES_DESCRIPTION ?></th>
            <th width="20%" class="center"><?= TXT_ADMIN_SPECIES_MODIFY ?></th>
            <th class="center"><?= TXT_DELETE ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($species as $specie): ?>
            <tr class="specieLine">
                <td>
                    <?= $specie->getTitle(); ?>
                </td>
                <td>
                    <?= $specie->getDescription(); ?>
                </td>
                <td class="center">
                    <a href="?specie=<?= $specie->getId(); ?>"><i class="fa fa-cog"></i> </a>
                </td>
                <td class="center">
                    <div class="del-specie" data-specie-id="<?= $specie->getId(); ?>"><i
                            class="fa fa-times"></i></div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>


<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php
    endforeach;
endif;
?>