<h1><i class="fa fa-gavel"></i><?= TXT_ADMIN_RANK_LIST ?></h1>
<hr>
<div class="table-responsive" >
    <table class="table table-striped" style="margin-bottom: 5%;">
        <thead class="table_preference">
        <tr>
            <th width="20%"><?= TXT_ADMIN_RANK_LIBELLE ?></th>
            <th width="60%"><?= TXT_ADMIN_RANK_DESCRIPTION ?></th>
            <th width="20%" class="center"><?= TXT_ADMIN_RANK_MODIFY ?></th>
            <th class="center"><?= TXT_DELETE ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($priority_levels as $priority_level): ?>
            <tr class="priorityLevelLine">
                <td>
                    <?= $priority_level->getTitle() ?>
                </td>
                <td>
                    <?= $priority_level->getDescription() ?>
                </td>
                <td class="center">
                    <a href="?priority_level=<?= $priority_level->getId() ?>"><i class="fa fa-cog"></i> </a>
                </td>

                <td class="center">
                    <div class="del-priority_level" data-priority_level-id="<?= $priority_level->getId(); ?>"><i
                            class="fa fa-times"></i></div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php
    endforeach;
endif;
?>