
<h1><i class="fa fa-map-o"></i><?php echo TXT_ADMIN_MANAGE_ROOM; ?></h1>
<hr>
<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php
    endforeach;
endif;
?>
<?php foreach ($rooms as $room) : ?>
    <div class="col-md-4 col-sm-12 card-room">
        <div class="section" >
            <div class="form-group">
                <label for="room-label"><?php echo TXT_ROOM.":"; ?></label>
                <input type="text" value="<?= $room['description'] ?>" class="form-control"
                       id="room-label" name="room-label" placeholder="Nom de la salle">
            </div>
            <input type="hidden" value="<?= $room['id'] ?>" name="room-id">
            <input type="hidden" name="action" value="alter-room">
            <button type="submit" class="btn btn-default">
                <i class="fa fa-pencil"></i><?php echo TXT_EDIT; ?>
            </button>
            <div class="del-room" data-room-id="<?= $room['id'] ?>">
                <i class="fa fa-times"></i>
            </div>
        </div>
    </div>
<?php endforeach; ?>
</div>

