<h1><i class="fa fa-folder-o" aria-hidden="true"></i><?= TXT_ADMIN_SUB_CATEGORY_LIST//."(".count($subcategorys).")"; ?></h1>
<hr>
<div class="table-responsive" >
    <table class="table table-striped" style="margin-bottom: 5%">
        <thead class="table_preference">
        <tr>
            <th width="20%"><?= TXT_ADMIN_SUB_CATEGORY_LIBELLE ?></th>
            <th width="60%"><?= TXT_ADMIN_SUB_CATEGORY_DESCRIPTION ?></th>
            <th width="20%" class="center"><?= TXT_ADMIN_SUB_CATEGORY_MODIFY ?></th>
            <th><?= TXT_DELETE ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($subcategories as $subcategory): ?>
            <tr class="subCategoryLine">
                <td>
                    <?= $subcategory['title'] ?>
                </td>
                <td>
                    <?= $subcategory['description'] ?>
                </td>
                <td class="center">
                    <a href="?subcategory=<?= $subcategory['id'] ?>"><i class="fa fa-cog"></i> </a>
                </td>
                <td class="center" >
                    <div class="del-sub-category" data-sub-category-id="<?= $subcategory['id']; ?>"><i
                            class="fa fa-times"></i></div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>


<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php
    endforeach;
endif;
?>
