<div >
    <form action="/back-office/ajax/admin/auth.php" method="post">
        <div class="row">
            <div class="col-xs-12">
                <h3 style="text-align: center"><?= TXT_ADMIN_AUTH_PARAMETERS ?></h3>
            </div>
        </div>
        <div class="row" style="margin-top: 5vh">
            <div class="col-xs-12 col-sm-offset-2 col-sm-3">
                <div class="form-group">
                    <label><?= TXT_INSTALLATION_AUTH_URI ?>
                        <i type="button" data-toggle="modal" data-target="#helpAuth" id="btnInfo" class="fa fa-question-circle" aria-hidden="true"></i>
                    </label>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="helpAuth" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><?= TXT_INSTALLATION_MODAL_TITLE ?></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><?= TXT_INSTALLATION_MODAL_AUTH_1 ?></p>
                            <p><?= TXT_INSTALLATION_MODAL_AUTH_2 ?>
                                <a href="ftp://ftp.hp.com/pub/printers/mfps/ews_help/help/fr/help_LdapAuth2.html" target="_blank"><?= TXT_INSTALLATION_HERE ?></a>.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE ?></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                <div class="form-group">
                    <input class="form-control" placeholder="<?= TXT_INSTALLATION_AUTH_URI_EXAMPLE ?>" name="uriLDAP" type="text" id="uriLDAP">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-3">
                <div class="form-group">
                    <label><?= TXT_INSTALLATION_AUTH_BASEDN ?></label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                <div class="form-group">
                    <input class="form-control" placeholder="ex: ou=people,dc=example,dc=fr" name="baseDnLDAP" type="text" id="baseLDAP">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-3">
                <div class="form-group">
                    <label><?= TXT_INSTALLATION_AUTH_BINDDN ?></label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                <div class="form-group">
                    <input class="form-control" placeholder="<?= TXT_INSTALLATION_AUTH_BINDDN_EXAMPLE ?>" name="bindDnLDAP" type="text" id="bindDnLDAP">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-3">
                <div class="form-group">
                    <label><?= TXT_INSTALLATION_AUTH_BINDPW ?></label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                <div class="form-group">
                    <input class="form-control"  name="bindPwLDAP" type="password" id="bindPwLDAP">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-3">
                <div class="form-group">
                    <label><?= TXT_INSTALLATION_AUTH_PORT ?></label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                <div class="form-group">
                    <input class="form-control" name="portLDAP" type="number" id="portLDAP">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12" style="text-align: center">
                <input type="hidden" name="auth" value="ldap">
                <button type="submit" class="btn btn-default">Modifier</button>
            </div>
        </div>
    </form>
</div>

