<h1><i class="fa fa-key" aria-hidden="true"></i> <?= TXT_ADMIN_PROFILE_LIST; ?></h1>
<!--<h4><?//= TXT_ADMIN_PROFILE_NB ?> : <?//= count($profils) ?></h4>-->
<hr>
<div class="table-responsive" >
    <table class="table table-striped" style="margin-bottom: 5%;">
        <thead class="table_preference">
        <tr>
            <th width="20%"><?= TXT_LABEL; ?></th>
            <th width="60%"><?= TXT_DESCRIPTION; ?></th>
            <th width="10%" class="center"><?= TXT_EDIT; ?></th>
            <th width="10%" class="center"><?= TXT_ACTIVE; ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($profiles as $profile): ?>
            <tr class="profileLine">
                <td>
                    <?= $profile['label'] ?>
                </td>
                <td>
                    <?= $profile['description'] ?>
                </td>
                <td class="center">
                    <a href="?profile=<?= $profile['id'] ?>"><i class="fa fa-cog"></i> </a>
                </td>
                <td class="center">
                    <div class="del-profile" data-profile-id="<?= $profile['id']; ?>"><i
                            class="fa fa-times"></i></div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<?php if (!empty($ERROR)) :
    foreach ($ERROR as $e): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?= TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php endforeach;
endif; ?>