

<div >
    <h1><i class="fa fa-folder" aria-hidden="true"></i><?= TXT_ADMIN_CATEGORY_LIST//."(".count($categories).")"; ?></h1>
    <hr>
    <!--<h3><?//= TXT_ADMIN_CATEGORY_NB . " : "; ?><?//= count($categories) ?></h3>-->
    <div class="table-responsive"  >
        <table  class="table table-striped" style="margin-bottom: 5%">
            <thead class="table_preference">
            <tr>
                <th width="20%"><?= TXT_ADMIN_CATEGORY_LIBELLE ?></th>
                <th width="60%"><?= TXT_ADMIN_CATEGORY_DESCRIPTION ?></th>
                <th width="20%" class="center"><?= TXT_ADMIN_CATEGORY_MODIFY ?></th>
                <th class="center"><?= TXT_DELETE ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($categories as $category):
                ?>
                <tr class="categoryLine">
                    <td>
                        <?= $category->getTitle(); ?>
                    </td>
                    <td>
                        <?= $category->getDescription(); ?>
                    </td>
                    <td class="center">
                        <a href="?category=<?= $category->getId(); ?>"><i class="fa fa-cog"></i> </a>
                    </td>
                    <td class="center">
                        <div class="del-category" data-category-id="<?= $category->getId(); ?>"><i
                                    class="fa fa-times"></i></div>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>

    </div>
</div>

<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php
    endforeach;
endif;
?>

