<h1><i class="fa fa-map-signs" aria-hidden="true"></i><?= TXT_ADMIN_DISCIPLINE_LIST//."(".count($disciplines).")"; ?></h1>
<!--<h3><?//= TXT_ADMIN_DISCIPLINE_NB . " : "; ?><?//= count($disciplines) ?></h3>-->
<hr>
<div class="table-responsive" >
    <table class="table table-striped" style="margin-bottom: 5%;">
        <thead class="table_preference">
        <tr>
            <th width="20%"><?= TXT_ADMIN_DISCIPLINE_LIBELLE ?></th>
            <th width="60%"><?= TXT_ADMIN_DISCIPLINE_DESCRIPTION ?></th>
            <th width="20%" class="center"><?= TXT_ADMIN_DISCIPLINE_MODIFY ?></th>
            <th class="center"><?= TXT_DELETE ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($disciplines as $discipline): ?>
            <tr class="disciplineLine">
                <td>
                    <?= $discipline['title'] ?>
                </td>
                <td>
                    <?= $discipline['description'] ?>
                </td>
                <td class="center">
                    <a href="?discipline=<?= $discipline['id'] ?>"><i class="fa fa-cog"></i> </a>
                </td>
                <td class="center">
                    <div class="del-discipline" data-discipline-id="<?= $discipline['id']; ?>"><i
                            class="fa fa-times"></i></div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php
    endforeach;
endif;
?>