<h1><i class="fa fa-file"></i><?= TXT_ADMIN_EVALUATION_SCALE_LIST?></h1>
<hr>
<div class="table-responsive" >
    <table class="table table-striped" style="margin-bottom: 5%;">
        <thead class="table_preference">
        <tr>
            <th width="80%"><?= TXT_LABEL; ?></th>
            <th width="10%" class="center"><?= TXT_EDIT; ?></th>
            <th width="10%" class="center"><?= TXT_DELETE; ?></th>
        </tr>
        </thead>
        <tbody id="table-groupe">
        <?php foreach ($scale_types as $scale_type): ?>
            <tr>
                <td>
                    <?= $scale_type['label'] ?>
                </td>
                <td class="center">
                    <a href="?scale_type=<?= $scale_type['id'] ?>"><i class="fa fa-cog"></i> </a>
                </td>
                <td class="center">
                    <span  class="del-scale_type" data-id-scale_type=<?= $scale_type['id'] ?>><i class="fa fa-times"></i></span>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php
    endforeach;
endif;
?>