<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Gestion d'un CSL">
    <meta name="author" content="©EnvA&Oniris">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/dist/images/favicon.png">
    <title>CSLManager</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/app.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="/dist/css/mediaQueries.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.min.css" media="all"/>
</head>
<body>

<?php include '../../view/front/blocks/navbar.phtml'; ?>

<?php if (!empty($ERROR)) :
    foreach ($ERROR as $e): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong><?= TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php endforeach;
endif; ?>

<?php if (!empty($SUCCESS)) :
    foreach ($SUCCESS as $e): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
             <center><?= $e ?></center>
        </div>
    <?php endforeach;
endif; ?>

        <body>
            <div class="container" id="bug-report" style='margin-top: 4rem'>
                <form action="index.php" method="post" accept-charset="utf-8" enctype="multipart/form-data"  class="ajax-search">
                    <div class="row justify-content-center">
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                            <h1 class="alert alert-info">Aidez nous à améliorer CSLManager</h1>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Capture d'écran de l'erreur</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <input type="file" name="screenShot">
                                            <!--<label class="custom-file-label" for="inputGroupFile03">Choose file</label>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Exercice affecté</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="btn-group">
                                        <input type="hidden" name="exercice" class="exercice" id="exercice" value="Je ne sais pas">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="category" id="category" style="margin:1rem;">
                                            Catégorie
                                        </button>
                                        <div class="dropdown-menu">
                                            <?php  
                                                foreach ($categories as $categorie) {
                                                    echo "<li onclick='changeValue(\"".$categorie->getTitle()."\", \"#category\")'>".$categorie->getTitle()."</li>";
                                                }
                                            ?>
                                            <li onclick='changeValue("Je ne sais pas", "#category")'>Je ne sais pas</li>
                                        </div>
                                    </div>
                                </div>
                                <div id="cibleExercices"></div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Identifiant de l'utilisateur (prenom.nom)</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="idUser" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Note enregistré</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="btn-group">
                                        <input type="hidden" name="note" class="note" value="Je ne sais pas">
                                        <button class="btn btn-outline-secondary dropdown-toggle note" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Choisir
                                        </button>
                                        <div class="dropdown-menu">
                                            <li onclick="changeValue('Non acquis', '.note')">Non acquis</li>
                                            <li onclick="changeValue('En cours d\'acquisition', '.note')">En cours d'acquisition</li>
                                            <li onclick="changeValue('Acquis', '.note')">Acquis</li>
                                            <li onclick="changeValue('Maitrisé', '.note')">Maitrisé</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Commentaire</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-6 col-sm-6">
                                    <input type="hidden" name="comment" value="NON" id="comment">
                                    <button type="button" id="commentNON" class="btn btn-success" onclick="changeComment('NON')">NON</button>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <button type="button" id="commentOUI" class="btn btn-outline-dark" onclick="changeComment('OUI')">OUI</button>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Heure de fin de l'exercice</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-6 col-sm-6">
                                    <div class="btn-group">
                                        <input type="hidden" name="heure" class="heure" value="0">
                                        <input type="hidden" name="min" class="min" value="0">
                                        <button class="btn btn-outline-secondary dropdown-toggle heure" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Heures
                                        </button>
                                        <div class="dropdown-menu">
                                            <li onclick="changeValue('12H', '.heure')">12H</li>
                                            <li onclick="changeValue('13H', '.heure')">13H</li>
                                            <li onclick="changeValue('14H', '.heure')">14H</li>
                                            <li onclick="changeValue('17H', '.heure')">17H</li>
                                            <li onclick="changeValue('18H', '.heure')">18H</li>
                                            <li onclick="changeValue('19H', '.heure')">19H</li>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <div class="btn-group">
                                        <button class="btn btn-outline-secondary dropdown-toggle min" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Minutes
                                        </button>
                                        <div class="dropdown-menu">
                                            <li onclick="changeValue('15min', '.min')">15min</li>
                                            <li onclick="changeValue('30min', '.min')">30min</li>
                                            <li onclick="changeValue('45min', '.min')">45min</li>
                                            <li onclick="changeValue('00min', '.min')">00min</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Nombre de personnes dans la salle</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-6 col-sm-6">
                                    <input type="hidden" name="numberUser" value="moins" id="numberUser">
                                    <button type="button" class="btn btn-success" onclick="changeNumber('moins')" id="moins">- de 15</button>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <button type="button" class="btn btn-outline-dark" onclick="changeNumber('plus')" id="plus">+ de 15</button>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Mode de connexion</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-6 col-sm-6">
                                    <input type="hidden" name="connexion" value="wifi" id="connexion">
                                    <button type="button" class="btn btn-success" onclick="changeConnexion('wifi')" id="wifi">Wifi</button>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <button type="button" class="btn btn-outline-dark" onclick="changeConnexion('eduroam')" id="eduroam">Eduroam</button>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <h3>Marque du téléphone</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="btn-group">
                                        <input type="hidden" name="marqueTel" class="marqueTel" value="Autre">
                                        <button class="btn btn-outline-secondary dropdown-toggle marqueTel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Choisir
                                        </button>
                                        <div class="dropdown-menu">
                                            <li onclick="changeValue('Apple', '.marqueTel')">Apple</li>
                                            <li onclick="changeValue('Samsung', '.marqueTel')">Samsung</li>
                                            <li onclick="changeValue('Huawei', '.marqueTel')">Huawei</li>
                                            <li onclick="changeValue('Nokia', '.marqueTel')">Nokia</li>
                                            <li onclick="changeValue('Sony', '.marqueTel')">Sony</li>
                                            <li onclick="changeValue('LG', '.marqueTel')">LG</li>
                                            <li onclick="changeValue('Google', '.marqueTel')">Google</li>
                                            <li onclick="changeValue('Xiaomi', '.marqueTel')">Xiaomi</li>
                                            <li onclick="changeValue('Autre', '.marqueTel')">Autre</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <input type="hidden" name="action">
                                    <button type="submit" class="btn btn-success send">Envoyer le rapport</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
<div class='row'>
    <div class='col-xs-12 col-sm-offset-2 col-sm-8'>
        <?php include '../../view/front/blocks/footer.phtml'; ?>
    </div>
</div>
</div>
<script src="../dist/js/lib/jquery-2.2.1.min.js"></script>
<script src="../dist/js/lib/bootstrap.min.js"></script>
<script src="bug_report.js"></script>

</body>
</html>



        
