<div id="cibleExercices">    
    <div class="col-xs-12 col-sm-6">
        <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle exercice" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin:1rem;">
                Exercice
            </button>
            <div class="dropdown-menu">
                <?php 
                    foreach ($listExercices as $exercice) {
                        echo "<li onclick=\"changeValue('".$exercice->getLabel()."', '.exercice')\">".$exercice->getFullLabel()."</li>";
                    }
                ?>
            </div>
        </div>
    </div>
</div>
