/*body{
    background: url("noisy_grid.png");
    background-position: 50% 0%;
}*/

.container{
    margin-bottom: 10vh;
    background-color: white;
    box-shadow: 2px 5px 5px #b6b4b4;
}

.container h1, .send{
    margin: 2vh 0;
    text-align: center;
}

h3{
    margin: 4vh 0;
    font-weight: 500;
}

#bug-report .btn-group,#bug-report button, #bug-report .input-group{
    width: 100%
}

li{
    cursor: pointer;
}

li:hover{
    color: #212529;
    background-color: rgba(0,0,0,.075);
}

body .btn-outline-dark:hover{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
