/*
 * This file is part of VetSims
 * Copyright (C) 2016  Gabriel Poma <gabriel.poma@vet-alfort.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/**
 * Perso
 */

.qrcode-wrapper {
    text-align: center;
    margin-bottom: 5px;
    max-height: 200px;
    overflow: hidden;
}

.qrcode-wrapper:hover {
    background-color: #f5f5f5;
    border: 1px solid #bbb;
    margin: -1px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.qrcode img {
    margin: auto;
}
.print {
    display: none;
}

.qrcode:hover .print {
    display: inline-block;
    margin-top: 5px;
}

.section {
    background: whitesmoke;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 30px;
}

h1 a {
    margin-left: -30px;
    display: none;
    position: absolute;
    left: 40px;
}
h1:hover a {
    display: inline;
}

.form-inline {
    margin-bottom: 5px;
}

.dispo::before {
    margin-right: 5px;
    content: '■';
    font-size: 1em;
}

.dispo.oui:before {
    color: #398439;
}

.dispo.non:before {
    color: #d43f3a;
}

.suppr {
    opacity: 0.5;
}

/* Admin */
.mod-existing-profil {
    padding: 5px;
}

.form-mod-profil {
}

.mod-existing-eval-form {
    margin-bottom: 10px;
    padding: 15px;
}

.add-eval, .add-profil {
    padding: 15px;
}

/* Login */
body.login-page {
    background: url("/dist/images/noisy_grid.png") repeat;
}
.wrapper-login {
}

.login-form {
    margin-top: 128px;
    margin-bottom: 20px;
    max-width: 640px;
    padding: 20px;
    background: white;
    border-top: 5px #428bca solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .login-form {
        margin: 0 auto;
    }
}

.login-form p {
    padding: 15px;
}

.banner {
    margin-bottom: 10px;
}

.table-responsive {
    overflow: visible;
}

.chart {
    height: 280px;
}

.row {
    margin: 10px 0;
}

.section_title {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 10px;
}

.section_title h1,
.section_title h2,
.section_title h3,
.section_title h4,
.section_title h5,
.section_title h6 {
    float: left;
    margin-top: 10px;
}

.section_toolbox {
    margin-top: 10px;
    padding: 0 10px;
}

.section_content {
}

.loading {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 65px;
    background-color: #e3e3e3;
    z-index: 1000;
}

.loading > img {
    padding: 4px;
}

.navbar-inverse {
    background-color: #428BCA;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF
}

.suppr-group {
    cursor: pointer;
}

.suppr-salle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: #FF4136;
    color: #FFF;
    cursor: pointer;
    padding-left: 5px;
}

.sortable-list.header {
    background-color: #428BCA;
    color: #FFF;
    margin-bottom: 0;
    padding: 10px;
}

.sortable-list {
    margin: 0 0 10px 0;
    list-style: none;
    min-height: 10px;
}

.sortable-list li {
    border: #428BCA 2px solid;
    color: #000;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.sortable-list li .drag-handle {
    margin: 0 20px;
    cursor: move;
}

.sortable-list i {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0;
    display: block;
    cursor: pointer;
    color: #c00;
    top: 10px;
    right: 10px;
    position: absolute;
    font-style: normal;
    font-size: 1.6em;
}

.sortable-list li:hover i {
    opacity: 1;
}

.sortable-list .js-edit-eval {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    text-decoration: underline;
    color: #42BBCA;
    cursor: pointer;
    opacity: 0;
    float: right;
    margin-right: 50px;
}

.sortable-list li:hover .js-edit-eval {
    opacity: 1;
}

.edit-eval {
    max-height: 500px;
    display: none;
    margin: auto;
    background-color: #eee;
    z-index: 1000;
}

.edit-eval.in {
    display: block;
}

.edit-eval-close {
    float: right;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.edit-eval-header {
    border: #428bca 1px solid;
    padding: 5px;
}

.edit-eval-header:after {
    clear: both;
}

.edit-eval-content {
    padding: 5px;
    border: 1px solid #428BCA;
}

h3 small i {
    cursor: pointer;
}

.toggle-profil {
    cursor: pointer;
}

#notif-box {
    width: 250px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 10px;
    margin: 5px;
    border-left: rgba(0, 0, 0, 0.2) 5px solid;
    color: #111;
    z-index: 9999;
}

#display_error {
    display: none;
}

.section > .card_top {
    font-size: 13px;
}

.section > .count {
    font-size: 25px;
    text-align: center;
}

noscript {
    width: 100%;
    background-color: #ec8726;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    display: block;
}