/*
 * This file is part of VetSims
 * Copyright (C) 2016  Gabriel Poma <gabriel.poma@vet-alfort.fr>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.banner {
    margin: 20px 0;
}

.poste-info {
    margin-bottom: 15px;
    margin-top: -3px;
    padding: 5px 15px;
    background-color: #eeeeee;
    border-top: 3px solid #aaaaaa;
}

.footer {
    margin-top: 10px;
    border-top: 1px #e3e3e3 solid;
    padding-top: 10px;
}

.difficulty-label {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: auto;
    display: inline-block;
    position: relative;
}

.difficulty-label .active {
    border-radius: 100%;
    width: 1.2rem;
    height: 1.2rem;
    margin: auto;
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.difficulty-label.green {
    background-color: #2ecc40;
}

.difficulty-label.blue {
    background-color: #0074D9;
}

.difficulty-label.red {
    background-color: #FF4136;
}

.difficulty-label.black {
    background-color: #111111;
}

a[target="_blank"]:after {
    font-family: FontAwesome, sans-serif;
    content: '';
    margin: 0 3px 0 5px;
}
body{
    padding-top:50px
}

.sub-header{
    padding-bottom:10px;
    border-bottom:1px solid #eee
}

.navbar-fixed-top{
    border:0
}

.sidebar{
    display:none
}
@media (min-width:768px){
    .sidebar{
        position:fixed;
        top:51px;
        bottom:0;
        left:0;
        z-index:1000;
        display:block;
        padding:20px;
        overflow-x:hidden;
        overflow-y:auto;
        background-color:#f5f5f5;
        border-right:1px solid #eee
    }
}

.nav-sidebar{
    margin-right:-21px;
    margin-bottom:20px;
    margin-left:-20px
}

.nav-sidebar>li>a{
    padding-right:20px;
    padding-left:20px
}

.nav-sidebar>.active>a,.nav-sidebar>.active>a:hover,.nav-sidebar>.active>a:focus{
    color: #fff;
    background-color: #428bca;
}

.main{
    padding:20px
}

@media (min-width:768px){
    .main{
        padding-right:40px;
        padding-left:40px
    }
}

.main .page-header{
    margin-top:0
}

.placeholders{
    margin-bottom:30px;
    text-align:center
}

.placeholders h4{
    margin-bottom:0
}

.placeholder{
    margin-bottom:20px
}

.placeholder img{
    display:inline-block;
    border-radius:50%
}

.qrcode-wrapper, .qrcode-wrapperHome{
    text-align:center;
    margin-bottom:5px;
    max-height:200px;
    overflow:hidden
}

.qrcode-wrapper:hover, .qrcode-wrapperHome:hover{
    background-color:#f5f5f5;
    border:1px solid #bbb;
    margin:-1px;box-shadow:3px 3px 0 rgba(0,0,0,.2)
}

.qrcode img{
    margin:auto
}

.print{
    display:none
}

.qrcode:hover .print{
    display:inline-block;margin-top:5px
}

.section{
    background:whitesmoke;
    border:1px solid #e3e3e3;
    padding:10px;
    margin-bottom:2vh;
}

h1 a{
    margin-left:-30px;
    display:none;
    position:absolute;
    left:40px
}

h1:hover a{
    display:inline
}

.form-inline{
    margin-bottom:5px
}

.dispo::before{
    margin-right:5px;
    content:'■';
    font-size:1em
}

.dispo.oui:before{
    color:#398439
}

.dispo.non:before{
    color:#d43f3a
}

.del{
    opacity:.5
}

.alter-existing-profile{
    padding:5px
}

.alter-existing-scale-form{
    margin-bottom:10px;
    padding:15px
}

.add-scale,.add-profile{
    padding:15px
}

body.login-page{
    background:url(/dist/images/noisy_grid.png) repeat
}

.login-form{
    margin-top:128px;
    margin-bottom:20px;
    max-width:640px;
    padding:20px;
    background:white;
    border-top:5px #428bca solid;
    box-shadow:0 0 20px rgba(0,0,0,.3)
}

@media screen and (max-width:768px){
    .login-form{
        margin:0 auto
    }
}

.login-form p{
    padding:15px
}

.banner{
    margin-bottom:10px
}

.table-responsive{
    overflow:visible
}

.chart{
    height:280px
}

.row{
    margin:10px 0
}

.section_title{
    border-bottom:1px solid #e3e3e3;
    margin-bottom:10px
}

.section_title h1,.section_title h2,.section_title h3,.section_title h4,.section_title h5,.section_title h6{
    float:left;
    margin-top:10px
}

.section_toolbox{
    margin-top:10px;
    padding:0 10px
}

.loading{
    display:none;
    position:fixed;
    width:40px;
    height:40px;
    right:15px;
    top:65px;
    background-color:#e3e3e3;
    z-index:1000
}

.loading>img{
    padding:4px
}

.navbar-inverse{
    background-color:#428BCA
}

.navbar-inverse .navbar-brand{
    color:#FFF
}

.navbar-inverse .navbar-nav>li>a{
    color:#FFF
}

.del-scale_type{
    cursor:pointer
}

.del-room{
    width:20px;
    height:20px;
    position:absolute;
    top:10px;
    right:25px;
    background-color:#FF4136;
    color:#FFF;
    cursor:pointer;
    padding-left:5px
}

.sortable-list.header{
    background-color:#428BCA;
    color:#FFF;
    margin-bottom:0;
    padding:10px
}

.sortable-list{
    margin:0 0 10px 0;
    list-style:none;
    min-height:10px
}

.sortable-list li{
    border:#428BCA 1px solid;
    color:#000;
    padding:10px 10px 10px 10px;
    position:relative
}

.sortable-list li .drag-handle{
    margin:0 20px;
    cursor:move
}

.sortable-list i{
    -webkit-transition:opacity .2s;
    transition:opacity .2s;
    opacity:0;
    display:block;
    cursor:pointer;
    color:#c00;
    top:10px;
    right:10px;
    position:absolute;
    font-style:normal;
    font-size:1.6em
}

.sortable-list li:hover i{
    opacity:1
}

.sortable-list .js-edit-scale{
    -webkit-transition:opacity .2s;
    transition:opacity .2s;
    text-decoration:underline;
    color:#42BBCA;cursor:pointer;
    opacity:0;
    float:right;
    margin-right:50px
}

.sortable-list li:hover .js-edit-scale{
    opacity:1
}

.edit-scale{
    max-height:500px;
    display:none;
    margin:auto;
    background-color:#eee;
    z-index: 1000;
    padding: 3vh;
}

.edit-scale.in{
    display:block
}

.edit-scale-close{
    float:right;
    top:5px;
    right:5px;
    cursor:pointer
}

.edit-scale-header{
    border:1px solid #e3e3e3;
    padding:5px
}

.edit-scale-header:after{
    clear:both
}

.edit-scale-content{
    padding:5px;

}

h3 small i{
    cursor:pointer
}

.toggle-profile{
    cursor:pointer
}

#notif-box{
    width:250px;
    position:fixed;
    bottom:5px;
    right:5px;
    padding:10px;
    margin:5px;
    border-left:rgba(0,0,0,.2) 5px solid;
    color:#111;
    z-index:9999
}

#display_error{
    display:none
}

.section>.card_top{
    font-size:13px
}

.section>.count{
    font-size:25px;
    text-align:center
}

noscript{
    width:100%;
    background-color:#ec8726;
    color:#FFF;
    text-align:center;
    font-weight:700;
    padding:10px;
    display:block
}

.banner{
    margin:20px 0
}

.poste-info{
    margin-bottom:15px;
    margin-top:-3px;
    padding:5px 15px;
    background-color:#eee;
    border-top:3px solid #aaa
}

.footer{
    margin-top:10px;
    border-top:1px #e3e3e3 solid;
    padding-top:10px
}

.jumbotron{
    padding-top:10px;
    padding-bottom:20px;
    //margin-bottom: 5rem;
}

.difficulty-label{
    border-radius:100%;
    width:3rem;
    height:3rem;
    margin:auto;
    display:inline-block;
    position:relative
}

.difficulty-label .active{
    border-radius:100%;
    width:1.2rem;
    height:1.2rem;
    margin:auto;
    background-color:#FFF;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0
}

.difficulty-label.green{
    background-color:#2ecc40
}

.difficulty-label.blue{
    background-color:#0074D9
}

.difficulty-label.red{
    background-color:#FF4136
}

.difficulty-label.black{
    background-color:#111
}

a[target="_blank"]:after{
    font-family:FontAwesome,sans-serif;
    /*content:'';margin:0 3px 0 5px*/
}

#btnFilter{
    margin-top: 20px;
    margin-bottom:  10px;
}

#filterTitle{
    margin: -4vh 0 2vh 0;
}


#icon-size{
    text-align: center;
    height: 16em;

}

#icon-size i{
    font-size: 8em;
}


.technical-stat{
    text-align: center;
    color: black;
    font-size: 3em;
    text-shadow: 1px 2px 3px black;
}

#difficultyExercice{
    height: 30px;
    border-radius: 5px;
}

#tabDescription{
    text-align: center;
}

#tabDescription thead{
    font-size: 1.1em;
    font-weight: bold;
}


#btnTri button{
    width: 100%;
}

#btnModal{
    display: block;
    margin : auto;
}

a#cRetour{
    border-radius:3px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background: rgba(54, 162, 235, 0.25);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
    background: rgb(29, 159, 235);
    transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
    bottom:20px;
    opacity:1;
}

#sectionMarge{
    margin-left: 15px;
    margin-right: 15px;
}

#btnInfo{
    font-size:1.2em;
    border-radius: 100%;
    display:inline-block;
}

#difficultyExercice h5{
    text-align: center;
    color: white;
    font-style: italic;
}

#btnTpDone{
    background-color:#f06c91;
    border-color: #f06c91;
}

#btnTpNotDone{
    background-color:#25aaff;
    border-color: #009cff
}

#inline{
    display: inline-flex;
}


table tr .btnInvisible{
    border: whitesmoke;
    background-color: whitesmoke;
}

#cardTp{
    height: 210px;
}

#btnScale select{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#selectGradeLine{
    display:inline-block;
    padding:0;
}

.center{
    text-align: center;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
    border-bottom: 0;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    border-top: 0;
}

.table_preference{
    border-bottom: 1px solid #c2acac;
}

.scaleInfo
{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.scaleInfo:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

#shootPadding{
    padding-left: 0;
    padding-right: 0;
}

#btn{
    width: 100%;
}

#shootMargin{
    margin: 0;
}

video#preview{
    width: 100%;
    height: 100%;
}


@media (max-width: 3000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

#centerImg{
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

#alignImg{
    margin-left: 2em;
    width: 2em;
    height: 3vh;
}

.sidebar-nav li li{
    text-indent: 5px;
}

.indentRight a{
    text-indent: 25px;
}

div .homeBtn a{
    width: 100%;
    vertical-align: center;
//margin-top: 3vh;
}

#btnSuccess:hover{
    background-color: #58aa89;
}
#btnSuccess{
    color: white;
    border-color: #58aa89;
}

.submitFile{
    margin: 10vh;
}

#langFileSubmit{
    border: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 3px;
}

.flagSize{
    width: 30vh;
    height: 30vh;
}

.flagSizeMini{
    width: 5vh;
    height: 5vh;
    margin-left: 5vh;
}

#moveIcon{
    font-size: 1.5em;
    display: inline;
    top: 0;
    right: 0;
    position: unset;
    color: black;
    cursor: grab;
}

#editor, #result{

    width: 100%;
    height: 550px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;

}

#dropdownHeader{
    background-color: #428BCA;
    color: white;
    border: none;
    font-size: 2rem;
    min-width: 26rem;
}

.navbar-right .dropdown-menu{
    width: 100%;
}

.footer ul li a{
    text-decoration: none;
}

#cslLogo{
    height: 4rem;
    width: 4rem;
    margin:1rem;
    margin-left: 3rem;
    border-radius: 2px;
}

.cslLogoBottom{
    height: 10rem;
}

#returnIcon{
    color:white;
    font-size:3rem;
    margin:2rem;
}

#returnIcon:hover{
    color: #bae3fb;
}

#shootPanel{
    border: 0;
    background-color: #f5f5f5;
}

.test{
    background-color: pink;
}

#loading-overlay {
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    background-color: #000;
    z-index: 999;
    opacity: 0.5;
}
.loading-icon{ position:absolute;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #767676;border-radius:25px;width:25px;height:25px;margin:0 auto;position:absolute;left:50%;margin-left:-20px;top:50%;margin-top:-20px;z-index:4;-webkit-animation:spin 1s linear infinite;-moz-animation:spin 1s linear infinite;animation:spin 1s linear infinite;}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }