#bodyInstall{
    padding-top:0;
    margin: 0;
}

#bodyInstall .nav-tabs .nav-link.active{
    background-color: #f5f5f5;
}

#navbar-install{
    background-color: #428bca;
    margin: 0;
    color: white;
}

#bddForm input button{
    width: 100%;
}

#subTitle{
    margin-top: 5vh;
}

#bddForm h6{
    margin-bottom: 5vh;
}

.blockInstall{
    background: #f5f5f5;
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: rgb(222, 226, 230);
    padding: 4vh;
    margin-bottom: 20vh;
}

.colorLink{
    color: black;
}

#install .colorLinkActive{
    background: #f5f5f5;
    color: #0056b3;
}

.formInstall{
    padding: 5vh;
}

#btnInstall button{
    width: 100%;
}

#successFront{
    background-color: darkseagreen;
}

#cslLogoInstall{
    height: 3rem;
    width: 3rem;
    margin:1vh;
    border-radius: 2px;
}

#dropdownHeaderInstall{
    background-color: #428BCA;
    color: white;
    border: none;
    font-size: 2rem;
}