/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 *
 * Last modified : 31/05/16
 */

/* Toggle Styles */

#wrapper, #wrapperHome {
    padding-left:0;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease
}

#wrapper.toggled, #wrapperHome.toggled{
    padding-left:200px
}

#sidebar-wrapper, #sidebar-wrapperHome{
    position:fixed;
    left:200px;
    width:0;
    height:100%;
    margin-left:-200px;
    overflow-y:auto;
    background-color:#f5f5f5;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    -webkit-box-shadow:inset -10px 0 10px -10px #aaa;
    box-shadow:inset -10px 0 10px -10px #aaa
}

#wrapper.toggled #sidebar-wrapper, #wrapperHome.toggled #sidebar-wrapperHome{
    width:200px
}

#page-content-wrapper, #page-content-wrapperHome{
    width:100%;
    position:absolute;
    padding:15px
}

#wrapper.toggled #page-content-wrapper, #wrapperHome.toggled #page-content-wrapperHome{
    position:absolute;
    margin-right:-250px
}

.sidebar-nav{
    width:200px;
    padding:0;
    list-style:none;
    margin:5px 0 0;
    border-bottom:2px solid #eee
}

.sidebar-nav li{
    text-indent:15px;
    line-height:40px
}

.sidebar-nav li.title{
    color:#888;
    text-indent:5px
}

.sidebar-nav li a{
    display:block;
    text-decoration:none;
    color:#428bca
}

.sidebar-nav li a:hover{
    text-decoration:none;
    color:#fff;
    background-color:#428bca
}

.sidebar-nav li .active a{
    text-decoration:none;
    color:#fff;
    background-color:#428bca
}

.sidebar-nav li a:active,.sidebar-nav li a:focus{
    text-decoration:none
}

.sidebar-nav>.active>a,.sidebar-nav>.active>a:hover,.sidebar-nav>.active>a:focus{
    color:#fff;background-color:#428bca
}

@media (min-width:1000px){
    #wrapper{
        padding-left:200px
    }
    #wrapper.toggled{
        padding-left:0
    }
    #sidebar-wrapper{
        width:200px
    }
    #wrapper.toggled #sidebar-wrapper{
        width:0
    }
    #page-content-wrapper{
        padding:20px;
        position:relative
    }
    #wrapper.toggled #page-content-wrapper{
        position:relative;
        margin-right:0
    }
}

@media (min-width:3000px){
    #wrapperHome{
        padding-left:200px
    }
    #wrapperHome.toggled{
        padding-left:0
    }
    #sidebar-wrapperHome{
        width:200px
    }
    #wrapperHome.toggled #sidebar-wrapperHome{
        width:0
    }
    #page-content-wrapperHome{
        padding:20px;
        position:relative
    }
    #wrapperHome.toggled #page-content-wrapperHome{
        position:relative;
        margin-right:0
    }
}