
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <div class="section">
                        <div class="row">
                            <h1><i class="fa fa-qrcode" aria-hidden="true"></i>
                                <?=$workshop->getLabel(); ?></h1>
                            <h3><em><?=$workshop->getFullLabel(); ?></em></h3>
                            <div class="center" style="margin-top: 10%; margin-bottom: 10%">
                                <img src="<?= $workshop->getQrcode() ?>" class="img-thumbnail" alt="QR-Code" id="QR-Code" >
                            </div>
                            <a href="\back-office/workshop.php" class="btn btn-default" role="button">
                                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
