<div class="row">
    <div class="col-lg-12">
        <div id="display_error" class="alert alert-danger">
        </div>
    </div>
</div>
<div class="col-lg-12" id="shootPadding">
    <div class="row">
        <div class="col-lg-12" >
            <h1 class="page-header">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <?= TXT_SIDE_NAVBAR_STATS; ?>
            </h1>
        </div>
    </div>
<?php if (isset($GET['user'])): ?>
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info"><?= TXT_STAT_USERSTAT.":"; ?>
            <a href="user.php?id=<?= $user->getId() ?>"><?= $user->getFirstName() . ' ' . $user->getName() ?></a>
        </div>
    </div>
</div>
<?php endif; ?>

<?php if (!isset($GET['global']) && $permission->check('print:ownstats')): ?>
    <div class="row" >
        <div class="col-xs-12 col-sm-6">
            <a href="?csv=1&chart=userFull<?php if(isset($_GET['user'])): echo "&user=".$_GET['user']; endif; ?>" class="btn btn-primary" style="width: 100%;margin-bottom: 3rem">
                <i class="fa fa-table" aria-hidden="true"></i> <?= TXT_STAT_CSV_USERSTAT; ?>
            </a>
        </div>
<?php endif; ?>
<?php if (!isset($GET['global']) && $permission->check('print:stats')): ?>
        <div class="col-xs-12 col-sm-6">
            <a href="?global=1" class="btn btn-default" style="width: 100%">
                <i class="fa fa-search-plus" aria-hidden="true"></i> <?= TXT_STAT_GLOBALSTAT; ?>
            </a>
        </div>
    </div>
<?php endif; ?>
<?php if (isset($GET['global']) && $permission->check('print:stats')): ?>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <a href="?global=1&csv=1&chart=full" class="btn btn-primary" id="btn" style="width: 100%;">
                <i class="fa fa-table" aria-hidden="true"></i> <?= TXT_STAT_CSVSTAT; ?>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="\back-office/stat.php" class="btn btn-default" role="button" id="btn" style="width: 100%;">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i><?= TXT_STAT_USERSTAT; ?>
            </a>
        </div>
        </div>
    </div>
<?php endif; ?>


<?php include 'blocks/stats.phtml'; ?>
