<!-- Users -->
<div class="col-lg-12">
    <h1 class="page-header">
        <i class="fa fa-users" aria-hidden="true"></i>
        <?= TXT_SIDE_NAVBAR_USERS; ?>
    </h1>

    <?php if (!empty($ERROR)):
        foreach ($ERROR as $e): ?>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong><?= TXT_ERROR; ?></strong> <?= $e ?>
            </div>
        <?php endforeach;
    endif; ?>

    <?php if (!$viewable): ?>
        <div class="row">
            <?php include 'blocks/list_user.phtml'; ?>
        </div>
    <?php else: ?>
        <div class="">
            <h3><?= $user->getFirstName() . " " . $user->getName() ?></h3>
            <?php if ($permission->check('edit:users')): ?>
                <section class="" id="section-formModUser">
                    <div class="section">
                        <div class="section_title clearfix">
                            <h5><?= TXT_USER_EDIT_USER; ?></h5>
                        </div>
                        <div class="section_content">
                            <form method="POST" action="/back-office/ajax/user.php" id="formModUser">
                                <?php foreach ($profile as $p): ?>
                                    <label class="radio-inline">
                                        <input <?= ($p['id'] == $user->getIdProfile()) ? "checked" : "" ?> type="radio"
                                                                                                           name="alter-profile"
                                                                                                           id="RadioProfile"
                                                                                                           value=<?= $p['id'] ?>>
                                        <?= $p['label'] ?>
                                    </label>
                                <?php endforeach; ?>

                                <br>

                                <button type="submit" class="btn-sm btn btn-primary btn-default">
                                    <i class="fa fa-paper-plane"></i><?= " " . TXT_EDIT; ?>
                                </button>
                                <input type="hidden" name="action" value="alter">
                                <input type="hidden" name="alter-upn" value=<?= $user->getUpn() ?>>
                                <input type="hidden" name="alter-id" value=<?= $user->getId() ?>>
                                <a href="\back-office/user.php" class="btn btn-default" role="button">
                                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                                </a>
                            </form>

                        </div>
                    </div>
                </section>
            <?php endif; ?>
        </div>
        <?php if (($user->getUpn() !== $session->getValue('upn')) && $permission->check('print:others_stats')): ?>
            <div>
                <h3><?= TXT_SIDE_NAVBAR_STATS; ?></h3>
                <p><?= TXT_USER_STAT_USER; ?>
                    <a class="btn btn-primary" href="/back-office/stat.php?user=<?= $user->getId(); ?>"><?= $user->getFirstName() . " " . $user->getName(); ?></a>
                </p>
            </div>
        <?php else: ?>
            <div>
                <h3><?= TXT_SIDE_NAVBAR_STATS; ?></h3>
                <p><?= TXT_USER_MY_STAT; ?>
                    <a class="btn btn-primary" href="/back-office/stat.php"><?= TXT_ENTER; ?></a>
                </p>
            </div>
        <?php endif; ?>
    <?php endif; ?>
</div>
