<script src='/dist/js/return_button.js'></script>


<!-- WORKSHOPS -->
<div class="col-lg-12">
    <div class="clearfix">
        <a name="haut" id="haut"></a> 
    <div>
        <a id="cRetour" class="cInvisible" href="#haut"></a>
    </div>

    <h1 class="page-header pull-left" style="border: none; margin-bottom: 0;padding-bottom: 0" >
        <i class="fa fa-qrcode" aria-hidden="true"></i>
        <?= " ".TXT_SIDE_NAVBAR_WORKSHOPS; ?>
    </h1>
        
</div>
    <?php if (!empty($ERROR)) :
        foreach ($ERROR as $e):
            ?>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong><?= TXT_ERROR ?> !</strong><br/> <?= $e ?>
            </div>
        <?php endforeach;
    endif;
    ?>
   
    <!--Ajout de poste-->
    <?php if (!$viewable && $permission->check('create:workspace')): ?>
        <div class="row">
            <div class="collapse" id="collapseAddWS">
                <p class="hidden"></p>
                <form id="formAddWS" action="/back-office/ajax/workshop.php" method="POST">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group" id="add-ll-group">
                            <label for="add-full_label"><?= TXT_FULL_LABEL; ?> <span class="text-danger">*</span></label>
                            <input required type="text" value="" id="add-full_label" name="add-full_label" class="form-control"
                                   placeholder="Mettre en place un licol chez la vache">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group" id="add-lc-group">
                            <label for="add-label"><?= TXT_WORKSHOP_ID; ?> <span class="text-danger">*</span></label>
                            <p class="help-block">
                                <i class="fa fa-exclamation-circle"></i> <?= TXT_ID_HELP; ?>
                            </p>
                            <input required type="text" value="" id="add-label" name="add-label"
                                   class="form-control" placeholder="PROP-01">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group" id="add-desc-group">
                            <label for="add-description"><?= TXT_DESCRIPTION; ?></label>
                            <textarea id="add-description" name="add-description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-room-group">
                            <label for="add-room"><?= TXT_ROOM; ?></label>
                            <select class="form-control" id="add-room" name="add-room">
                                <option value=""></option>
                                    <?php foreach ($roomList as $room): ?>
                                    <option value='<?= $room['id'] ?>'>
                                    <?= $room['description'] ?>
                                    </option>
                                    <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-idMoodle">
                            <label for="add-idMoodle"><?= TXT_WORKSHOP_LMS_COURSE; ?></label>
                            <input type="number" class="form-control" id="add-idMoodle" name="add-idMoodle">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group" id="add-difficulty-group">
                            <label for="add-difficulty"><?= TXT_WORKSHOP_LEVEL; ?></label>
                            <select class="form-control" id="add-difficulty" name="add-difficulty">
                                    <?php /** @var \VetSims\Administration\Entity\Promo $d */
                                    foreach ($difficulty as $d):
                                        ?>
                                    <option value="<?= $d->getDifficulty() ?>">
                                    <?= $d->getTitle() ?>
                                    </option>
                                    <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-count-group">
                            <label for="add-count"><?= TXT_WORKSHOP_ATTEMPTS; ?></label>
                            <input type="number" class="form-control" id="add-count" name="add-count">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-duration-group">
                            <label for="add-duration"><?= TXT_WORKSHOP_DURATION; ?></label>
                            <input type="number" class="form-control" id="add-duration" name="add-duration">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-ceiling_duration-group">
                            <label for="add-ceiling_duration"><?= TXT_WORKSHOP_DURATION_MAX; ?></label>
                            <input type="number" class="form-control" id="add-ceiling_duration" name="add-ceiling_duration">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-difficulty-group">
                            <label for="add-scale_type"><?= TXT_SCALE; ?> <span class="text-danger">*</span></label>
                            <select required class="form-control" id="add-scale_type" name="add-scale_type">
                                <?php foreach ($scaleTypes as $scaleT): ?>
                                    <option value="<?= $scaleT['id'] ?>">
                                <?= $scaleT['label'] ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-category-group">
                            <label for="add-category"> <?= TXT_CATEGORY; ?> </label>
                            <select  class="form-control" id="add-category" name="add-category">
                                <?php
                                /** @var \VetSims\Administration\Entity\Category $d */
                                foreach ($category as $c):
                                    ?>
                                    <option value="<?= $c->getId() ?>">
                                    <?= $c->getTitle() ?>
                                    </option>
                                    <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-sub-category-group">
                            <label for="add-sub-category" > <?= TXT_SUBCATEGORY; ?>  </label>
                            <select  class="form-control" id="add-sub-category" name="add-sub-category">
                                <?php
                                /** @var \VetSims\Administration\Entity\SubCategory $d */
                                foreach ($subCategory as $s):
                                    ?>
                                    <option value="<?= $s['id'] ?>">
                                     <?= $s['title'] ?>
                                    </option>
                                    <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-discipline-group">
                            <label for="add-discipline"> <?= TXT_DISCIPLINE; ?> </label>
                            <select  class="form-control" id="add-discipline" name="add-discipline">
                                <?php
                                /** @var \VetSims\Administration\Entity\Discipline $d */
                                foreach ($discipline as $d):
                                    ?>
                                    <option value="<?= $d['id'] ?>">
                                    <?= $d['title'] ?>
                                    </option>
                                    <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-priority_level-group">
                            <label for="add-priority_level" > <?= TXT_RANK; ?> </label>
                            <select  class="form-control" id="add-priority_level" name="add-priority_level">
                                <?php
                                /** @var \VetSims\Administration\Entity\PriorityLevel $pl */
                                foreach ($priorityLevel as $pl):
                                    ?>
                                    <option value="<?= $pl->getId() ?>">
                                    <?= $pl->getTitle() ?>
                                    </option>
                                    <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="add-species-group">
                            <label for="add-species"> <?= TXT_SPECIES; ?> </label>
                            <select  class="form-control" id="add-species" name="add-species">
                                <?php
                                /** @var \VetSims\Administration\Entity\Species $d */
                                foreach ($species as $s):
                                    ?>
                                    <option value="<?= $s->getId() ?>">
                                        <?= $s->getTitle() ?>
                                    </option>
                                        <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <input type="hidden" name="action" value="add">
                    <button type="submit" class="btn btn-primary" name="add" data-loading-text="Traitement…">
                        <i class="fa fa-paper-plane"></i> <?= TXT_ADD; ?>
                    </button>
                </form>
            </div>
        </div>
        <?php endif; ?>
    <hr style="margin-top: 0">
    <div class="row">
        <?php if ($viewable) : ?>
            <p class="hidden"></p>
            <form class="form" method="POST" action="/back-office/ajax/workshop.php">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <img src="<?= $workshop->getQrcode() ?>" width="200" height="200"
                                     class="img-responsive center-block"
                                     alt="QR-Code"
                                     id="QR-Code">
                            </div>
                        </div>
                        <div class="row text-center">
                            <?php if ($permission->check('print:qrcode')): ?>
                                <div class="col-xs-6 col-md-4">
                                    <a href="<?= "print.php?id=" . $workshop->getId() ?>" class="btn
                                       btn-default">
                                        <i class="fa fa-print"></i> <?= TXT_PRINT; ?>
                                    </a>
                                </div>
                                <?php endif;
                                if ($permission->check('edit:workspace')):
                                    ?>
                                <div class="col-xs-6 col-md-4 col-md-offset-2">
                                    <a href="#"
                                        <?= ($workshop->getDeleted()) ? 'disabled' : '' ?>
                                       class="btn btn-danger del-workshop"
                                       data-loading-text="Traitement…" data-id-workshop="<?= $workshop->getId() ?>"
                                       data-error-text="Erreur"><i class="fa fa-remove"></i><?= TXT_DELETE; ?>
                                    </a>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="\back-office/workshop.php" class="btn btn-default" role="button">
                                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                                </a> 
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <h4><?= $workshop->getFullLabel() ?></h4>
                        <p class="help-block"><?= TXT_WORKSHOP_EDIT; ?><br/>
                            <?= TXT_WORKSHOP_QRCODE; ?><br/>
                            <span class="text-danger">
                                <i class="fa fa-exclamation-triangle"></i>
                            <?= TXT_WORKSHOP_QRCODE2; ?>
                            </span>
                        </p>
                        <div class="form-group" id="lc-group">
                            <label for="alter-label"><?= TXT_WORKSHOP_ID; ?> <span class="text-danger">*</span> </label>
                            <input required id="alter-label" type="text"
                                   value="<?= $workshop->getLabel() ?>"
                                   name="alter-label"
                                   class="form-control">
                        </div>
                        <div class="form-group" id="ll-group">
                            <label for="alter-full_label"> <?= TXT_FULL_LABEL; ?> <span class="text-danger">*</span> </label>
                            <input required id="alter-full_label" type="text"
                                   value="<?= $workshop->getFullLabel() ?>"
                                   name="alter-full_label"
                                   class="form-control">
                        </div>
                        <div class="form-group" id="desc-group">
                            <label for="alter-description"><?= TXT_DESCRIPTION; ?></label>
                            <textarea id="alter-description" name="alter-description"
                                      class="form-control"><?= $workshop->getDescription() ?>
                            </textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-alter-room">
                                    <label for="alter-room"><?= TXT_ROOM; ?></label>
                                    <select class="form-control auto-submit-item" id="alter-room"
                                            name="alter-room">
                                        <?php foreach ($roomList as $room): ?>
                                            <option value='<?= $room['id'] ?>'
                                            <?= ($room['id'] == $workshop->getIdRoom()) ? "selected" : "" ?>>
                                            <?= $room['description'] ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-idMoodle">
                                    <label for="alter-idMoodle"><?= TXT_WORKSHOP_LMS_ID; ?></label>
                                    <input class="form-control auto-submit-item" id="alter-idMoodle"
                                           type="number"
                                           min="0"
                                           value="<?= $workshop->getIdMoodle() ?>"
                                           placeholder="Moodle actitity ID" name="alter-idMoodle">
                                </div>
                                <a href="<?= $configDB['domainMoodle'] ?>/mod/assign/view.php?id=<?= $workshop->getIdMoodle() ?>">
                                    <i class="fa fa-link"></i> <?= TXT_WORKSHOP_LMS_URL; ?></a>
                            </div>
                        </div>
                    </section>
                    <div class="clearfix visible-sm"></div>
                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-group-difficulty">
                                    <label for="alter-difficulty"><?= TXT_WORKSHOP_LEVEL; ?></label>
                                    <select class="form-control auto-submit-item" id="alter-difficulty"
                                            name="alter-difficulty">
                                                    <?php /** @var \VetSims\Administration\Entity\Promo $d */
                                                    foreach ($difficulty as $d):
                                                        ?>
                                            <option value="<?= $d->getDifficulty() ?>"
                                            <?= ($workshop->getIdDifficulty() == $d->getDifficulty()) ? 'selected' : '' ?>>
                                            <?= $d->getTitle() ?>
                                            </option>
                                            <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="clearfix visible-md"></div>
                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-group-count">
                                    <label for="alter-count_to_validate"><?= TXT_WORKSHOP_ATTEMPTS; ?></label>
                                    <input class="form-control auto-submit-item" id="alter-count_to_validate"
                                           type="number"
                                           value="<?= $workshop->getCountToValidate() ?>"
                                           placeholder="number" name="alter-count_to_validate">
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="clearfix visible-sm"></div>
                    <div class="clearfix visible-lg"></div>
                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">

                            <div class="section_content">
                                <div class="form-group" id="form-group-min-time">
                                    <label for="alter-duration_min"><?= TXT_WORKSHOP_DURATION; ?></label>
                                    <input class="form-control auto-submit-item" id="alter-duration_min" type="number"
                                           value="<?= $workshop->getDuration() ?>"
                                           placeholder="number" name="alter-duration_min">
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-group-max-time">
                                    <label for="alter-duration_max"><?= TXT_WORKSHOP_DURATION_MAX; ?></label>
                                    <input class="form-control auto-submit-item" id="alter-duration_max" type="number"
                                           value="<?= $workshop->getCeilingDuration() ?>"
                                           placeholder="number" name="alter-duration_max">
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-scale_type">
                                    <label for="alter-scale_type"><?= TXT_SCALE; ?></label>
                                    <select class="form-control auto-submit-item" id="alter-scale_type"
                                            name="alter-scale_type">
                                        <?php foreach ($scaleTypes as $scaleT): ?>
                                            <option value="<?= $scaleT['id'] ?>"
                                            <?= ($workshop->getIdScaleType() == $scaleT['id']) ? 'selected' : '' ?>>
                                            <?= $scaleT['label'] ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-category">
                                    <label for="alter-category"><?= TXT_CATEGORY; ?></label>
                                    <select class="form-control auto-submit-item" id="alter-category"
                                            name="alter-category">
                                        <?php foreach ($category as $c): ?>
                                            <option value="<?= $c->getId(); ?>"
                                            <?= ($workshop->getIdCategory() == $c->getId()) ? 'selected' : '' ?>>
                                            <?= $c->getTitle(); ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-sub_category">
                                    <label for="alter-sub_category"><?= TXT_SUBCATEGORY; ?></label>
                                    <select class="form-control auto-submit-item" id="alter-sub_category"
                                            name="alter-sub_category">
                                        <?php foreach ($subCategory as $s): ?>
                                            <option value="<?= $s['id'] ?>"
                                            <?= ($workshop->getIdSubCategory() == $s['id']) ? 'selected' : '' ?>>
                                            <?= $s['title'] ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-discipline">
                                    <label for="alter-discipline"><?= TXT_DISCIPLINE; ?></label>
                                    <select class="form-control auto-submit-item" id="alter-discipline"
                                            name="alter-discipline">
                                        <?php foreach ($discipline as $d): ?>
                                            <option value="<?= $d['id'] ?>"
                                            <?= ($workshop->getIdDiscipline() == $d['id']) ? 'selected' : '' ?>>
                                            <?= $d['title'] ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-priority_level">
                                    <label for="alter-priority_level"><?= TXT_RANK; ?></label>
                                    <select class="form-control auto-submit-item" id="alter-priority_level"
                                            name="alter-priority_level">
                                        <?php foreach ($priorityLevel as $pl): ?>
                                            <option value="<?= $pl->getId() ?>"
                                            <?= ($workshop->getIdPriorityLevel() == $pl->getId()) ? 'selected' : '' ?>>
                                            <?= $pl->getTitle() ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="section">
                            <div class="section_content">
                                <div class="form-group" id="form-species">
                                    <label for="alter-species"><?= TXT_SPECIES; ?></label>
                                    <select class="form-control auto-submit-item" id="alter-species"
                                            name="alter-species">
                                        <?php foreach ($species as $s): ?>
                                            <option value="<?= $s->getId(); ?>"
                                            <?= ($workshop->getIdSpecies() == $s->getId()) ? 'selected' : '' ?>>
                                            <?= $s->getTitle(); ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>
                <div class="clearfix"></div>
                <input type="hidden" name="alter-id" aria-hidden="true" value="<?= $workshop->getId() ?>">
                <input type="hidden" name="action" aria-hidden="true" value="alter">
                <div class="row">
                    <div class="col-sm-offset-10 col-sm-2">
                        <button type="submit" class="btn btn-primary" name="modify" data-loading-text="Loading…">
                            <?= TXT_EDIT; ?>
                        </button>
                    </div>
                </div>

            </form>
    </div>
</div>

<?php
else :
    include 'blocks/ajax/workshop_filter.phtml';
?>
<div id="lstFilter">
<?php
    include 'blocks/ajax/list_workshop.phtml';
?></div>
<?php endif;
?>

