<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../dist/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../dist/css/app.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Installation</title>
</head>

<body id="bodyInstall">

<div class="row" id="navbar-install">
    <div class="col-sm-12 navbar" >
        <div class="navbar-left" style="display: inline;">
            <img src="../dist/images/csl1.jpeg" id="cslLogoInstall">
        </div>
        <div class="dropdown navbar-right" style="display: inline" >
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownHeaderInstall" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                <?= TXT_INSTALLATION_TITLE ?>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li style="margin-bottom: 1rem">
                    <a href="?lang=fr">
                        <img src="../dist/images/france.png" class="flagSizeMini">
                    </a>
                </li>
                <li style="margin-bottom: 1rem">
                    <a href="?lang=en">
                        <img src="../dist/images/United-Kingdom.png" class="flagSizeMini">
                    </a>
                </li>
                <li>
                    <a href="?lang=de">
                        <img src="../dist/images/germany.png" class="flagSizeMini">
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>

<?php 
    if (!is_writable('./../..')) {
        $disabled = 'disabled';
?>
        <div class="alert alert-danger" role="alert">PAS LES DROITS</div>
<?php
    } else {
        $disabled = '';
    }
?>

<div class="row" style="margin-top: 10vh;">
    <div class="offset-sm-1 col-sm-10">
        <div  style="background: white;">
            <div class="row">
                <div class="offset-sm-2 col-sm-8">
                    <?php if(isset($ERROR)) :
                     foreach ($ERROR as $error){ ?>
                         <div class="alert alert-danger" role="alert">
                             <?php echo $error ?>
                         </div>
                     <?php } endif; ?>
                </div>
            </div>

            <form action="install.php" method="post" enctype="multipart/form-data">
                <div class="row" id="BDD">
                    <div class="col-sm-12 offset-md-1 col-md-10" id="bddForm">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active colorLinkActive" href="#BDD"><?= TXT_INSTALLATION_BDD ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#feedback"><?= TXT_INSTALLATION_FEEDBACK ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#moodle"><?= TXT_INSTALLATION_MOODLE ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#perso"><?= TXT_INSTALLATION_CUSTOM ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#auth"><?= TXT_INSTALLATION_AUTH ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#admin"><?= TXT_INSTALLATION_ADMIN ?></a>
                            </li>
                        </ul>
                        <div class="blockInstall">
                            <h5 id="titlePage">I- <?= TXT_INSTALLATION_BDD ?></h5>

                            <div class="formInstall">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_SERVER_NAME ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="<?= TXT_INSTALLATION_SERVER_NAME_EXAMPLE ?>" name="host" type="text" id="host" required="required" <?= $disabled ?> value="<?= $POST['host'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_LOGIN_BDD ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="<?= TXT_INSTALLATION_LOGIN_BDD_EXAMPLE ?>" name="login" type="text" id="login" required="required" <?= $disabled ?> value="<?= $POST['login'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_PASSWORD ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="pass" type="password" id="pass" <?= $disabled ?> >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_BDD_NAME ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" value="cslmanager" name="db" type="text" id="db" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="feedback">
                    <div class="col-sm-12 offset-md-1 col-md-10" id="bddForm">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#BDD"><?= TXT_INSTALLATION_BDD ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active colorLinkActive" href="#feedback"><?= TXT_INSTALLATION_FEEDBACK ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#moodle"><?= TXT_INSTALLATION_MOODLE ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#perso"><?= TXT_INSTALLATION_CUSTOM ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#auth"><?= TXT_INSTALLATION_AUTH ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#admin"><?= TXT_INSTALLATION_ADMIN ?></a>
                            </li>
                        </ul>
                        <div class="blockInstall">
                            <h5 id="titlePage">II- <?= TXT_INSTALLATION_FEEDBACK ?>
                                <i type="button" data-toggle="modal" data-target="#helpFeedback" id="btnInfo" class="fa fa-question-circle" aria-hidden="true"></i>
                            </h5>

                            <!-- Modal -->
                            <div class="modal fade" id="helpFeedback" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><?= TXT_INSTALLATION_MODAL_TITLE ?></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p><?= TXT_INSTALLATION_MODAL_FEEDBACK_1 ?></p>
                                            <p><?= TXT_INSTALLATION_MODAL_FEEDBACK_2 ?><a href="https://serversmtp.com<?= $smtpLink ?>" target="_blank"><?= " ".TXT_INSTALLATION_HERE ?></a></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE ?></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="formInstall">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_SMTP_HOST ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="<?= TXT_INSTALLATION_SMTP_HOST_EXAMPLE ?>" name="hostSMTP" type="text" id="hostSMTP" <?= $disabled ?> value="<?= $POST['hostSMTP'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_SMTP_SECURE ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"><?= TXT_INSTALLATION_OPTIONS ?></label>
                                            </div>
                                            <select class="custom-select" id="secureSMTP" name="secureSMTP">
                                                <option selected><?= TXT_INSTALLATION_SELECT_OPTION ?></option>
                                                <option value="ssl"><?= TXT_INSTALLATION_SMTP_SSL ?></option>
                                                <option value="tls"><?= TXT_INSTALLATION_SMTP_TLS ?></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_SMTP_PORT ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="portSMTP" type="number" id="portSMTP" required="required" <?= $disabled ?> value="<?= $POST['portSMTP'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_SMTP_HOST_EMAIL ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="<?= TXT_INSTALLATION_SMTP_HOST_EMAIL_EXAMPLE ?>" name="emailSMTP" id="emailSMTP" type="email" required="required" <?= $disabled ?> value="<?= $POST['emailSMTP'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_PASSWORD ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="passwordSMTP" required="required" type="password" id="passwordSMTP" <?= $disabled ?>>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="moodle">
                    <div class="col-sm-12 offset-md-1 col-md-10" id="bddForm">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#BDD"><?= TXT_INSTALLATION_BDD ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#feedback"><?= TXT_INSTALLATION_FEEDBACK ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active colorLinkActive" href="#moodle"><?= TXT_INSTALLATION_MOODLE ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#perso"><?= TXT_INSTALLATION_CUSTOM ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#auth"><?= TXT_INSTALLATION_AUTH ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#admin"><?= TXT_INSTALLATION_ADMIN ?></a>
                            </li>
                        </ul>
                        <div class="blockInstall">
                            <h5 id="titlePage" style="display: inline">III- <?= TXT_INSTALLATION_MOODLE ?>
                                <i type="button" data-toggle="modal" data-target="#helpMoodle" id="btnInfo" class="fa fa-question-circle" aria-hidden="true"></i>
                            </h5>
                            <div class="col-2" style="display: inline">
                                <input name="valueCheckMoodle" id="valueCheckMoodle" type="checkbox" onclick="checkMoodle()" value="on" checked>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="helpMoodle" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><?= TXT_INSTALLATION_MODAL_TITLE ?></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p><?= TXT_INSTALLATION_MODAL_MOODLE_1 ?></p>
                                            <p><?= TXT_INSTALLATION_MODAL_MOODLE_2 ?></p>
                                            <p><?= TXT_INSTALLATION_MODAL_MOODLE_3 ?><a href="https://docs.moodle.org<?= $moodleLink ?>" target="_blank"><?= " ".TXT_INSTALLATION_HERE ?></a>)
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE ?></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="formInstall">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_MOODLE_TOKEN ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableMoodle" placeholder="ex: 507bo79b2adb980w5df9d573a5aamd55" name="tokenMoodle" type="text" id="tokenMoodle" <?= $disabled ?> value="<?= $POST['tokenMoodle'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_MOODLE_URL ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableMoodle" placeholder="<?= TXT_INSTALLATION_MOODLE_URL_EXAMPLE ?>" name="domainMoodle" type="text" id="domainMoodle" <?= $disabled ?> value="<?= $POST['domainMoodle'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_MOODLE_COURSE ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableMoodle" name="courseMoodle" type="number" id="courseMoodle" <?= $disabled ?> value="<?= $POST['courseMoodle'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="perso">
                    <div class="col-sm-12 offset-md-1 col-md-10" id="bddForm">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#BDD"><?= TXT_INSTALLATION_BDD ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#feedback"><?= TXT_INSTALLATION_FEEDBACK ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#moodle"><?= TXT_INSTALLATION_MOODLE ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active colorLinkActive" href="#perso"><?= TXT_INSTALLATION_CUSTOM ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#auth"><?= TXT_INSTALLATION_AUTH ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#admin"><?= TXT_INSTALLATION_ADMIN ?></a>
                            </li>
                        </ul>
                        <div class="blockInstall">
                            <h5 id="titlePage">IV- <?= TXT_INSTALLATION_CUSTOM ?></h5>

                            <div class="formInstall">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_APPLICATION_TITLE ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="<?= TXT_INSTALLATION_BDD_NAME_EXAMPLE ?>" name="appTitle" type="text" id="appTitle" <?= $disabled ?> value="<?= $POST['appTitle'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_TECHNIQUE_SUPPORT ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="<?= TXT_INSTALLATION_SMTP_HOST_EMAIL_EXAMPLE ?>" name="emailSupport" type="email" id="emailSupport" <?= $disabled ?> value="<?= $POST['emailSupport'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_FRONT_INDEX_DOMAIN ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="http://cslmanager" name="domain" type="text" <?= $disabled ?> value="<?= $POST['domain'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><?= TXT_INSTALLATION_LOGO ?></span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileSelect" name="fileSelect" required="required" <?= $disabled ?>>
                                                <label class="custom-file-label" for="fileSelect"><?= TXT_INSTALLATION_CHOOSE_FILE ?></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="auth">
                    <div class="col-sm-12 offset-md-1 col-md-10" id="bddForm">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#BDD"><?= TXT_INSTALLATION_BDD ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#feedback"><?= TXT_INSTALLATION_FEEDBACK ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#moodle"><?= TXT_INSTALLATION_MOODLE ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#perso"><?= TXT_INSTALLATION_CUSTOM ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active colorLinkActive" href="#auth"><?= TXT_INSTALLATION_AUTH ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#admin"><?= TXT_INSTALLATION_ADMIN ?></a>
                            </li>
                        </ul>
                        <div class="blockInstall">
                            <h5 id="titlePage" style="display: inline">V- <?= TXT_INSTALLATION_AUTH ?>
                                <i type="button" data-toggle="modal" data-target="#helpAuth" id="btnInfo" class="fa fa-question-circle" aria-hidden="true"></i>
                            </h5>
                            <div class="col-2" style="display: inline">
                                <input name="valueCheck" id="valueCheck" type="checkbox" onclick="checkLdap()" value="on" checked  <?= $disabled ?>>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="helpAuth" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><?= TXT_INSTALLATION_MODAL_TITLE ?></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p><?= TXT_INSTALLATION_MODAL_AUTH_1 ?></p>
                                            <p><?= TXT_INSTALLATION_MODAL_AUTH_2 ?>
                                                <a href="ftp://ftp.hp.com<?= $ldapLink ?>" target="_blank"><?= TXT_INSTALLATION_HERE ?></a>.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE ?></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="formInstall">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_AUTH_URI ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableLdap" placeholder="<?= TXT_INSTALLATION_AUTH_URI_EXAMPLE ?>" name="uriLDAP" type="text" <?= $disabled ?> value="<?= $POST['uriLDAP'] ?? '' ?>" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_AUTH_BASEDN ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableLdap" placeholder="ex: ou=people,dc=example,dc=fr" name="baseDnLDAP" type="text" <?= $disabled ?> value="<?= $POST['baseDnLDAP'] ?? '' ?>" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_AUTH_BINDDN ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableLdap" placeholder="<?= TXT_INSTALLATION_AUTH_BINDDN_EXAMPLE ?>" name="bindDnLDAP" type="text" <?= $disabled ?> value="<?= $POST['bindDnLDAP'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_AUTH_BINDPW ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableLdap"  name="bindPwLDAP" type="password" <?= $disabled ?>>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_AUTH_PORT ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableLdap" name="portLDAP" type="number" <?= $disabled ?> value="<?= $POST['portLDAP'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Champ ldap</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control disableLdap"  name="fieldLDAP" type="text" <?= $disabled ?> value="<?= $POST['fieldLDAP'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="admin">
                    <div class="col-sm-12 offset-md-1 col-md-10" id="bddForm">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#BDD"><?= TXT_INSTALLATION_BDD ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#feedback"><?= TXT_INSTALLATION_FEEDBACK ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#moodle"><?= TXT_INSTALLATION_MOODLE ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#perso"><?= TXT_INSTALLATION_CUSTOM ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink" href="#auth"><?= TXT_INSTALLATION_AUTH ?></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link colorLink active colorLinkActive" href="#admin"><?= TXT_INSTALLATION_ADMIN ?></a>
                            </li>
                        </ul>
                        <div class="blockInstall">
                            <h5 id="titlePage">VI- <?= TXT_INSTALLATION_ADMIN ?>
                                <!--<i type="button" data-toggle="modal" data-target="#helpAdmin" id="btnInfo" class="fa fa-question-circle" aria-hidden="true"></i>-->
                            </h5>

                            <!-- Modal -->
                            <div class="modal fade" id="helpAdmin" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><?= TXT_INSTALLATION_MODAL_TITLE ?></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p><?= TXT_INSTALLATION_MODAL_ADMIN_1 ?></p>
                                            <p><?= TXT_INSTALLATION_MODAL_ADMIN_2 ?></p>
                                                <a href="ftp://ftp.hp.com/pub/printers/mfps/ews_help/help/fr/help_LdapAuth2.html"><?= " ".TXT_INSTALLATION_HERE ?></a>.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE ?></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="formInstall">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_ADMIN_NAME ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="prenom.nom" name="adminName" type="text" id="adminName" required="required" <?= $disabled ?> value="<?= $POST['adminName'] ?? '' ?>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_INSTALLATION_PASSWORD ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="adminPw" type="password" id="adminPw" required="required" <?= $disabled ?>>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label><?= TXT_PASSWORD_CONFIRM ?></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="adminPwConfirm" type="password" id="adminPwConfirm" required="required" <?= $disabled ?>>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 offset-md-2 col-md-8" style="margin-bottom: 4vh">
                        <p style="color: red; text-align: center"><?= TXT_INSTALLATION_WARNING ?></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 offset-md-2 col-md-8">
                        <div class="col-sm-12" id="btnInstall">
                            <button type="submit" value="Installer" class="btn btn-outline-success" <?= $disabled ?>>
                                <?= TXT_INSTALLATION_LAUNCH_INSTALL ?>                                
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="../dist/js/global.js"></script>
<script type="text/javascript" src="scriptInstall.js"></script>
</html>