<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../dist/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../dist/css/app.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Installation</title>
</head>

<body id="successFront">

<div class="row">
    <div class="offset-5 col-sm-2">
        <img src="../dist/images/success2.png" style="width: 100%; margin-top: 20vh;" id="imgSuccess">
    </div>
</div>
<div class="row">
    <div class="offset-5 col-sm-2">
       <h3 style="text-align: center;color: white"><?= TXT_INSTALLATION_CONGRADULATION ?></h3>
    </div>
</div>
<div class="row">
    <div class="offset-3 col-sm-6">
        <p style="text-align: center;color: white"><?= TXT_INSTALLATION_BDD_SUCCESS ?></p>
    </div>
</div>
<div class="row">
    <div class="offset-3 col-sm-6">
        <div style="text-align: center;color: white">
            <a id="btnSuccess" class="btn btn-outline-success btn-lg" href="../index.php" ><b>ENJOY</b></a>
        </div>
    </div>
</div>


</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="../dist/js/global.js"></script>
</html>