<div class="row">
    <div class="col-xs-12">
        <h1><i class="fa fa-road" aria-hidden="true"></i>
            <?= TXT_SIDE_ROOTING ?></h1>
        <hr>
    </div>
</div>


<form action="/back-office/ajax/admin/rooting.php" method="post">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="section">
                <div class="row" style="margin-top: 5vh">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <label><?= TXT_INSTALLATION_MOODLE_TOKEN ?>
                                <i type="button" data-toggle="modal" data-target="#helpMoodle" id="btnInfo" class="fa fa-question-circle" aria-hidden="true"></i>
                            </label>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="helpMoodle" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><?= TXT_INSTALLATION_MODAL_TITLE ?></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><?= TXT_INSTALLATION_MODAL_MOODLE_1 ?></p>
                                        <p><?= TXT_INSTALLATION_MODAL_MOODLE_2 ?></p>
                                        <p><?= TXT_INSTALLATION_MODAL_MOODLE_3 ?><a href="https://docs.moodle.org/3x/fr/FAQ_App_Moodle_mobile"><?= TXT_INSTALLATION_HERE ?></a>
                                            )
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE ?></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <input class="form-control" placeholder="<?= $dataMoodle[0]['value'] ?>" name="tokenMoodle" type="text" id="tokenMoodle">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <label><?= TXT_INSTALLATION_MOODLE_URL ?></label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <input class="form-control" placeholder="<?= $dataMoodle[1]['value'] ?>" name="domainMoodle" type="text" id="domainMoodle">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <label><?= TXT_INSTALLATION_MOODLE_COURSE ?></label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <input class="form-control" name="courseMoodle" type="number" id="courseMoodle" placeholder="<?= $dataMoodle[2]['value'] ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12" style="text-align: center">
                        <input type="hidden" name="action" value="alterMoodle">
                        <button type="submit" class="btn btn-default">Modifier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>