<div id="cibleNew" style="visibility: hidden">

</div>


<section>
    <div id="addToTab">
        <h1><i class="fa fa-map-o"></i><?php echo TXT_ADMIN_MANAGE_ROOM; ?></h1>
        <hr>
        <?php foreach ($rooms as $room) : ?>
            <div class="col-md-4 col-sm-12 card-room">
                <div class="section">
                    <form action="/back-office/ajax/admin/room.php" method="POST">

                        <div class="form-group">
                            <label for="room-label"><?php echo TXT_ROOM.":"; ?></label>
                            <input type="text" value="<?= $room['description'] ?>" class="form-control"
                                   id="room-label" name="room-label" placeholder="Nom de la salle">
                        </div>
                        <input type="hidden" value="<?= $room['id'] ?>" name="room-id">
                        <input type="hidden" name="action" value="alter-room">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-pencil"></i><?php echo TXT_EDIT; ?>
                        </button>
                        <div class="del-room" data-room-id="<?= $room['id'] ?>"><i
                                class="fa fa-times"></i></div>
                    </form>
                </div>
            </div>
        <?php endforeach; ?>
    </div>

    <div class="clearfix"></div>
	<h3><?php echo TXT_ADMIN_ADD_ROOM; ?></h3>
	<div class="col-sm-12">
		<div class="section">
            <div class="form-group">
                <label for="room-label"><?php echo TXT_ROOM.":"; ?></label>
                <input type="text" value="" class="form-control"
                       id="room-label-input" name="room-label" placeholder="Nom de la salle">
            </div>
            <input type="hidden" name="action" value="add-room">
            <button onclick="requestAddRoom(readDataAdd)" class="btn btn-default">
                <i class="fa fa-plus"></i><?php echo " ".TXT_ADD; ?>
            </button>
		</div>
	</div>
</section>
