<div class="row">
    <h1>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <?= TXT_ADMIN_AUTH_TITLE ?>
    </h1>
</div>

<hr>

<div class="row">
    <div class="col-xs-12">
        <h3><i class="fa fa-floppy-o" aria-hidden="true"></i><?= TXT_ADMIN_AUTH_ACTUAL ?></h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4 style="margin-top: 3vh;margin-bottom: 3vh"><?= TXT_ADMIN_AUTH_AUTH ?><b><?= $typeAuth ?></b></h4>
    </div>
</div>
<div class="row section">
    <div class="col-xs-12 col-sm-6 ">
        <div class="table-responsive">
            <table class="table table-striped" style="margin-bottom: 5%">
                <thead class="table_preference">
                <tr>
                    <th><?= TXT_ADMIN_AUTH_ATTRIBUTE ?></th>
                    <th style="text-align: center"><?= TXT_ADMIN_AUTH_VALUE ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($data as $key => $value): ?>
                    <tr>
                        <td><?= $key ?></td>
                        <td><?= $value ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

    <form action="/back-office/ajax/admin/auth.php" method="post">
        <div >
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <h3 style="text-align: center"><i class="fa fa-exchange" aria-hidden="true"></i><?= TXT_ADMIN_AUTH_ALTER ?></h3>
                    </div>
                    <div class="row">
                        <div class="dropdown col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4" style="margin-top: 20px">
                            <select style="width: 100%" type="button" class="btn btn-default dropdown-toggle" id="secureSMTP"
                                    name="secureSMTP" required="required" onchange="requestAuth(readAuth)">
                                <option selected><?= TXT_ADMIN_AUTH_AUTH ?></option>
                                <option value="ldap"><?= TXT_ADMIN_AUTH_LDAP ?></option>
                                <!--<option value="ad"><//?= TXT_ADMIN_AUTH_AD ?></option>-->
                            </select>
                        </div>
                    </div>
                </div>


                <div id="targetAuth" style="margin-top: 10vh">

                </div>
            </div>
        </div>
    </form>
</div>
