<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
        <?php
    endforeach;
endif;
?>

<div id="cibleNew" style="visibility: hidden"></div>

<?php if ($view == 'list'): ?>
    <div id="addToTab">

        <h1><i class="fa fa-gavel"></i><?= TXT_ADMIN_RANK_LIST?></h1>
        <hr>
        <div class="table-responsive" >
            <table class="table table-striped" style="margin-bottom: 5%;">
                <thead class="table_preference">
                    <tr>
                        <th width="20%"><?= TXT_ADMIN_RANK_LIBELLE ?></th>
                        <th width="60%"><?= TXT_ADMIN_RANK_DESCRIPTION ?></th>
                        <th width="20%" class="center"><?= TXT_ADMIN_RANK_MODIFY ?></th>
                        <th class="center"><?= TXT_DELETE ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($priority_levels as $priority_level): ?>
                        <tr class="priorityLevelLine">
                            <td>
                                <?= $priority_level->getTitle() ?>
                            </td>
                            <td>
                                <?= $priority_level->getDescription() ?>
                            </td>
                            <td class="center">
                                <a href="?priority_level=<?= $priority_level->getId() ?>"><i class="fa fa-cog"></i> </a>
                            </td>

                            <td class="center">
                                <div class="del-priority_level" data-priority_level-id="<?= $priority_level->getId(); ?>"><i
                                            class="fa fa-times"></i></div>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h4><?= TXT_ADMIN_ADD_RANK ?></h4>
        <div class="form-group">
            <label for="title"><?= TXT_ADMIN_RANK_FORM_LIBELLE ?>: </label>
            <p class="help-block"><i class="fa fa-exclamation-circle"></i> <?php echo TXT_ID_HELP; ?></p>
            <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="description"><?= TXT_ADMIN_RANK_FORM_DESCRIPTION ?>: </label>
            <input  type="text" class="form-control" name="description" id="description">
        </div>
        <input type="hidden" name="action" value="add-priority_level">
        <button onclick="requestAddPriorityLevel(readDataAdd)" class="btn btn-default"><i class="fa fa-plus"></i><?= " " . TXT_ADMIN_RANK_BUTTON_ADD ?></button>
    </div>
<?php else: ?>
    <h1><?= TXT_ADMIN_RANK ?></h1>
    <div class="section">
        <h4><?= TXT_ADMIN_ADD_RANK ?></h4>
        <form class="form" action="/back-office/ajax/admin/priority_level.php" method="POST">
            <div class="form-group">
                <label for="idPriority_level"><?= TXT_ADMIN_RANK_ID ?>: </label>
                <input required type="text" value="<?= $priority_level['id'] ?>" readonly class="form-control" name="idPriority_level" id="idPriority_level">
            </div>
            <div class="form-group">
                <label for="title"><?= TXT_ADMIN_RANK_FORM_LIBELLE ?>: </label>
                <input type="text" value="<?= $priority_level['title'] ?>" class="form-control" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="description"><?= TXT_ADMIN_RANK_FORM_DESCRIPTION ?>: </label>
                <input type="text" value="<?= $priority_level['description'] ?>" class="form-control" name="description" id="description">
            </div>


            <div class="row">
                <div class="col-xs-6 col-sm-2" id="shootPadding">
                    <input type="hidden" name="action" value="alter-priority_level">
                    <button type="submit"  class="btn btn-default">
                        <i class="fa fa-pencil"></i><?= " " . TXT_ADMIN_RANK_BUTTON_ALTER ?>
                    </button>
                </div>
                <div class=" col-xs-1 col-sm-1">
                    <a href="/back-office/admin/management/priority_level.php" class="btn btn-default" role="button">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
<?php endif;
