<?php if (!empty($ERROR)) :
    foreach ($ERROR as $e): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong><?= TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php endforeach;
endif; ?>


<h1>
    <i class="fa fa-flag" aria-hidden="true"></i> <?= TXT_LANG_MANAGE; ?>
</h1>
<hr>
<div class="section" style="margin-top:5rem">
    <div class="row">
        <div class="col-xs-4">
            <h2 style="margin-top: 7%"><?= TXT_LANG_DEFAULT ?></h2>
        </div>
        <div class="col-xs-2 col-sm-1">
            <?= '<img onclick="showLang()" src="' . $defaultLangPath . '" style="width: 100%;cursor:pointer" />'; ?>
        </div>

        <?php foreach ($languages as $row):
            if ($row->getPathImg() != $defaultLangPath): ?>
                <div class="col-xs-2 col-sm-1">
                    <a href="?lang=<?= $row->getTitle() ?>&&action=alterLanguage&newLanguage=<?= $row->getTitle() ?>"><?= '<img class="imgFlagHover flag" src="' . $row->getPathImg() . '" style="width: 100%;visibility:hidden" />'; ?></a>
                </div>
            <?php endif;
        endforeach; ?>
    </div>
</div>
<div class="section" style="margin-top: 5rem;padding-top: 3rem">
    <div class="row">
        <div class="col-xs-4">
            <h2 style="margin-top: 12%"><?= TXT_LANG_MANAGE ?></h2>
        </div>
        <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel panel-default" role="tab" id="shootPanel">
                <?php foreach ($languages as $row): ?>
                    <div class="col-xs-2 col-sm-1">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false"
                           aria-controls="collapseAlterLang<?= $row->getTitle() ?>"
                           href="#collapseAlterLang<?= $row->getTitle() ?>"><?= '<img  src="' . $row->getPathImg() . '" style="width: 100%;" />'; ?></a>
                    </div>
                <?php endforeach; ?>
                <div class="col-xs-2 col-sm-1">
                    <a role="button" class="hvr-ripple-out" data-toggle="collapse" aria-controls="collapseAddLang"
                       href="#collapseAddLang" aria-expanded="false" style="width: 100%" data-parent="#accordion">
                        <img style="width: 100%" src="../../../../dist/images/add.svg.png"/>
                    </a>
                </div>
                <div class="row"></div>

                <div class="panel-collapse collapse" role="tabpanel" id="collapseAddLang">
                    <div class="panel-body">
                        <form method="post" action="language.php" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 style="text-align: center"><?= TXT_LANG_ADD_FILE ?></h2>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5rem">
                                <div class="col-xs-12 col-sm-6 col-lg-6">
                                    <h3><?= TXT_LANG_STEP_1 ?>
                                        <i class="fa fa-question-circle" aria-hidden="true" data-toggle="popover"
                                           title="<?= TXT_HELP ?>" data-content="<?= TXT_LANG_MODAL_STEP1 ?>"></i>
                                    </h3>
                                </div>
                                <?php foreach ($languages as $language): ?>
                                    <div class="col-xs-3 col-sm-2 col-lg-1">
                                        <a href="downloadLang.php?lang=<?= $language->getTitle() ?>">
                                            <img src="<?= $language->getPathImg() ?>" style="width: 50%">
                                        </a>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                            <div class="row" style="margin-top: 5rem">
                                <div class="col-xs-12 col-sm-6 col-lg-6">
                                    <h3><?= TXT_LANG_STEP_2 ?>
                                        <i class="fa fa-question-circle" aria-hidden="true" data-toggle="popover"
                                           title="<?= TXT_HELP ?>"
                                           data-content="<?= TXT_LANG_MODAL_STEP2 ?>">
                                        </i>
                                    </h3>
                                </div>
                                <div class="col-xs-4">
                                    <input style="margin-top: 2rem" type="file" name="fileLangPHP">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5rem">
                                <div class="col-xs-12 col-sm-6 col-lg-6">
                                    <h3><?= TXT_LANG_STEP_3 ?>
                                        <i class="fa fa-question-circle" aria-hidden="true" data-toggle="popover"
                                           title="<?= TXT_HELP ?>"
                                           data-content="<?= TXT_LANG_MODAL_STEP3 ?>">
                                        </i>
                                    </h3>
                                    <div style=";font-size: 0.6em">
                                        Icons made by
                                        <a href="http://www.freepik.com/" title="Freepik">Freepik</a>
                                        from
                                        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                                        is licensed by
                                        <a href="http://creativecommons.org/licenses/by/3.0/"
                                           title="Creative Commons BY 3.0"
                                           target="_blank">CC 3.0 BY</a>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <input style="margin-top: 2rem" type="file" name="fileLangIMG">
                                </div>
                            </div>
                            <div class="row submitFile" style="text-align: center">
                                <div class="col-xs-12">
                                    <button type="submit" name="action" value="add-lang" class="btn btn-success"
                                            style="width: 30rem"><?= TXT_ADD ?></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <?php foreach ($languages as $language): ?>
                    <div class="panel-collapse collapse" role="tabpanel"
                         id="collapseAlterLang<?= $language->getTitle() ?>">
                        <div class="panel-body">
                            <form method="post" action="language.php" enctype="multipart/form-data">
                                <div class="row ">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h2 style="text-align: center"><?= TXT_LANG_ALTER_FILE ?></h2>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 5rem">
                                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                                <h3><?= TXT_LANG_ALTER_STEP_1 ?>
                                                    <i class="fa fa-question-circle" aria-hidden="true"
                                                       data-toggle="popover"
                                                       title="<?= TXT_HELP ?>"
                                                       data-content="<?= TXT_LANG_ALTER_STEP_1 ?>"></i>
                                                </h3>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 col-lg-1">
                                                <a href="downloadLang.php?lang=<?= $language->getTitle() ?>">
                                                    <img src="<?= $language->getPathImg() ?>" style="width: 50%">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 5rem">
                                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                                <h3><?= TXT_LANG_STEP_ALTER_2 ?>
                                                    <i class="fa fa-question-circle" aria-hidden="true"
                                                       data-toggle="popover"
                                                       title="<?= TXT_HELP ?>"
                                                       data-content="<?= TXT_LANG_MODAL_STEP2 ?>">
                                                    </i>
                                                </h3>
                                            </div>
                                            <div class="col-xs-4">
                                                <input style="margin-top: 2rem" type="file" name="fileLangPHP">
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 5rem">
                                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                                <h3><?= TXT_LANG_STEP_3 ?>
                                                    <i class="fa fa-question-circle" aria-hidden="true"
                                                       data-toggle="popover"
                                                       title="<?= TXT_HELP ?>"
                                                       data-content="<?= TXT_LANG_MODAL_STEP3 ?>">
                                                    </i>
                                                </h3>
                                                <div style=";font-size: 0.6em">
                                                    Icons made by
                                                    <a href="http://www.freepik.com/" title="Freepik">Freepik</a>
                                                    from
                                                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                                                    is licensed by
                                                    <a href="http://creativecommons.org/licenses/by/3.0/"
                                                       title="Creative Commons BY 3.0"
                                                       target="_blank">CC 3.0 BY</a>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <input style="margin-top: 2rem" type="file" name="fileLangIMG">
                                            </div>
                                        </div>
                                        <div class="row submitFile" style="text-align: center">
                                            <div class="col-xs-12">
                                                <input type="hidden" name="lang-selected"
                                                       value="<?= $language->getTitle() ?>">
                                                <button type="submit" name="action" value="alter-lang"
                                                        class="btn btn-success"
                                                        style="width: 30rem"><?= TXT_EDIT ?></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>
</div>
