<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
        <?php
    endforeach;
endif;
?>

    <div id="cibleNew" style="visibility: hidden">

    </div>

<?php if ($view === 'list'): ?>
    <div id="addToTab">
        <h1>
            <i class="fa fa-paw" aria-hidden="true"></i><?= TXT_ADMIN_SPECIES_LIST//."(".count($species).")"; ?>
        </h1>
        <hr>
        <div class="table-responsive" >
            <table class="table table-striped" style="margin-bottom: 5%;">
                <thead class="table_preference">
                    <tr>
                        <th width="20%"><?= TXT_ADMIN_SPECIES_LIBELLE ?></th>
                        <th width="60%"><?= TXT_ADMIN_SPECIES_DESCRIPTION ?></th>
                        <th width="20%" class="center"><?= TXT_ADMIN_SPECIES_MODIFY ?></th>
                        <th class="center"><?= TXT_DELETE ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($species as $specie): ?>
                        <tr class="specieLine">
                            <td>
                                <?= $specie->getTitle(); ?>
                            </td>
                            <td>
                                <?= $specie->getDescription(); ?>
                            </td>
                            <td class="center">
                                <a href="?specie=<?= $specie->getId(); ?>"><i class="fa fa-cog"></i> </a>
                            </td>
                            <td class="center">
                                <div class="del-specie" data-specie-id="<?= $specie->getId(); ?>"><i
                                            class="fa fa-times"></i></div>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h4><?= TXT_ADMIN_ADD_CATEGORY ?></h4>
        <div class="form-group">
            <label for="title"><?= TXT_ADMIN_SPECIES_FORM_LIBELLE ?>: <span style="color: #cc0000">*</span></label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="description"><?= TXT_ADMIN_SPECIES_FORM_DESCRIPTION ?>: <span style="color: #cc0000">*</span></label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <input type="hidden" name="action" value="add-species">
        <button onclick="requestAddSpecie(readDataAdd)" class="btn btn-default"><i class="fa fa-plus"></i> <?= TXT_ADMIN_CATEGORY_BUTTON_ADD ?></button>
    </div>
<?php else: ?>
    <h1><?= TXT_ADMIN_SPECIES ?></h1>
    <div class="section">
        <h4><?= TXT_ADMIN_ADD_SPECIES ?></h4>
        <form class="form" action="/back-office/ajax/admin/species.php" method="POST">
            <div class="form-group">
                <label for="idSpecies"><?= TXT_ADMIN_SPECIES_ID ?>: </label>
                <input required type="text" value="<?= $specie->getId(); ?>" readonly class="form-control" name="idSpecies" id="idSpecies">
            </div>
            <div class="form-group">
                <label for="title"><?= TXT_ADMIN_SPECIES_FORM_LIBELLE ?>: <span style="color: #cc0000">*</span> </label>
                <input required type="text" value="<?= $specie->getTitle(); ?>" class="form-control" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="description"><?= TXT_ADMIN_SPECIES_FORM_DESCRIPTION ?>: <span style="color: #cc0000">*</span> </label>
                <input required type="text" value="<?= $specie->getDescription(); ?>" class="form-control" name="description" id="description">
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-2" id="shootPadding">
                    <input type="hidden" name="action" value="alter-species">
                    <button type="submit"  class="btn btn-default">
                        <i class="fa fa-pencil"></i> <?= TXT_ADMIN_SPECIES_BUTTON_ALTER ?>
                    </button>
                </div>
                <div class=" col-xs-1 col-sm-1">
                    <a href="/back-office/admin/management/species.php" class="btn btn-default" role="button">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
<?php endif;
