<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
        <?php
    endforeach;
endif;
?>

<div id="cibleNew" style="visibility: hidden">

</div>

<?php if ($view == 'list'): ?>
    <div id="addToTab">
        <h1 ><i class="fa fa-folder" aria-hidden="true"></i><?= TXT_ADMIN_CATEGORY_LIST//."(".count($categories).")"; ?></h1>
        <hr>
        <div id="cibleCategory" style="visibility: hidden"></div>
        <div class="table-responsive"  >
            <table  class="table table-striped" style="margin-bottom: 5%">
                <thead class="table_preference">
                <tr>
                    <th width="20%"><?= TXT_ADMIN_CATEGORY_LIBELLE ?></th>
                    <th width="60%"><?= TXT_ADMIN_CATEGORY_DESCRIPTION ?></th>
                    <th width="20%" class="center"><?= TXT_ADMIN_CATEGORY_MODIFY ?></th>
                    <th class="center"><?= TXT_DELETE ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($categories as $category):
                    ?>
                    <tr class="categoryLine">
                        <td>
                            <?= $category->getTitle(); ?>
                        </td>
                        <td>
                            <?= $category->getDescription(); ?>
                        </td>
                        <td class="center">
                            <a href="?category=<?= $category->getId(); ?>"><i class="fa fa-cog"></i> </a>
                        </td>
                        <td class="center">
                            <div class="del-category" data-category-id="<?= $category->getId(); ?>"><i
                                        class="fa fa-times"></i></div>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
        <div class="section" >
            <h4><?= TXT_ADMIN_ADD_CATEGORY ?></h4>
            <form>
                <div class="form-group">
                    <label for="title"><?= TXT_ADMIN_CATEGORY_FORM_LIBELLE ?>: </label>
                    <p class="help-block"><i class="fa fa-exclamation-circle"></i> <?php echo TXT_ID_HELP; ?></p>
                    <input  type="text" class="form-control" name="title" id="title">
                </div>
                <div class="form-group">
                    <label for="description"><?= TXT_ADMIN_CATEGORY_FORM_DESCRIPTION ?>: </label>
                    <input  type="text" class="form-control" name="description" id="description">
                </div>
                <input type="hidden" name="action" value="add-category">
                <button class="btn btn-default" onclick="requestAddCategory(readDataAdd)"><i class="fa fa-plus"></i><?= " " . TXT_ADMIN_CATEGORY_BUTTON_ADD ?></button>
            </form>
        </div>

<?php else: ?>
    <h1><?= TXT_ADMIN_CATEGORY ?></h1>
    <div class="section">
        <h4><?= TXT_ADMIN_ADD_CATEGORY ?></h4>
        <form class="form" action="/back-office/ajax/admin/category.php" method="POST">
            <div class="form-group">
                <label for="title"><?= TXT_ADMIN_CATEGORY_ID ?>: </label>
                <input required type="text" value="<?= $category->getId() ?>" readonly class="form-control" name="idCategory" id="idCategory">
            </div>
            <div class="form-group">
                <label for="title"><?= TXT_ADMIN_CATEGORY_FORM_LIBELLE ?>: </label>
                <input  type="text" value="<?= $category->getTitle() ?>" class="form-control" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="description"><?= TXT_ADMIN_CATEGORY_FORM_DESCRIPTION ?>:</label>
                <input  type="text" value="<?= $category->getDescription() ?>" class="form-control" name="description" id="description">
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-2" id="shootPadding">
                    <input type="hidden" name="action" value="alter-category" >
                    <button type="submit"  class="btn btn-default" >
                        <i class="fa fa-pencil"></i><?= " " . TXT_ADMIN_CATEGORY_BUTTON_ALTER ?>
                    </button>
                </div>
                <div class=" col-xs-1 col-sm-1">
                    <a href="/back-office/admin/management/category.php" class="btn btn-default" role="button">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
<?php endif;
