<div class="row">
    <h1>
        <i class="fa fa-gavel" aria-hidden="true"></i> <?= TXT_SIDE_LEGAL; ?>
    </h1>
    <hr>
</div>

<div class="row">
    <div class="col-xs-12">
        <input type="button"  class="btn btn-default" value="G" style="font-weight: bold;" onclick="commande('bold');" />
        <input type="button"  class="btn btn-default" value="I" style="font-style: italic;" onclick="commande('italic');" />
        <input type="button" value="S"  class="btn btn-default" style="text-decoration: underline;" onclick="commande('underline');" />
        <button type="button" value="JustifyLeft"  class="btn btn-default" onclick="commande('justifyleft');" ><i class="fa fa-align-left" aria-hidden="true"></i></button>
        <button type="button" value="JC"  class="btn btn-default" onclick="commande('justifycenter');" ><i class="fa fa-align-center" aria-hidden="true"></i></button>
        <button type="button" value="JR"  class="btn btn-default" onclick="commande('justifyright');" ><i class="fa fa-align-right" aria-hidden="true"></i></button>
        <button type="button" value="J"  class="btn btn-default" onclick="commande('justifyright');" ><i class="fa fa-align-justify" aria-hidden="true"></i></button>
        <input type="button" value="Lien"  class="btn btn-default" onclick="commande('createLink');" />
        <div class="dropup" style="display: inline">
            <select class="btn btn-default dropdown-toggle" onchange="commande('heading', this.value); this.selectedIndex = 0;">
                <option value="">Titre</option>
                <option value="h1">Titre 1</option>
                <option value="h2">Titre 2</option>
                <option value="h3">Titre 3</option>
                <option value="h4">Titre 4</option>
                <option value="h5">Titre 5</option>
                <option value="h6">Titre 6</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="editor" contentEditable>
            <?php foreach ($legalContent as $row):
                echo $row;
            endforeach; ?>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="text-align: center">
        <button type="button" class="btn btn-success" onclick="result(sendHTML);">Enregistrer</button>
    </div>
</div>
