<?php if (!empty($ERROR)) :
	foreach ($ERROR as $e): ?>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
			<strong><?= TXT_ERROR; ?></strong><br/> <?= $e ?>
		</div>
	<?php endforeach;
endif; ?>

<div id="cibleNew" style="visibility: hidden">

</div>


<?php if ($view == 'list'): ?>
    <div id="addToTab">
        <h1 >
            <i class="fa fa-key" aria-hidden="true"></i> <?= TXT_ADMIN_PROFILE_LIST; ?>
        </h1>

        <hr>

        <div class="table-responsive" >
            <table class="table table-striped" style="margin-bottom: 5%;">
                <thead class="table_preference">
                    <tr>
                        <th width="20%"><?= TXT_LABEL; ?></th>
                        <th width="60%"><?= TXT_DESCRIPTION; ?></th>
                        <th width="10%" class="center"><?= TXT_EDIT; ?></th>
                        <th width="10%" class="center"><?= TXT_ACTIVE; ?></th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($profiles as $profile): ?>
                    <tr class="profileLine">
                        <td>
                            <?= $profile['label'] ?>
                        </td>
                        <td>
                            <?= $profile['description'] ?>
                        </td>
                        <td class="center">
                            <a href="?profile=<?= $profile['id'] ?>"><i class="fa fa-cog"></i> </a>
                        </td>
                        <td class="center">
                            <div class="del-profile" data-profile-id="<?= $profile['id']; ?>">
                                <i class="fa fa-times"></i>
                            </div>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section">
        <h4><?= TXT_ADMIN_ADD_PROFILE; ?></h4>
        <div class="form-group">
            <label for="profile-label"><?= TXT_LABEL ?>:<span style="color: #cc0000">*</span> </label>
            <input required type="text" class="form-control" name="profile-label" id="profile-label">
        </div>
        <div class="form-group">
            <label for="profile-description"><?= TXT_DESCRIPTION ?><span style="color: #cc0000">*</span> </label>
            <input required type="text" class="form-control" name="profile-description" id="profile-description">
        </div>
        <input type="hidden" name="action" value="add-profile">
        <button onclick="requestAddProfile(readDataAdd)" class="btn btn-default"><i class="fa fa-plus"></i> <?= TXT_ADD; ?></button>
    </div>

<?php else: ?>
<div id="contentToAdd" style="visibility: hidden"></div>

    <div id="contentToSupp">
        <h1><i class="fa fa-key" aria-hidden="true"></i> <?= TXT_PROFILE; ?></h1>
        <h3 ><?= TXT_ADMIN_PROFILE_NAME ?>: <?= $profile['label'] ?>
            <div class=" col-xs-1 col-sm-1" id="shootPadding">
                <a href="/back-office/admin/users/profile.php" class="btn btn-default" role="button">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                </a>
            </div>
            <input type="hidden" id="idProfile" value="<?= $profile['id']?>">
            <button class="btn btn-default" style="border:0" type="button" data-toggle="collapse" data-target="#collapseUnlockProfile" onclick="requestAdminProfile(readDataProfileNot)" id="adminLstProfile"   aria-expanded="false" value="<?=$profile['id'] ?>">
                <i id="editgroupename" class="fa fa-unlock" aria-hidden="true"></i>
            </button>
            <button class="btn btn-default" style="border:0" type="button" data-toggle="collapse" data-target="#collapseDel-Profile" aria-expanded="false">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </button>
        </h3>

        <section class="section">
            <h5 class="section_title"><i class="fa fa-unlock" aria-hidden="true"></i><?= " ". TXT_ADMIN_PROFILE_RIGHTS; ?></h5>
            <h6><?= TXT_ADMIN_PROFILE_RIGHTS_HELP ?></h6>
            <div class="section_content">
                <div class="row">
                    <?php foreach ($rights as $right) : ?>
                        <button  style="margin-top: 1vh;margin-bottom: 1vh;" type="button" class="btn btn-default col-sm-2 col-xs-6 fa fa-unlock" data-container="body" data-toggle="popover" data-placement="left" data-content="<?= $right['description'] ?>">
                            <?=$right['label']?>
                        </button>
                    <?php endforeach; ?>
                </div>
            </div>
        </section>

        <div class="collapse">
            <form action="/back-office/ajax/admin/right.php" method="POST">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 ><i class="fa fa-plus-square-o" aria-hidden="true"></i><?= TXT_ADMIN_ADD_RIGHT ?></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <input type="text"value="" name="right-label" id="right-label-input" class="form-control" placeholder="<?= TXT_LABEL ?>">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input type="hidden" value="<?=$profile['id'] ?>" class="form-control" name="id-profile" id="id-profile-input" placeholder="<?= TXT_DESCRIPTION ?>">
                            <input type="text" value="" class="form-control" name="right-description" id="right-description-input" placeholder="<?= TXT_DESCRIPTION ?>">
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <input type="hidden" name="action" value="add-right">
                            <button type="submit"  class="btn btn-default" >
                                <i class="fa fa-plus"></i><?= " " . TXT_ADD ?>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="collapse" id="collapseDel-Profile">
            <div class="well">
                <div class="row">
                    <h3 >
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <?= TXT_ADMIN_DELETE_RIGHT; ?>
                    </h3>
                </div>

                <div class="row" id="lstRightsToRemove">
                    <?php foreach ($rights as $right) : ?>
                        <div class="col-sm-3">
                            <input style="margin-top: 1vh;margin-bottom: 1vh;"
                                   type="checkbox"
                                   <?php if($right['label'] == 'edit:profiles'){echo 'disabled=""' ;} ?>"
                                   value="<?= $right['id'] ?>"
                                   id="<?= $right['id'] ?>">
                            <?=$right['label']?>
                            </input>
                        </div>
                    <?php endforeach; ?>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-5 col-sm-2">
                        <input type="hidden" name="action" value="add-right">
                        <button class="btn btn-default" onclick="requestDeleteRight(readProfile)">
                            <i class="fa fa-lock" aria-hidden="true"></i><?= " " . TXT_DELETE ?>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="collapse" id="collapseEditProfile">
            <div class="well">
                <div class="row">
                    <h3 >
                        <i class="fa fa-pencil"></i>
                        <?php echo TXT_ADMIN_UPDATE_RIGHT; ?>
                    </h3>
                </div>

                <div class="row" id="lstRightsToUpdate">
                    <?php foreach ($rights as $right) : ?>
                        <div class="col-sm-3 ">
                            <input class="form-control"
                                   style="margin-top: 1vh;margin-bottom: 1vh;"
                                   type="text"
                                   value="<?= $right['label'] ?>">
                            </input>

                        </div>
                    <?php endforeach; ?>
                    <?php foreach ($rights as $right) : ?>
                        <div class="col-sm-3 ">
                            <input class="form-control"
                                   style="margin-top: 1vh;margin-bottom: 1vh;"
                                   type="hidden"
                                   value="<?= $right['id'] ?>">
                            </input>
                        </div>
                    <?php endforeach; ?>
                </div>
                <div id="lstDescriptionRight">
                    <?php foreach ($rights as $right) : ?>
                        <div class="col-sm-3 ">
                            <input class="form-control"
                                   style="margin-top: 1vh;margin-bottom: 1vh;"
                                   type="hidden"
                                   value="<?= $right['description'] ?>">
                            </input>
                        </div>
                    <?php endforeach; ?>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-5 col-sm-2">
                        <input type="hidden" name="action" value="add-right">
                        <button class="btn btn-default" onclick="requestUpdateRight(readProfile)">
                            <i class="fa fa-pencil"></i><?= " " . TXT_EDIT ?>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="well" id="collapseUnlockProfile" style="visibility: hidden">
    </div>




</div>
<?php endif;?>
