
<div class="row">
    <h1>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <?= TXT_ADMIN_MAILER_TITLE ?>
    </h1>
    <hr>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="section">
            <form action="/back-office/ajax/admin/mailer.php" method="post">
                <div class="row" style="margin-top: 5vh">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <label><?= TXT_INSTALLATION_SMTP_HOST ?>
                                <i type="button" data-toggle="modal" data-target="#helpFeedback" id="btnInfo" class="fa fa-question-circle" aria-hidden="true"></i>
                            </label>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="helpFeedback" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><?= TXT_INSTALLATION_MODAL_TITLE ?></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><?= TXT_INSTALLATION_MODAL_FEEDBACK_1 ?></p>
                                        <p><?= TXT_INSTALLATION_MODAL_FEEDBACK_2 ?><a href="https://serversmtp.com/fr/configuration-smtp/"target="_blank">lien</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE ?></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <input class="form-control" placeholder="<?= $smtpData['host'] ?>" name="hostSMTP" type="text" id="hostSMTP" required="required">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <label><?= TXT_INSTALLATION_SMTP_SECURE ?></label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <div class="dropdown" >
                            <select style="width: 100%" type="button" class="btn btn-default dropdown-toggle" id="secureSMTP" name="secureSMTP" required="required">
                                <option selected><?= TXT_INSTALLATION_SELECT_OPTION ?></option>
                                <option value="ssl"><?= TXT_INSTALLATION_SMTP_SSL ?></option>
                                <option value="tls"><?= TXT_INSTALLATION_SMTP_TLS ?></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <label><?= TXT_INSTALLATION_SMTP_PORT ?></label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <input class="form-control" name="portSMTP" type="number" id="portSMTP" required="required" placeholder="<?= $smtpData['port'] ?>">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <label><?= TXT_INSTALLATION_SMTP_HOST_EMAIL ?></label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <input class="form-control" placeholder="<?= $smtpData['user_name'] ?>" name="emailSMTP" id="emailSMTP" type="email" required="required">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                        <div class="form-group">
                            <label><?= TXT_INSTALLATION_PASSWORD ?></label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <input class="form-control" name="passwordSMTP" required="required" type="password" id="passwordSMTP">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12" style="text-align: center">
                        <input type="hidden" name="action" value="alterSMTP">
                        <button type="submit" class="btn btn-default"><?= TXT_EDIT ?></button>
                    </div>
                </div>
            </form>

</div>
