<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
        <?php
    endforeach;
endif;
?>

    <div id="cibleNew" style="visibility: hidden">

    </div>


<?php if ($view == 'list'): ?>
    <div id="addToTab">
        <h1><i class="fa fa-map-signs" aria-hidden="true"></i><?= TXT_ADMIN_DISCIPLINE_LIST//."(".count($disciplines).")"; ?></h1>
        <!--<h3><?//= TXT_ADMIN_DISCIPLINE_NB . " : "; ?><?//= count($disciplines) ?></h3>-->
        <hr>
        <div class="table-responsive" >
            <table class="table table-striped" style="margin-bottom: 5%;">
                <thead class="table_preference">
                    <tr>
                        <th width="20%"><?= TXT_ADMIN_DISCIPLINE_LIBELLE ?></th>
                        <th width="60%"><?= TXT_ADMIN_DISCIPLINE_DESCRIPTION ?></th>
                        <th width="20%" class="center"><?= TXT_ADMIN_DISCIPLINE_MODIFY ?></th>
                        <th class="center"><?= TXT_DELETE ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($disciplines as $discipline): ?>
                        <tr class="disciplineLine">
                            <td>
                                <?= $discipline['title'] ?>
                            </td>
                            <td>
                                <?= $discipline['description'] ?>
                            </td>
                            <td class="center">
                                <a href="?discipline=<?= $discipline['id'] ?>"><i class="fa fa-cog"></i> </a>
                            </td>
                            <td class="center">
                                <div class="del-discipline" data-discipline-id="<?= $discipline['id']; ?>"><i
                                            class="fa fa-times"></i></div>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h4><?= TXT_ADMIN_ADD_DISCIPLINE ?></h4>
        <div class="form-group">
            <label for="title"><?= TXT_ADMIN_DISCIPLINE_FORM_LIBELLE ?>: </label>
            <p class="help-block"><i class="fa fa-exclamation-circle"></i> <?php echo TXT_ID_HELP; ?></p>
            <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="description"><?= TXT_ADMIN_DISCIPLINE_FORM_DESCRIPTION ?>: </label>
            <input  type="text" class="form-control" name="description" id="description">
        </div>
        <input type="hidden" name="action" value="add-discipline">
        <button onclick="requestAddDiscipline(readDataAdd)" class="btn btn-default"><i class="fa fa-plus"></i><?= " " . TXT_ADMIN_DISCIPLINE_BUTTON_ADD ?></button>
    </div>

<?php else: ?>

    <h1><?= TXT_ADMIN_DISCIPLINE ?></h1>
    <div class="section">
        <h4><?= TXT_ADMIN_ADD_DISCIPLINE ?></h4>
        <form class="form" action="/back-office/ajax/admin/discipline.php" method="POST">
            <div class="form-group">
                <label for="title"><?= TXT_ADMIN_DISCIPLINE_ID ?>: </label>
                <input required type="text" value="<?= $discipline['id'] ?>" readonly class="form-control" name="idDiscipline" id="idDiscipline">
            </div>
            <div class="form-group">
                <label for="title"><?= TXT_ADMIN_DISCIPLINE_FORM_LIBELLE ?>: </label>
                <input  type="text" value="<?= $discipline['title'] ?>" class="form-control" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="description"><?= TXT_ADMIN_DISCIPLINE_FORM_DESCRIPTION ?>: </label>
                <input  type="text" value="<?= $discipline['description'] ?>" class="form-control" name="description" id="description">
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-2" id="shootPadding">
                    <input type="hidden" name="action" value="alter-discipline">
                    <button type="submit"  class="btn btn-default">
                        <i class="fa fa-pencil"></i><?= " " . TXT_ADMIN_DISCIPLINE_BUTTON_ALTER ?>
                    </button>
                </div>
                <div class=" col-xs-1 col-sm-1">
                    <a href="/back-office/admin/management/discipline.php" class="btn btn-default" role="button">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

<?php endif;
