<?php if (!empty($ERROR)) :
    foreach ($ERROR as $e): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong><?= TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php endforeach;
endif; ?>
<?php if (!empty($SUCCESS)) :
    foreach ($SUCCESS as $e): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <?= $e ?>
        </div>
    <?php endforeach;
endif; ?>
<section class="panel panel-default">
	<div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-3">
                <h3 style="display: inline"><i class="fa fa-user-plus"></i><?= TXT_ADMIN_ADD_USER; ?></h3>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
                <div class="btn-group" style="width: 100%">
                    <select style="width: 100%" name="dowpdown" size="1" id="selectAccount" class="btn btn-default dropdown-toggle" onchange="requestAccount(readAccount);">
                        <option value="manual"><?= TXT_ACCOUNT ?></option>
                        <option value="manual"><?= TXT_MANUAL_ACCOUNT; ?></option>
                        <?php if($authType == "ldap") :?>
                            <option value="ldap"><?= TXT_LDAP_ACCOUNT; ?></option>
                        <?php endif;?>
                    </select>
                </div>
            </div>
        </div>
	</div>
	<div class="panel-body">
        <div id="newForm" style="visibility: hidden"></div>
        <div id="defaultForm">
            <form action="/back-office/ajax/admin/user.php" method="POST">
                <div class="form-group">
                    <label for="user-upn"><?php echo TXT_LOGIN; ?></label>
                    <input required type="text" value="" placeholder="john.doe" name="user-upn"
                           class="form-control" id="user-upn">
                </div>
                <div class="form-group">
                    <label for="user-upn"><?= TXT_REGISTER_MAIL ?></label>
                    <input required type="email"  placeholder="john.doe@oniris-nantes.fr" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <?php foreach ($profiles as $profile): ?>
                        <label class="radio-inline">
                            <input type="radio" name="user-profile" id="profile<?=$profile['id']?>" value="<?=$profile['id']?>"> <?=$profile['label']?>
                        </label>
                    <?php endforeach; ?>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <input type="hidden" aria-hidden="true" name="action" value="user-add-manual">
                        <button type="submit" class="btn btn-primary" data-loading-text="Création…">
                            <i class="fa fa-paper-plane"></i> <?= TXT_ADD; ?>
                        </button>
                    </div>
                </div>
            </form>
        </div>
	</div>
</section>
<!--Import LDAP UTILITY ???
<section class="panel panel-default">
	<div class="panel-heading">
		<h3><?= TXT_ADMIN_IMPORT_USER_LDAP; ?></h3>
	</div>
	<div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
		        <button class="btn btn-primary" id="importLDAP" type="button" data-loading-text="Importation…">
                    <i class="fa fa-server"></i><?= TXT_IMPORT; ?>
                </button>
            </div>
        </div>
	</div>
</section>-->

<section class="panel panel-default">
	<div class="panel-heading">
		<h3><?= TXT_ADMIN_IMPORT_USER_CSV; ?></h3>
	</div>
	<div class="panel-body">
        <div class="row">
            <?= TXT_ADMIN_IMPORT_USER_HELP; ?>
            <i data-container="body" data-toggle="popover" data-placement="right" data-content="Profile (student, manag, admin)" class="fa fa-question-circle" aria-hidden="true"></i>
        </div>
        <div class="row">
            <code><?=TXT_FIRST_NAME.';'.TXT_NAME_FIELD.';'.TXT_REGISTER_FIELD.';'.TXT_REGISTER_MAIL.';'.TXT_PROFILE?></code>
        </div>
        <form action="/back-office/admin/users/user.php" enctype="multipart/form-data" method="POST" class="ajax-search">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <input type="file" name="csv" required id="monInputFile">
                    <!--<input type="button" value="<?//= TXT_BROWSE?>" class="btn btn-info" onclick="$('#monInputFile').click();"/>-->
                    <input type="hidden" name="action" value="csvImport">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-server"></i><?= TXT_IMPORT; ?> CSV</button>
                </div>
            </div>
        </form>
	</div>
</section>

<?php
include "./../../../../view/back-office/blocks/ajax/admin_users_sync.phtml";
