<?php if (!empty($ERROR)) :
    foreach ($ERROR as $e): ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong><?= TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php endforeach;
endif; ?>

<?php if (!empty($SUCCESS)) :
    foreach ($SUCCESS as $e): ?>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
             <center><?= $e ?></center>
        </div>
    <?php endforeach;
endif; ?>

<h1>
    <i class="fa fa-picture-o" aria-hidden="true"></i> <?= TXT_CUSTOM_APPLI; ?>
</h1>
<hr>
<form action="../../../back-office/admin/custom/view.php" method="post" enctype="multipart/form-data" class="ajax-search">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="section" style="height: 50rem">
                <div class="row" >
                    <div class="col-xs-12">
                        <h3><?= TXT_VIEW_ALTER_LOGO ?></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                        <img src="/<?= $logo; ?>" style="width: 100%">
                    </div>
                </div>
                <div class="row" style="margin-top: 2rem">
                    <div class="col-xs-12">
                        <div class="custom-file">
                            <input type="file" name="logoFile" class="custom-file-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="section" style="height: 50rem">
                <div class="row" >
                    <div class="col-xs-12">
                        <div class="form-group" >
                            <label><h3><?= TXT_VIEW_TITLE ?></h3></label>
                            <input type="text" class="form-control" name="title" placeholder="<?= $title ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label><h3><?= TXT_VIEW_SUPPORT ?></h3></label>
                            <input type="email" class="form-control" name="supportTech" placeholder="<?= $support ?>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label><h3><?= TXT_DOMAIN ?></h3></label>
                            <input type="text" class="form-control" name="domain" placeholder="<?= $domain ?>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5vh">
        <div class="col-xs-12 col-sm-12" >
            <button type="submit" class="btn btn-primary"><?= TXT_VIEW_SAVE_CHANGE ?></button>
        </div>
    </div>
</form>
