<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
        <?php
    endforeach;
endif;
?>

    <div id="cibleNew" style="visibility: hidden">

    </div>


<?php if ($view == 'list'): ?>
    <div id="addToTab">
        <h1>
            <i class="fa fa-folder-o" aria-hidden="true"></i>
            <?= TXT_ADMIN_SUB_CATEGORY_LIST//."(".count($subcategorys).")"; ?>
        </h1>
        <hr>
        <!--<h3><?//= TXT_ADMIN_CATEGORY_NB . " : "; ?><?//= count($subcategorys) ?></h3>-->

         <div class="table-responsive" >
            <table class="table table-striped" style="margin-bottom: 5%">
                <thead class="table_preference">
                    <tr>
                        <th width="20%"><?= TXT_ADMIN_SUB_CATEGORY_LIBELLE ?></th>
                        <th width="60%"><?= TXT_ADMIN_SUB_CATEGORY_DESCRIPTION ?></th>
                        <th width="20%" class="center"><?= TXT_ADMIN_SUB_CATEGORY_MODIFY ?></th>
                        <th><?= TXT_DELETE ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($subcategories as $subcategory): ?>
                    <tr class="subCategoryLine">
                        <td>
                            <?= $subcategory['title'] ?>
                        </td>
                        <td>
                            <?= $subcategory['description'] ?>
                        </td>
                        <td class="center">
                            <a href="?subcategory=<?= $subcategory['id'] ?>"><i class="fa fa-cog"></i> </a>
                        </td>
                        <td class="center" >
                            <div class="del-sub-category" data-sub-category-id="<?= $subcategory['id']; ?>">
                                <i class="fa fa-times"></i>
                            </div>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
         </div>
    </div>

    <div class="section">
        <h4><?= TXT_ADMIN_ADD_SUB_CATEGORY ?></h4>
        <div class="form-group">
            <label for="title"><?= TXT_ADMIN_SUB_CATEGORY_FORM_LIBELLE ?>: </label>
            <p class="help-block"><i class="fa fa-exclamation-circle"></i> <?php echo TXT_ID_HELP; ?></p>
            <input  type="text" class="form-control" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="description"><?= TXT_ADMIN_SUB_CATEGORY_FORM_DESCRIPTION ?>: </label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <input type="hidden" name="action" value="add-subcategory">
        <button onclick="requestAddSubCategory(readDataAdd)" class="btn btn-default"><i class="fa fa-plus"></i><?= " " . TXT_ADMIN_SUB_CATEGORY_BUTTON_ADD ?></button>
    </div>
<?php else: ?>
    <h1><?= TXT_ADMIN_SUB_CATEGORY ?></h1>
    <div class="section">
        <h4><?= TXT_ADMIN_ADD_SUB_CATEGORY ?></h4>
        <form class="form" action="/back-office/ajax/admin/sub_category.php" method="POST">
            <div class="form-group">
                <label for="idSubcategory"><?= TXT_ADMIN_SUB_CATEGORY_ID ?>: </label>
                <input required type="text" value="<?= $subcategory['id'] ?>" readonly class="form-control" name="idSubcategory" id="idSubcategory">
            </div>
            <div class="form-group">
                <label for="title"><?= TXT_ADMIN_SUB_CATEGORY_FORM_LIBELLE ?>: </label>
                <input  type="text" value="<?= $subcategory['title'] ?>" class="form-control" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="description"><?= TXT_ADMIN_SUB_CATEGORY_FORM_DESCRIPTION ?>: </label>
                <input  type="text" value="<?= $subcategory['description'] ?>" class="form-control" name="description" id="description">
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-2" id="shootPadding">
                    <input type="hidden" name="action" value="alter-subcategory">
                    <button type="submit"  class="btn btn-default">
                        <i class="fa fa-pencil"></i><?= " " . TXT_ADMIN_SUB_CATEGORY_BUTTON_ALTER ?>
                    </button>
                </div>
                <div class=" col-xs-1 col-sm-1">
                    <a href="/back-office/admin/management/sub_category.php" class="btn btn-default" role="button">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
<?php endif;
