<?php
if (!empty($ERROR)) :
    foreach ($ERROR as $e):
        ?>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong><?php echo TXT_ERROR; ?></strong><br/> <?= $e ?>
        </div>
    <?php
    endforeach;
endif;
?>

<div id="cibleNew" style="visibility: hidden">

</div>


<?php if ($view == 'list'): ?>
    <div id="addToTab">

        <h1>
            <i class="fa fa-file"></i><?= TXT_ADMIN_EVALUATION_SCALE_LIST//."(".count($groupes).")"; ?>
        </h1>
        <hr>
        <div class="table-responsive" >
            <table class="table table-striped" style="margin-bottom: 5%;">
                <thead class="table_preference">
                    <tr>
                        <th width="80%"><?= TXT_LABEL; ?></th>
                        <th width="10%" class="center"><?= TXT_EDIT; ?></th>
                        <th width="10%" class="center"><?= TXT_DELETE; ?></th>
                    </tr>
                </thead>
                <tbody id="table-groupe">

                    <?php foreach ($scale_types as $scaleT): ?>
                        <tr>
                            <td>
                                <?= $scaleT['label'] ?>
                            </td>
                            <td class="center">
                                <a href="?scale=<?= $scaleT['id'] ?>"><i class="fa fa-cog"></i> </a>
                            </td>
                            <td class="center">
                                <span  class="del-scale_type" data-id-scale_type=<?= $scaleT['id'] ?>><i class="fa fa-times"></i></span>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section">
        <h4><?= TXT_ADMIN_EVALUATION_ADD_SCALE; ?></h4>
        <div class="form-group">
            <label for="scale_type-label"><?= TXT_LABEL ?>: <span style="color: #cc0000">*</span> </label>
            <input required type="text" class="form-control" name="scale_type-label" id="scale_type-label">
        </div>
        <input type="hidden" name="action" value="create-scale_type">
        <button onclick="requestAddScaleType(readDataAdd)" class="btn btn-default">
            <i class="fa fa-plus"></i> <?= TXT_ADMIN_CATEGORY_BUTTON_ADD; ?>
        </button>
    </div>

<?php else: ?>

    <h1><i class="fa fa-file"></i> <?= TXT_SCALE; ?></h1>
    <div class="row">
        <div class="col-xs-12">
            <h3><?= TXT_NAME; ?>: <?= $scale_type['label'] ?>
                <div class=" col-xs-1 col-sm-1" id="shootPadding">
                    <a href="/back-office/admin/management/scale_type.php" class="btn btn-default" role="button">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    </a>
                </div>
            </h3>
        </div>
        <div class="col-xs-12">
            <p class="help-block" style="margin-bottom: 5vh;"><i class="fa fa-exclamation-circle"></i> <?= TXT_ADMIN_EVALUATION_HELP; ?></p>
        </div>
    </div>

            <div class="row">
        <div class="col-sm-6">
            <h3 class="sortable-list header"><?= TXT_SCALE; ?> :</h3>
            <ul id="sortablelist" class="sortable-list list-group" data-id-scale_type="<?= $scale_type['id'] ?>">
                <?php foreach ($scales as $scale): ?>
                    <li data-id="<?= $scale->getId() ?>" class="list-group-item" style="border-top-left-radius: 0; border-top-right-radius: 0">
                        <span class="drag-handle"><i class="fa fa-arrows" aria-hidden="true" id="moveIcon"  style="position: initial"></i></span>
                        <?= $scale->getLabel() ?> <span
                            style="color: #999">( <?= $scale->getScaleItemCode() ?> )</span>
                        <span class="js-edit-scale" data-scale="<?= $scale->getLabel() ?>">Edit</span>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3 class="sortable-list header"><?= TXT_ADMIN_EVALUATION_AVAILABLE; ?> :</h3>
            <ul id="sortableNotList" class="sortable-list list-group" >
                <?php foreach ($notgrouped as $scale): ?>
                    <li data-id="<?= $scale->getId() ?>" class="list-group-item" style="border-top-left-radius: 0; border-top-right-radius: 0;<?php if($scale->getDeleted()== 1): echo "background-color:#ff5b5b"; endif; ?>">
                        <span class="drag-handle"><i class="fa fa-arrows" aria-hidden="true" id="moveIcon" style="position: initial;cursor: grab;"></i></span>
                        <?= $scale->getLabel() ?> <span
                            style="color: #999">( <?= $scale->getScaleItemCode() ?>&nbsp;)</span>
                        <span class="js-edit-scale" data-scale="<?= $scale->getLabel() ?>">Edit</span>
                        <?php if($scale->getDeleted()== 1):?>
                            <i class="js-add fa fa-plus" style="color: green;"></i>
                        <?php else:?>
                            <i class="js-remove fa fa-2x fa-times-circle"></i>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button id="add-scale" class="btn btn-default" style="margin-bottom: 5vh;margin-top:5vh"> <?= TXT_ADMIN_EVALUATION_ADD_SCALE_ITEM; ?></button>
        </div>
        <div class="col-xs-6"  class="input-group">
            <form method="post" action="../../ajax/scales_moodle.php" class="ajax-search">
                <input class="form-control" type="text" name="idScaleMoodle" style="margin-bottom: 5vh;margin-top:5vh;width: 4em;display: inline">
                <button class="btn btn-primary" type="submit" style="margin-bottom: 5vh;margin-top:5vh">
                    <i class="fa fa-exchange" aria-hidden="true"></i> <?= TXT_ADMIN_EVALUATION_MOODLE_SCALES ?>
                </button>
            </form>
        </div>
    </div>


    <div class="edit-scale" id="edit-scale">
        <div class="edit-scale-header">
            <div class="edit-scale-close"><i class="fa fa-times"></i></div>
            <h3><?= TXT_ADMIN_EVALUATION_EDIT_SCALE; ?>:</h3>
        </div>
        <div class="edit-scale-content">
            <form action="/back-office/ajax/admin/scale_type.php" method="POST">
                <div class="form-group">
                    <label for="scale-label"><?= TXT_LABEL; ?>:<span class="text-danger">*</span></label>
                    <input required type="text" value="" id="scale-label" name="scale-label" class="form-control">
                </div>
                <input type="hidden" name="scale-id" id="scale-id" value="">
                <input type="hidden" name="action" value="alter-scale">
                <button type="submit" class="btn btn-primary"><?= TXT_APPLY; ?></button>
            </form>
        </div>
    </div>

    <div class="edit-scale" id="create-scale">
        <div class="edit-scale-header">
            <div class="edit-scale-close"><i class="fa fa-times"></i></div>
            <h3><?= TXT_ADMIN_EVALUATION_ADD_SCALE; ?></h3>
        </div>
        <div class="edit-scale-content">
            <form action="/back-office/ajax/admin/scale_type.php" method="POST">
                <div class="form-group">
                    <label for="create-scale-label"><?= TXT_LABEL; ?>:<span class="text-danger">*</span></label>
                    <input required type="text" value="" id="create-scale-label" name="scale-label"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="create-scale-code"><?= TXT_ID; ?>: <span class="text-danger">*</span></label>
                    <p class="help-block"><i class="fa fa-exclamation-circle"></i> <?= TXT_ID_HELP; ?>
                    </p>
                    <input required type="text" value="" id="create-scale-code" name="scale-code" class="form-control">
                </div>
                <input type="hidden" name="action" value="create-scale">
                <button type="submit" class="btn btn-primary"><?= TXT_APPLY; ?></button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.js"></script>

    <script type="text/javascript" src="/dist/js/scale.js"></script>
<?php endif; ?>
