<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mim'Alfort workshop management">
  <meta name="author" content="EnvA">
  <link rel="icon" href="/favicon.png">

  <title>CSLManager</title>

  <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/dist/css/app.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.min.css" media="all"/>
</head>
<body>

<?php include __DIR__ . '/blocks/navbar.phtml'; ?>

<div class="container">
  <h1>About</h1>
  <p><abbr title="CSL">CSL</abbr> Manager is a web-application developed jointly by the teams of the national veterinary school of Alfort
      <a href="//www.vet-alfort.fr/" title="ENVA">Maisons-Alfort</a>
      and the national school of veterinary medicine, food sciences and engineering <a href="//www.oniris-nantes.fr/"
      title="Oniris">Nantes</a>.
  </p>
  <p>
      This application is intended for veterinary clinical skills labs, made up of a large number of workshops on which students
      in initial training are practicing the acquisition of technical gestures and procedures in open-access mode.
  </p>
  <p>
      It allows students to self-evaluate and generate exportable statistics on the exercises completed or still to be done.
  </p>
    <p>
        It also allows the manager of rooms, through an administration interface, to manage the list of workshops (creation / modification / deletion), to monitor the progress of students and to produce a set of statistics on student activity .
    </p>
  <p>
      It also interfaces with Moodle instances using WebServices, which allows to create a link to a course where additional documents (videos, records, etc.) are stored and where the student's learning can feed his Training courses.
  </p>
  <hr/>
  <h3>Colophon</h3>
    <h5>Designers  :</h5>
    <ul>
        <li>Henry Château, Marine Vermot des Roches (École nationale vétérinaire d’Alfort)</li>
        <li>Marc Gogny, Anne Gogny, Frédéric Auffray (Oniris)</li>
    </ul>
  <h5>Developers :</h5>
  <ul>
    <li>Gabriel Poma (École Nationale Vétérinaire de Maisons-Alfort)</li>
    <li>Arthur Valvert, Rémi André (Oniris)</li>
	</ul>
  <h5>Translators :</h5>
  <ul>
    <li>Marc Gogny, Arthur Valvert (English Version 🇬🇧)</li>
	</ul>
	<h5>Librairies :</h5>
	<p><abbr title="CSL">CSL</abbr> Manager use the following open source softwares:</p>
	<ul>
		<li><a href="http://getbootstrap.com/" target="_blank" title="Twitter Bootstrap">
				Bootstrap (MIT)
			</a>
		</li>
		<li><a href="https://github.com/endroid/QrCode" target="_blank" title="QRCode">
				Endroid/QRCode (MIT)
			</a>
		</li>
		<li><a href="https://vespula.bitbucket.io/ldap/" target="_blank" title="Vespula LDAP">
				Vespula.Ldap (MIT)
			</a>
		</li>
		<li><a href="https://vespula.bitbucket.io/auth" target="_blank" title="Vespula Auth">
				Vespula.Auth (MIT)
			</a>
		</li>
		<li><a href="http://container.thephpleague.com/" target="_blank" title="The PHP League Container">
				The PHP League Container (MIT)
			</a>
		</li>
		<li><a href="http://booboo.thephpleague.com/" target="_blank" title="The PHP League BooBoo">
				The PHP League BooBoo (MIT)
			</a>
		</li>
		<li><a href="https://github.com/Seldaek/monolog" target="_blank" title="Monolog">
				Seldaek Monolog (MIT)
			</a>
		</li>
		<li><a href="https://www.minifier.org/" target="_blank" title="Matthias Mullie Minifier">
				Matthias Mullie Minify (MIT)
			</a>
		</li>
        <li><a href="https://github.com/PHPMailer/PHPMailer" target="_blank" title="PHPMailer">
				PHPMailer (MIT)
			</a>
		</li>
        <li><a href="https://github.com/schmich/instascan" target="_blank" title="schmich/instascan">
				Schmich / Instascan (MIT)
			</a>
		</li>

	</ul>
	<hr/>
	<h3>Licence</h3>
	<p><abbr title="CSL">CSL</abbr> Manager is released under the terms of the GPLv3 licence.</p>

<?php include __DIR__ . '/blocks/footer.phtml'; ?>

</div>
<script src="/dist/js/lib/jquery-2.2.1.min.js"></script>
<script src="/dist/js/lib/bootstrap.min.js"></script>
<script src="/dist/js/global.js"></script>

</body>
</html>
