<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Gestion d'un CSL">
    <meta name="author" content="©EnvA&Oniris">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/dist/images/favicon.png">

    <title>CSLManager</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/app.css" rel="stylesheet">
    <link href="/dist/css/mediaQueries.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.min.css" media="all"/>
    <script type="text/javascript" src="/instascan/dist/instascan.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>
<body>

<?php include __DIR__ . '/blocks/navbar.phtml'; ?>

<div class="container" style="margin-top: 5rem;margin-bottom:5rem">
  <h1><?= TXT_COLOPHON_TITLE ?> - CSLManager <?= $config->get('version') ?></h1>
  <p><abbr title="CSL">CSL</abbr><?= TXT_COLOPHON_P1 ?>
    <a href="//www.vet-alfort.fr/" title="ENVA">Enva</a>
      <?= TXT_COLOPHON_P2 ?><a href="//www.oniris-nantes.fr/"
      title="Oniris">Oniris</a>, Nantes).
      <p><?= TXT_COLOPHON_P3?></p>
  </p>
  <p>
      <?= TXT_COLOPHON_P4 ?>
  </p>
  <p>
     <?= TXT_COLOPHON_P5 ?>
  </p>
  <p>
     <?= TXT_COLOPHON_P6 ?>
  </p>
  <hr/>
  <h3><?= TXT_COLOPHON_TITLE_2 ?></h3>
  <h5><?= TXT_COLOPHON_DESIGNER ?></h5>
    <ul>
        <li>Henry Château, Marine Vermot des Roches (École nationale vétérinaire d’Alfort)</li>
        <li>Marc Gogny, Anne Gogny, Frédéric Auffray (Oniris)</li>
    </ul>
  <h5><?= TXT_COLOPHON_DEV ?></h5>
  <ul>
    <li>Gabriel Poma (École Nationale Vétérinaire de Maisons-Alfort)</li>
    <li>Arthur Valvert, Rémi André (Oniris)</li>
	</ul>
  <h5><?= TXT_COLOPHON_TRANSLATORS ?></h5>
  <ul>
    <li>Marc Gogny, Arthur Valvert, Rémi André (Version Anglaise 🇬🇧)</li>
      <li>Marc Gogny (version Allemande )</li>
	</ul>
	<h5><?= TXT_COLOPHON_LIB ?></h5>
	<p><abbr title="CSL">CSL</abbr><?= TXT_COLOPHON_LIB_TITLE ?></p>
	<ul>
		<li><a href="http://getbootstrap.com/" target="_blank" title="Twitter Bootstrap">
				Bootstrap (MIT)
			</a>
		</li>
		<li><a href="https://github.com/endroid/QrCode" target="_blank" title="QRCode">
				Endroid/QRCode (MIT)
			</a>
		</li>
		<li><a href="https://vespula.bitbucket.io/ldap/" target="_blank" title="Vespula LDAP">
				Vespula.Ldap (MIT)
			</a>
		</li>
		<li><a href="https://vespula.bitbucket.io/auth" target="_blank" title="Vespula Auth">
				Vespula.Auth (MIT)
			</a>
		</li>
		<li><a href="http://container.thephpleague.com/" target="_blank" title="The PHP League Container">
				The PHP League Container (MIT)
			</a>
		</li>
		<li><a href="http://booboo.thephpleague.com/" target="_blank" title="The PHP League BooBoo">
				The PHP League BooBoo (MIT)
			</a>
		</li>
        <li><a href="https://github.com/Seldaek/monolog" target="_blank" title="Monolog">
                Seldaek Monolog (MIT)
            </a>
        </li>
		<li><a href="https://www.minifier.org/" target="_blank" title="Matthias Mullie Minifier">
				Matthias Mullie Minify (MIT)
			</a>
		</li>
        <li><a href="https://github.com/PHPMailer/PHPMailer" target="_blank" title="PHPMailer">
                PHPMailer (MIT)
            </a>
        </li>
        <li><a href="https://github.com/schmich/instascan" target="_blank" title="schmich/instascan">
                Schmich / Instascan (MIT)
            </a>
        </li>
	</ul>
	<hr/>
	<h3>Licence</h3>
	<p style='margin-bottom: 5rem'><abbr title="CSL">CSL</abbr><?= TXT_COLOPHON_DISTRIBUTION ?></p>

<?php include __DIR__ . '/blocks/footer.phtml'; ?>

</div>
<script src="/dist/js/lib/jquery-2.2.1.min.js"></script>
<script src="/dist/js/lib/bootstrap.min.js"></script>
<script src="/dist/js/global.js"></script>

</body>
</html>
