<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Gestion d'un CSL">
    <meta name="author" content="©EnvA&Oniris">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/dist/images/favicon.png">

    <title>CSLManager</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/app.css" rel="stylesheet">
    <link href="/dist/css/mediaQueries.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.min.css" media="all"/>
    <script type="text/javascript" src="/instascan/dist/instascan.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>
<body>

<?php include __DIR__ . '/../front/blocks/navbar.phtml'; ?>
<div class="container-fluid"  style="padding: 10rem;margin-bottom: 25rem;">
    <h1><?= TXT_FEEDBACK; ?></h1>

    <p><?= TXT_FEEDBACK_HELP; ?>
    </p>

    <p class="text-danger"><i class="fa fa-exclamation-triangle"></i><?= TXT_FEEDBACK_ABUSE; ?></p>

    <form method="post" action="../back-office/ajax/feedback.php">
        <div class="form-group">
            <label for="subject"><?= TXT_FEEDBACK_SUBJECT; ?></label>
            <select id="subject" name="subject" class="form-control" required>
                <option selected><?= TXT_FEEDBACK_COMMENT; ?></option>
                <option><?= TXT_FEEDBACK_SUGGESTION; ?></option>
                <option><?= TXT_FEEDBACK_GLITCH; ?></option>
            </select>
        </div>
        <div class="form-group">
            <label for="body"><?= TXT_FEEDBACK_MESSAGE; ?></label>
            <textarea required class="form-control" id="body" name="body" placeholder="Your text"></textarea>
        </div>
        <input style='margin-bottom: 5rem' onclick="if(document.getElementById('body').value === '') {return false} this.disabled=true; this.value='Sending…';" type="submit" class="btn btn-default" name="submit">
    </form>



<?php include __DIR__ . '/../../view/back-office/blocks/templates.phtml' ?>
<?php include __DIR__ . '/../../view/front/blocks/footer.phtml'; ?>

</div>
<script src="/dist/js/lib/jquery-2.2.1.min.js"></script>
<script src="/dist/js/lib/bootstrap.min.js"></script>
<script src="/dist/js/global.js"></script>
<script src="/dist/js/notification.js"></script>
<script src="/dist/js/admin.js"></script>

</body>
</html>
