<!DOCTYPE html>
<html lang="<?= $lang ?>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Gestion d'un CSL">
    <meta name="author" content="©EnvA&Oniris">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/dist/images/favicon.png">

    <title>CSLManager</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/app.css" rel="stylesheet">
    <link href="/dist/css/mediaQueries.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.min.css" media="all"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>
<div>

    <?php include __DIR__ . '/blocks/navbar.phtml'; ?>
    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <div class="container-fluid">
                <div class="banner">
                    <img src="<?= $configDB['logo'] ?>" class="img-responsive center-block " <?php if (!isset($user)): echo "id='logoNoUser'"; endif; ?> alt="Bannière">
                </div>

                <?php if (!empty($SUCCESS)):
                    foreach ($SUCCESS as $s): ?>
                        <div class="alert alert-success" role="alert">
                            <strong><?= TXT_FRONT_INDEX_THANKS; ?></strong><br/> <?= $s ?>
                        </div>
                    <?php endforeach;
                endif; ?>

                <?php if (!empty($WARN)):
                    foreach ($WARN as $w): ?>
                        <div class="alert alert-warning" role="alert">
                            <strong><?= TXT_WARNING; ?></strong><br/> <?= $w ?>
                        </div>
                    <?php endforeach;
                endif; ?>

                <?php if (!empty($ERROR)):
                    foreach ($ERROR as $e): ?>
                        <div class="alert alert-danger" role="alert">
                            <strong><?= TXT_ERROR; ?></strong><br/> <?= $e ?>
                        </div>
                    <?php endforeach;
                endif; ?>

                <?php if ($etape === 'list') : ?>

                    <div class="jumbotron">
                        <h2 style="text-align: center"><?= TXT_FRONT_INDEX_WELCOME . $configDB['mainTitle']; ?></h2>
                        <?php if ($permission->check('print:ownstats')): ?>
                            <p class="lead" style="text-align: center">
                                <?= TXT_FRONT_INDEX_BEGIN; ?>
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-4 col-lg-4"
                                     id="targetLink">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-3"
                                     style="text-align: center" id="camera-container">
                                    <video id="preview" class="img-thumbnail" poster="/dist/images/Qrcode.jpg"
                                           playsinline></video>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                    <div class="row">
                                        <?php if ($permission->check('edit:profiles')) : ?>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 homeBtn">
                                                    <a class="btn btn-default btn-lg btn-block hvr-bounce-to-right"
                                                       href=<?= ($permission->check('print:others_stats')) ? "/back-office/stat.php?global=1" : "/back-office/stat.php" ?>
                                                       title="<?= TXT_FRONT_INDEX_MYSTATS; ?>"
                                                       rel="noopener noreferrer">
                                                        <?= TXT_PARAMETERS . " "; ?><i class="fa fa-cogs"
                                                                                       aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        <?php elseif ($permission->check('edit:category')): ?>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 homeBtn">
                                                    <a class="btn btn-default btn-lg btn-block hvr-bounce-to-right"
                                                       href=<?= ($permission->check('print:others_stats')) ? "/back-office/stat.php?global=1" : "/back-office/stat.php" ?>
                                                       title="<?= TXT_FRONT_INDEX_MYSTATS; ?>"
                                                       rel="noopener noreferrer">
                                                        <?= TXT_PARAMETERS . " "; ?><i class="fa fa-cogs"
                                                                                       aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 homeBtn">
                                                    <a class="btn btn-default btn-lg btn-block  hvr-bounce-to-right"
                                                       href="<?= $configDB['domainMoodle'] ?>/course/view.php?id=<?= $configDB['courseMoodle'] ?>"
                                                       rel="noopener noreferrer" target=_blank>
                                                        </i><?= TXT_MOODLE; ?>
                                                    </a>
                                                </div>
                                            </div>
                                        <?php elseif ($permission->check('print:ownstats')): ?>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 homeBtn ">
                                                    <a class="btn btn-default btn-lg btn-block  hvr-bounce-to-right"
                                                       href="/back-office/stat.php"
                                                       title="<?= TXT_FRONT_INDEX_MYSTATS; ?>"
                                                       rel="noopener noreferrer">
                                                        <?= TXT_FRONT_INDEX_MYSTATS." "; ?><i class="fa fa-pie-chart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <?php if($configDB['domainMoodle'] != null || $configDB['domainMoodle'] != ""): ?>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 homeBtn">
                                                    <a class="btn btn-default btn-lg  hvr-bounce-to-right"
                                                       style="margin-top:0.1rem"
                                                       href="<?= $configDB['domainMoodle'] ?>/course/view.php?id=<?= $configDB['courseMoodle'] ?>"
                                                       rel="noopener noreferrer" target=_blank>
                                                        <?= TXT_MOODLE; ?>
                                                    </a>
                                                </div>
                                            </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <?php if (!isset($user)): ?>
            <div class="row">
                <div class="col-xs-12" style="text-align: center;margin-top: 5rem">
                    <img src="/dist/images/csl1.jpeg"
                         class="cslLogoBottom" <?php if (!isset($user)): echo "id='logoNoUser'"; endif; ?>>
                </div>
            </div>
        <?php endif; ?>

        <?php if ($etape === 'start'): ?>
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <div class="container-fluid">
                    <div class="jumbotron">
                        <h2><?= TXT_FRONT_INDEX_MORNING; ?> <?= ucfirst($user->getFirstName()) ?> <?= ucfirst($user->getName()) ?></h2>
                        <p class="lead">
                            <?= TXT_FRONT_INDEX_CONNECTED . " :"; ?><br>
                            «&nbsp;<strong><?= $workshopAttempt->getFullLabel() ?></strong>&nbsp;»
                        </p>
                        <p><?= TXT_FRONT_INDEX_SESSION_BEGIN . " :"; ?><?= $workshopAttempt->getDebut() ?></p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="poste-info">
                                <div class="text-center">
                                    <h4><i class="fa fa-clock-o"></i><?= TXT_WORKSHOP_DURATION . " :"; ?></h4>
                                    <p><?= $workshop->getDuration() ?> <?= ($workshop->getDuration() > 1) ? 'minutes' : 'minute' ?></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="poste-info">
                                <div class="text-center">
                                    <h4><i class="fa fa-gamepad"></i><?= TXT_WORKSHOP_DIFFICULTY; ?> :</h4>
                                    <figure
                                            class="difficulty-label green"><?php ;
                                        if ($workshop->getIdDifficulty() === 1) echo '<div class="active"></div>' ?></figure>
                                    <figure
                                            class="difficulty-label blue"><?php if ($workshop->getIdDifficulty() === 2) echo '<div class="active"></div>' ?></figure>
                                    <figure
                                            class="difficulty-label red"><?php if ($workshop->getIdDifficulty() === 3) echo '<div class="active"></div>' ?></figure>
                                    <figure
                                            class="difficulty-label black">    <?php if ($workshop->getIdDifficulty() === 4) echo '<div class="active"></div>' ?></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="poste-info">
                                <div class="text-center">
                                    <h4><i class="fa fa-globe"></i><?= TXT_FRONT_INDEX_LMS_DOC . " :"; ?></h4>
                                    <?php if ($configDB['domainMoodle'] != null || $configDB['domainMoodle'] != ""): ?>
                                    <p>
                                        <a href="<?= $configDB['domainMoodle'] ?>/course/view.php?id=<?= $configDB['courseMoodle'] ?>"
                                           target="_blank"
                                           rel="noopener noreferrer"><?= TXT_FRONT_INDEX_LMS_DOC_LINK; ?></a>
                                    </p>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-warning" role="alert">    <?= TXT_FRONT_INDEX_REMINDER; ?> </div>
                    <form method="POST" action="/validate.php">
                        <div class="form-group">
                            <label for="eval"><?= TXT_FRONT_INDEX_EVALUATION; ?><span
                                        class="text-danger">*</span></label>
                            <select required class="form-control" name="scale" id="scale">
                                <option label=<?= TXT_FRONT_INDEX_OPTION_LABEL; ?>></option>
                                <?php foreach ($workshop->getIdScaleType() as $scale): ?>
                                    <option value=<?= $scale['code'] ?>><?= $scale['label'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="comment"><?= TXT_FRONT_INDEX_COMMENT; ?></label>
                            <textarea id="comment" name="comment" class="form-control"
                                      rows="3"><?= $comment ?></textarea>
                            <p class="help-block pull-right">
                                <small><?= TXT_FRONT_INDEX_COMMENT_LENGTH; ?></small>
                            </p>
                        </div>
                        <button type="submit" class="btn btn-success"><i class="fa fa-thumbs-up"></i><?= TXT_APPLY; ?>
                        </button>
                        <input type="submit" name="cancel" class="btn btn-warning"
                               value="<?= TXT_CANCEL ?>"/>
                        <input type="hidden" name="workshop" value="<?= $workshopAttempt->getIdWorkshop() ?>">
                        <input type="hidden" name="workshopAttempt" value="<?= $workshopAttempt->getId() ?>">
                        <input type="hidden" name="action" value="validate-scale">
                        <input type="hidden" name="token" value="<?= $token ?>">
                    </form>
                </div>
            </div>
        <?php endif; ?>

        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <?php include __DIR__ . '/blocks/footer.phtml'; ?>
            </div>
        </div>
    </div> <!-- /container -->
</div>
<?php if ($etape === 'list') : ?>
    <script src="/dist/js/instascan.js"></script>
<?php endif; ?>
<script src="/dist/js/lib/jquery-2.2.1.min.js"></script>
<script src="/dist/js/lib/bootstrap.min.js"></script>
<script src="/dist/js/global.js"></script>
</body>
</html>
