<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Gestion d'un CSL">
    <meta name="author" content="©EnvA&Oniris">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/dist/images/favicon.png">

    <title>CSLManager</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/app.css" rel="stylesheet">
    <link href="/dist/css/mediaQueries.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.min.css" media="all"/>
    <script type="text/javascript" src="/instascan/dist/instascan.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>
<body>

<?php include __DIR__ . '/blocks/navbar.phtml'; ?>
<div class="container">
    <div class="row"  style="margin-top: 3vh">
        <h1 style="margin-bottom: 5%">
            <i class="fa fa-gavel" aria-hidden="true"></i> <?= TXT_SIDE_LEGAL; ?>
        </h1>
    </div>

    <section style="margin-bottom: 15vh">
        <?php foreach ( $legalContent as $item) {
            echo $item;
            } ?>
    </section>



<?php include __DIR__ . '/blocks/footer.phtml'; ?>

</div>
<script src="/dist/js/lib/jquery-2.2.1.min.js"></script>
<script src="/dist/js/lib/bootstrap.min.js"></script>
<script src="/dist/js/global.js"></script>

</body>
</html>
