<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page de login">
    <meta name="author" content="ENVA">
    <link rel="icon" href="/dist/images/favicon.png">
    <title>CSLManager</title>

    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../dist/css/font-awesome.min.css" media="all">

    <link href="../dist/css/app.css" rel="stylesheet">
</head>
<body class="login-page">
<div class="wrapper-login">
    <div class="center-block login-form">
        <div class="banner">
            <img src="<?= $configDB['logo']?>" alt="Bannière" class="img-responsive">
        </div>
        <?php if(isset($regMessage)):?>
            <div>
                <p class="bg-danger">
                    <strong>Erreur: </strong><br/> <?= $regMessage?>
                </p>
            </div>
        <?php endif ?>
        <form class="form-horizontal" method="POST" action="/request.php">
            <div class="form-group">
                <label for="registerPassword" class="col-sm-4 control-label"><?= TXT_NEW_PASSWORD; ?></label>
                <div class="col-sm-8">
                    <input required type="password" class="form-control" name="changePassword" placeholder="Mot de passe">
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-sm-4 control-label"><?= TXT_PASSWORD_CONFIRM; ?></label>
                <div class="col-sm-8">
                    <input required type="password" class="form-control" name="confirmChangePassword" placeholder="<?= TXT_PASSWORD_CONFIRM ?>">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" style="text-align: center">
                    <button id="loginbtn" name="changeBtn" value="<?= $user->getId() ?>" type="submit" class="btn btn-default">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> <?= TXT_EDIT ?>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
