<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Panel d'administration CSLManager">
	<meta name="author" content="EnvA/Oniris">
	<link rel="icon" href="/dist/images/favicon.png">

	<title>CSLManager | <?= TXT_HEADER_ADMIN_PANEL; ?></title>
	<!-- Bootstrap core CSS -->
	<link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="https://bootswatch.com/4/flatly/bootstrap.css"  rel="stylesheet">-->
        <link href="/dist/css/mediaQueries.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.min.css" media="all"/>

	<!-- Custom styles for this template -->
         <link href="/dist/css/app.css" rel="stylesheet">
         <link href="/bug-report/style.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="/dist/js/lib/jquery-2.2.1.min.js"></script>
	<script src="/dist/js/lib/bootstrap.min.js"></script>
</head>
