<script type="text/javascript" src="/dist/js/ajax/filter.js"></script>

<div id="lstUserToSupp">
    <div class="section">
        <div class="row">
                <!--<div class="col-xs-2 col-md-1">
                    <label for="search-user"><?//= TXT_NAME; ?></label>
                </div>-->
                <div class="col-xs-12 col-md-4">
                    <input type="text" id="search" class="form-control" placeholder="<?= TXT_USER_FILTER_SEARCH_PLACEHOLDER; ?>">
                </div>
                <div class="col-xs-12 col-sm-offset-5 col-sm-2 col-md-offset-0 col-md-2 col-lg-offset-0 col-lg-3" >
                    <button id="btn" class="btn btn-default" type="submit" onclick="requestSearch(readUserSearch);"><?= TXT_USER_FILTER_SEARCH; ?></button>
                </div>
                <span id="loader" style="display: none;"><img src="../dist/images/ajax-loader.gif" alt="loading" /></span>
        </div>

    <div class="table-responsive">
        <table class="table table-striped" id="table-user">
            <div class="row">
                <thead class="table_preference">
                    <tr >
                        <th></th>
                        <div class="col-xs-offset-1 col-xs-3 col-md-offset-0">
                            <th id="inline"><?= TXT_NAME; ?>

                                <button class="btnInvisible" type="submit" name="action" value="filter_name_up" onclick="requestNameUp(readSort);" id="name_up">
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                </button>
                                <button class="btnInvisible" type="submit" name="action" value="filter_name_down"  onclick="requestNameDown(readSort);" id="name_down">
                                    <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th><?= TXT_FORENAME; ?></th>
                            <th><?= TXT_LOGIN; ?></th>
                            <th><?= TXT_DEPARTMENT; ?></th>
                            <th id="inline"><?= TXT_PROFILE; ?>

                                <button class="btnInvisible" type="submit" name="action" value="filter_profile_up" onclick="requestProfileUp(readSort);" id="profile_up">
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                </button>
                                <button class="btnInvisible" type="submit" name="action" value="filter_profile_down" onclick="requestProfileDown(readSort);" id="profile_down">
                                    <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                                </button>
                            </th>
                        </div>
                    </tr>
                </thead>
                <tbody class="tbody-result-ajax">
                    <?php /** @var User[] $users */
                    foreach ($users as $user): ?>
                        <tr>
                            <td>
                                <a href="<?= 'user.php?id=' . $user->getId() ?>">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </td>
                            <td><?= $user->getName() ?></td>
                            <td><?= $user->getFirstName() ?></td>
                            <td><?= $user->getUpn() ?></td>
                            <td><?= $user->getDescription() ?></td>
                            <td><?= $user->getProfileName() ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
        </table>
        </div>
    </div>
</div>
<div id="cible" >
    <nav>
        <?php if(isset($totalPages)){ ?>
        <ul class="pagination">
            <?php for ($i = 1; $i <= $totalPages; $i++): ?>
                <li  style="display: inline-block">
                    <form action="user.php?page=<?= $i ?>" method="post" style="text-align: center">
                        <input name="order" type="hidden" value="<?php if(isset($order))echo $order ?>">
                        <input class="<?= ($i == $page) ? 'btn btn-primary' : 'btn btn-default' ?>" style="margin:0 0 3px;display: inline-block;" type="submit" value="<?= $i ?>" >
                    </form>
                </li>
            <?php endfor; ?>
        </ul>
        <?php } ?>
    </nav>
</div>

