<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button style="float: left" type="button" class="navbar-toggle collapsed" id="menu-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"> <!--href="/back-office/index.php"-->CSLManager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/back-office/feedback.php">
                        <i class="fa fa-envelope" aria-hidden="true"></i><!--<i class="fa fa-envelope-o" aria-hidden="true"></i>--> <?= TXT_NAVBAR_FEEDBACK; ?>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

