<!-- NAVBAR -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="title">
            <i class="fa fa-object-group">
            </i> <?= TXT_SIDE_NAVBAR_DASHBOARD; ?>
        </li>
	    <!--<li <?php //($filename === 'index') ? 'class="active"' : "" ?>>
            <a href="/back-office/index.php">
                <i class="fa fa-object-group"></i> <?php //TXT_SIDE_NAVBAR_DASHBOARD; ?>
                <span class="sr-only">(current)</span>
            </a>
        </li>-->
        <?php if ($permission->check('print:workspace')): ?>
		<li <?= ($filename === 'workshop') ? 'class="active"' : "" ?>>
            <a href="/back-office/workshop.php">
                <i class="fa fa-qrcode"></i> <?= TXT_SIDE_NAVBAR_WORKSHOPS; ?>
            </a>
        </li>
        <?php endif; ?>
        <?php if ($permission->check('print:users')): ?>
		<li <?= (($_SERVER['PHP_SELF']) === '/back-office/user.php') ? 'class="active"' : "" ?>>
            <a href="/back-office/user.php" >
                <i class="fa fa-group"></i> <?= TXT_SIDE_NAVBAR_USERS; ?>
            </a>
        </li>
        <?php endif; ?>
		<li <?= ($filename === 'stat') ? 'class="active"' : "" ?>>
            <a href="/back-office/stat.php<?php if($permission->check("edit:profiles")): echo "?global=1"; endif; ?>">
                <i class="fa fa-pie-chart"></i> <?= TXT_SIDE_NAVBAR_STATS; ?>
            </a>
        </li>
    </ul>
    <ul class="sidebar-nav">
	<?php if ($permission->check('print:stats')): ?>
        <li class="title">
            <i class="fa fa-wrench"></i>
            <?= TXT_SIDE_NAVBAR_ADMINISTRATION; ?>
        </li>
        <?php if ($permission->check('edit:profiles')): ?>
        <li>
            <a class="hvr-icon-down" onclick="arrowUser()" role="button" data-toggle="collapse" aria-controls="collapseUser" href="#collapseUser" aria-expanded="
            <?= ((($_SERVER['PHP_SELF']) !== '/back-office/admin/users/user.php') && $filename !== 'profile') ? "false" : "true" ?>">
                <i class="fa fa-users" aria-hidden="true"></i>
                <?= TXT_SIDE_NAVBAR_USERS ?>
                <i id="userDropDwn" class="fa fa-caret-down" aria-hidden="true" style="visibility:
                <?= ((($_SERVER['PHP_SELF']) !== '/back-office/admin/users/user.php') && $filename !== 'profile') ? "visible" : "hidden" ?>"></i>
            </a>
            <div class="collapse <?= ((($_SERVER['PHP_SELF']) !== '/back-office/admin/users/user.php') && $filename !== 'profile') ? "" : "in" ?>" id="collapseUser">
                <ul style="list-style-type: none" id="shootPadding" class="indentRight">
                    <li <?=($filename === 'profile') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/users/profile.php">
                            <i class="fa fa-key" aria-hidden="true"></i> <?= TXT_SIDE_NAVBAR_PROFILES; ?>
                        </a>
                    </li>
                    <li <?= (($_SERVER['PHP_SELF']) === '/back-office/admin/users/user.php') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/users/user.php" >
                            <i class="fa fa-user-plus"></i> <?= TXT_SIDE_NAVBAR_USERS; ?>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

            <li>
                <a aria-controls="collapseServer" onClick="arrowServer()" role="button" data-toggle="collapse" href="#collapseServer" aria-expanded="
            <?= ($filename === "auth" && $filename === "rooting" && $filename === "mailer") ? "true" : "false" ?>">
                    <i class="fa fa-server" aria-hidden="true"></i>
                    <?= TXT_SIDE_SERVER ?>
                    <i id="serverDropDwn" class="fa fa-caret-down" aria-hidden="true" style="visibility:
                <?= ($filename !== "auth" && $filename !== "rooting" && $filename !== "mailer") ? "visible" : "hidden" ?>"></i>
                </a>
                <div id="collapseServer" class="collapse
            <?= ($filename !== "auth" && $filename !== "rooting" && $filename !== "mailer") ? "" : "in" ?>">
                    <ul style="list-style-type: none" id="shootPadding" class="indentRight">
                        <li <?= ($filename === "auth") ? "class='active'" : "" ?>>
                            <a href="/back-office/admin/server/auth.php">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <?= TXT_SIDE_AUTH ?>
                            </a>
                        </li>
                        <li <?= ($filename === "rooting") ? "class='active'" : "" ?>>
                            <a href="/back-office/admin/server/rooting.php">
                                <i class="fa fa-road" aria-hidden="true"></i>
                                <?= TXT_SIDE_ROOTING ?>
                            </a>
                        </li>
                        <li <?= ($filename === "mailer") ? "class='active'" : "" ?>>
                            <a href="/back-office/admin/server/mailer.php">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <?= TXT_SIDE_MAILER ?>
                            </a>
                        </li>
                    </ul>

                </div>
            </li>

        <?php endif; ?>

        <li>
            <a  aria-controls="collapseManagement" onclick="arrowManagement()" role="button" data-toggle="collapse"  href="#collapseManagement" aria-expanded="
            <?=($filename === 'category' && $filename === 'sub_category' && $filename === 'discipline' && $filename === 'priority_level' && $filename === 'species' && $filename === 'room' && $filename === 'scale_type') ? "true" : "false" ?>">
                <i class="fa fa-exchange" aria-hidden="true"></i>
                <?= TXT_SIDE_MANAGEMENT ?>
                <i id="managementDropDwn" class="fa fa-caret-down" aria-hidden="true" style="visibility:
                <?= ($filename !== 'category' && $filename !== 'sub_category' && $filename !== 'discipline' && $filename !== 'priority_level' && $filename !== 'species' && $filename !== 'room' && $filename !== 'scale_type') ? "visible" : "hidden" ?>"></i>
            </a>
            <div id="collapseManagement" class="collapse
            <?=($filename !== 'category' && $filename !== 'sub_category' && $filename !== 'discipline' && $filename !== 'priority_level' && $filename !== 'species' && $filename !== 'room' && $filename !== 'scale_type') ? "" : "in" ?>">
                <ul style="list-style-type: none" id="shootPadding" class="indentRight">
                    <li <?=($filename === 'category') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/management/category.php">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            <?= TXT_SIDE_NAVBAR_CATEGORY; ?>
                        </a>
                    </li>
                    <li <?=($filename === 'sub_category') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/management/sub_category.php">
                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                            <?= TXT_SIDE_NAVBAR_SUB_CATEGORY; ?>
                        </a>
                    </li>
                    <li <?=($filename === 'discipline') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/management/discipline.php" >
                            <i class="fa fa-map-signs" aria-hidden="true"></i> <?=TXT_SIDE_NAVBAR_DISCIPLINE; ?>
                        </a>
                    </li >
                    <li <?= ($filename === 'priority_level') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/management/priority_level.php" >
                            <i class="fa fa-gavel"></i> <?= TXT_SIDE_NAVBAR_RANK; ?>
                        </a>
                    </li>
                    <li <?= ($filename === 'species') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/management/species.php" >
                            <i class="fa fa-paw" aria-hidden="true"></i> <?= TXT_SIDE_NAVBAR_SPECIES; ?>
                        </a>
                    </li>
                    <li <?= ($filename === 'scale_type') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/management/scale_type.php" >
                            <i class="fa fa-file"></i> <?= TXT_SIDE_NAVBAR_SCALES; ?>
                        </a>
                    </li>
                    <li <?= ($filename === 'room') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/management/room.php" >
                            <i class="fa fa-map-o"></i> <?= TXT_SIDE_NAVBAR_ROOMS; ?>
                        </a>
                    </li>
                 </ul>
                <?php endif; ?>

        </li>
        <?php if ($permission->check('edit:profiles')): ?>
        <li>
            <a onclick="arrowCustom()" aria-controls="collapseCustom" role="button" data-toggle="collapse"  href="#collapseCustom" aria-expanded="
                <?=($filename === 'logo' && $filename === 'language' && $filename === 'legal') ? "false" : "true" ?>">
                <i class="fa fa-users" aria-hidden="true"></i><?= TXT_SIDE_CUSTOM ?>
                <i class="fa fa-caret-down" aria-hidden="true" id="customDropDwn" style="visibility:
                <?=($filename !== 'logo' && $filename !== 'language' && $filename !== 'legal') ? "visible" : "hidden"?>"></i>
            </a>
            <div id="collapseCustom" class="collapse <?=($filename !== 'view' && $filename !== 'language' && $filename !== 'legal') ? "" : "in"?>" >
                <ul style="list-style-type: none" id="shootPadding" class="indentRight">
                <?php if($permission->check('edit:profiles')) : ?>
                    <li <?=($filename === 'view') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/custom/view.php">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <?= TXT_CUSTOM_FRONT; ?>
                        </a>
                    </li>
                    <li <?= ($filename === 'language') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/custom/language.php">
                            <i class="fa fa-flag" aria-hidden="true"></i><?= TXT_SIDE_LANG; ?>
                        </a>
                    </li>
                    <li <?= ($filename === 'legal') ? 'class="active"' : "" ?>>
                        <a href="/back-office/admin/custom/legal.php">
                            <i class="fa fa-gavel" aria-hidden="true"></i> <?= TXT_SIDE_LEGAL; ?>
                        </a>
                    </li>
                <?php endif; ?>
                </ul>
            </div>
        </li>
        <?php endif; ?>
    </ul>

    <ul class="sidebar-nav">
        <li>
            <a href="/">
                <i class="fa fa-home"></i>
                <?= TXT_SIDE_NAVBAR_HOME; ?>
            </a>
        </li>
    </ul>
	<ul class="sidebar-nav">
        <li>
            <a href="/logout.php">
                <i class="fa fa-sign-out"></i>
                <?= TXT_DISCONNECT; ?>
            </a>
        </li>
	</ul>
</div>
