<script src='/dist/js/return_button.js'></script>

<input type="hidden" name="lang" value="<?= $lang ?>" id="lang">
<?php /** @var $stats stdClass */ ?>
<a name="haut" id="haut"></a>
<div class="row"  id="graphique">
    <div class="col-md-9 col-xs-12">
        <div class="section">
            <div class="section_title clearfix">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>
                            <i class="fa fa-bar-chart"></i> <?= TXT_BLOCKS_STATS_PERMONTH; ?>
                        </h3>
                    </div>
                    <div class="col-xs-12 col-sm-6" >
                        <ul class="nav navbar-right section_toolbox" style="padding:0;">
                            <li>
                                <a href="?csv=1&chart=wsPerMonth<?= $ajaxJSChart ?>" target="_blank" style="padding:0;">
                                    <i class="fa fa-table" aria-hidden="true"></i> <?= TXT_BLOCKS_STATS_CSV_EXPORT; ?>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="section_content">
                        <canvas height="200" id="chartwapermonth" data-id="chartwapermonth" data-type="bar" data-ajax="1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12">
        <div class="section">
            <span class="card_top"><i class="fa fa-clock-o"></i> <?= TXT_BLOCKS_STATS_TIME; ?></span>
            <div class="count">
                <?= sprintf('%dh, %dm, %ds', ($stats->time / 3600), ($stats->time / 60 % 60), $stats->time % 60)?>
            </div>
        </div>

        <div id="targetNewWa"></div>

        <div class="section" style="padding: 0;" id="waAjax">
            <?php if(!isset($_GET['global']) ){ ?>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="card_top"><i class="fa fa-filter"></i><?= TXT_ADMIN_RANK_FILTER . ":"; ?></span>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dropdown">
                                    <select  style="width: 100%" type="button" name="dowpdown" size="1" id="priorityLevelSelected" class="btn btn-default" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onchange="RequestPriorityLevel(readDataWA, <?= "'".$idUser."'" ?>);">
                                        <option><?= TXT_FILTER ?></option>
                                        <?php foreach ($priorityLevels as $pl){ ?>
                                            <option value="<?= $pl->getId() ?>"><?= $pl->getTitle() ?></option>
                                        <?php } ?>
                                        <option value="global"><?= TXT_GLOBAL ?></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="row">
                <div class="col-sm-12">
                    <span class="card_top"><i class="fa fa-qrcode"></i><?php echo TXT_BLOCKS_STATS_WORKSHOPS . ":"; ?></span>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success" id="btnTpDone" data-toggle="modal" data-target="#waDone" style="width:100%;visibility:<?php if (isset($_GET['global'])) {echo "style=\"disabled=\"disabled\"\"";} if (isset($_GET['exercice'])) {
                                        echo 'hidden';
                                    } else {
                                    } if ($stats->total === 0) {
                                        echo "style=\"disabled=\"disabled\"\"";
                                    } ?>">
                                <i class="fa fa-list-ul" aria-hidden="true" ></i>
                                    <?= $countWaDistinct ?>
                            </button>
                                
                            <!-- Modal -->
                            <div class="modal fade" id="waDone" tabindex="-1" role="dialog" >
                                <div class="modal-dialog" role="document">
                                    <?php if (!isset($_GET['global'])) : ?>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">
                                                <?= TXT_STAT_EXERCICE_LIST.$average = sprintf('%dm, %ds',(($averageTime) / 60 % 60), ($averageTime) % 60).TXT_STAT_AVERAGE; ?>
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped" style="text-align: center">
                                                <tr>
                                                    <td><?= TXT_STAT_WORDING; ?></td>
                                                    <td><?= TXT_STAT_COUNT_TRY; ?></td>
                                                    <td><?= TXT_STAT_BEST_GRADE; ?></td>
                                                    <td><?= TXT_STAT_BEST_TIME; ?></td>
                                                </tr>
                                                <?php
                                                    $i=0;
                                                    foreach($lstBestScale as $scale){
                                                        echo "<tr><td>" . $scale[0]->getFullLabel()
                                                            . "</td><td>".$distinctWa[$i]['count(id)']
                                                            . "</td><td>".$scale[0]->getScale()
                                                            . "</td><td>".$lstTime[$i]."</td>";
                                                        $i++;
                                                    }
                                                ?>
                                            </table>   
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <?php if (!isset($_GET['workshop_attempt'])) { ?>
                            <span class="card_top"><i class="fa fa-qrcode"></i><?= TXT_STAT_REMAINING_EXERCICE. " :"; ?></span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" id="btnTpNotDone" class="btn btn-info" data-toggle="modal" data-target="#todo" style="width:100%;">
                                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                                                <?php echo $WSTodoSize ?>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="todo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel"><?= TXT_STAT_MODAL_TITLE; ?></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <?php if(isset($_GET['global'])){ echo "<td>".TXT_LINK." </td>"; } ?>
                                                            <td><?= TXT_STAT_WORDING; ?></td>
                                                        </tr>
                                                        <?php $i = 0;
                                                            foreach ($WSTodo as $row) {
                                                                $label = $row->getFullLabel();
                                                                echo "<tr>";
                                                                if(isset($_GET['global'])){
                                                                    echo "<td><a href=\"/back-office/technicalsheet.php?workshop_attempt=". $row->getId() . "\">
                                                                            <i class=\"fa fa-angle-double-right\" aria-hidden=\"true\"></i> </td>";
                                                                }
                                                                echo"<td>" . $label . "<td></tr>";
                                                                $i++;} ?>
                                                    </table>   
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"><?= TXT_STAT_CLOSE; ?></button>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <span class="card_top"><i class="fa fa-pie-chart"></i> <?= TXT_BLOCKS_STATS_SPAN . ":"; ?></span>
                <canvas id="chartrepart" data-ajax="0" data-type="doughnut" data-done="<?= $stats->done['done'] ?>"
                         data-todo="<?= $stats->done['todo'] ?>"></canvas>
            </div>
        </div>
    </div>
    
    <div><a id="cRetour" class="cInvisible" href="#haut"></a></div>

<?php
if (isset($GET['global'])) :
    include 'ajax/stats_filter.phtml';
else:?>
    <div class="row">
        <div class="col-xs-12" style="text-align: center">
            <button class="btn btn-primary btnToHide" value="<?php if(isset($_GET['user'])): echo $GET['user'];else: echo $user->getId(); endif ;?>" onclick="requestShowScale(readData)" id="showGrade" style="margin-bottom:3vh">
                <?= TXT_STAT_SHOW_GRADES.$user->getFirstName() . ' ' . $user->getName() ?>
            </button>
        </div>
    </div>
<?php
endif; ?>

<div id="targetInputSearch">

</div>
    <div id='cible' style='visibility: hidden;'></div>
