<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="row">
                <div class="col-sm-12">
                    <h3 style="display: inline-block"><i class="fa fa-newspaper-o"></i><?= TXT_TECHNICALSHEET_TITLE; ?></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <h4><?php echo $workshop->getFullLabel(); ?><?php echo $workshop->getDescription(); ?></h4>
                </div>
                <div class="col-xs-offset-2 col-xs-8 col-sm-12 col-md-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#description" style="width: 100%;">
                        <?= TXT_TECHNICALSHEET_DESCRIPTION; ?>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="description" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="text-align: center"><strong><?= TXT_TECHNICALSHEET_MODAL_TITLE; ?></strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered" id="tabDescription">
                                        <tr>
                                            <thead>
                                                <td><?= TXT_TECHNICALSHEET_ROOM; ?></td>
                                                <td><?= TXT_TECHNICALSHEET_SPECIE; ?></td>
                                                <td><?= TXT_TECHNICALSHEET_CATEGORY; ?></td>
                                                <td><?= TXT_TECHNICALSHEET_TIME; ?></td>
                                            </thead>
                                        </tr>
                                        <?php echo "<tr><td>"
                                            .$workshop->getIdRoom()."</td><td>"
                                            .$specieW."</td><td>"
                                            .$categoryW."</td><td>"
                                            .$workshop->getDuration()
                                        ." minutes</td></tr>"; ?>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE; ?></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" id="difficultyExercice" style="background-color:<?php echo $idDifficulty; ?>">
                <div class="col-sm-12">
                    <h5><?php echo $difficulty->getTitle(); ?></h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="img-thumbnail scaleInfo backInfo" style="width: 100%" id="icon-size">
                        <h5 style="text-align: center;"><strong><?= TXT_TECHNICALSHEET_NUMBER_USER; ?></strong></h5>
                        <i class="fa fa-user" ></i>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#users" id="btnModal">
                            <?php echo $globalCount; ?>
                        </button>
                    </div>
                    <div class="modal fade" tabindex="-1" role="dialog" id="users">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><?= TXT_TECHNICALSHEET_TITLE_MODAL_USERS; ?></h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped" >
                                        <tr>
                                        <thead class="table_preference">
                                            <td><?= TXT_LINK ?></td>
                                            <td><?= TXT_UPN; ?></td>
                                            <td><?= TXT_NAME; ?></td>
                                            <td><?= TXT_FORENAME; ?></td>
                                        </thead>
                                        <tr>
                                        </tr>
                                        <?php foreach($lstUser as $row){
                                            echo "<tr>
                                                    <td><a href=\"/back-office/stat.php?user=". $row->getId() . "\">
                                                        <i class=\"fa fa-angle-double-right\" aria-hidden=\"true\"></i>
                                                    </td>
                                                    <td>".$row->getUpn()."</td>
                                                    <td>" .$row->getName()."</td>
                                                    <td>" .$row->getFirstName()
                                        ."</td><tr>";}?>
                                    </table>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><?= TXT_CLOSE; ?></button>
                                </div>
                            </div>
                        </div>
                      </div>
                    <p class="technical-stat"></p>
                </div>
                <div class="col-sm-12 col-md-4" >
                    <div class="img-thumbnail scaleInfo" style="width: 100%" id="icon-size">
                        <h5 style="text-align: center;"><strong><?= TXT_TECHNICALSHEET_AVERAGE_DURATION; ?></strong></h5>
                        <i class="fa fa-clock-o"  aria-hidden="true" ></i>
                        <div class="technical-stat"><?php echo sprintf('%dm, %ds', ($averageTime / 60 % 60), $averageTime % 60) ; ?> </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="img-thumbnail scaleInfo" style="width: 100%" id="icon-size">
                        <h5 style="text-align: center;"><strong><?= TXT_TECHNICALSHEET_AVERAGE_TRY; ?></strong></h5>
                        <i class="fa fa-qrcode" aria-hidden="true" ></i>
                        <div  class="technical-stat"><?php echo $resultAverage ?></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="img-thumbnail scaleInfo" style="width: 100%" id="icon-size">
                        <h5 style="text-align: center;"><strong><?= TXT_TECHNICALSHEET_STATUS; ?></strong></h5>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <p class="technical-stat"><?php echo $granted; ?> </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="img-thumbnail scaleInfo" style="width: 100%" id="icon-size">
                        <h5 style="text-align: center;"><strong><?= TXT_TECHNICALSHEET_DISTINCT; ?></strong></h5>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        <p class="technical-stat"><?php echo $sizeList; ?> </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="img-thumbnail scaleInfo" style="width: 100%" id="icon-size">
                        <h5 style="text-align: center;"><strong><?= TXT_TECHNICALSHEET_COMENTS; ?></strong></h5>
                        <i class="fa fa-comment" aria-hidden="true" id="icon-sizeL2"></i>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comentModal" id="btnModal">
                        <?php echo $countComments; ?>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-11">
                    <a href="\back-office/stat.php?global=1" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a> 
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="comentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="Commentaires" id="exampleModalLabel"><strong><?= TXT_TECHNICALSHEET_COMENTS_TITLE; ?></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped" id="table-user">
                        <?php if($countComments === 0){
                            echo "<tr><td>".TXT_TECHNICALSHEET_NO_COMENTS."</td></tr>";
                        }else{
                            foreach ($comments as $comment){
                                echo "<tr><td>".$comment[0]."</td></tr>";
                            }
                        } ?>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><?= TXT_CLOSE; ?></button>
                </div>
            </div>
        </div>
    </div>
</div>
