<template id="notification">
	<div id="notif-box">
		<h4>Notification</h4>
		<p></p>
	</div>
</template>

<template id="template-table-user">
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</template>