<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Page de login">
  <meta name="author" content="ENVA">
  <link rel="icon" href="/favicon.ico">

  <title><?= TXT_LOGIN_PAGE_CONNECTION; ?></title>

  <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/dist/css/font-awesome.min.css" media="all">

  <link href="/dist/css/app.css" rel="stylesheet">
</head>
<body class="login-page">
<div class="wrapper-login">
  <div class="center-block login-form">
    <div class="banner">
      <img src="<?= $configDB['logo']?>" alt="Bannière" class="img-responsive">
    </div>
    <?php if(isset($authMessage)):?>
    <div>
      <p class="bg-danger">
        <strong>Error: </strong><br/> <?= $authMessage?>
      </p>
    </div>
    <?php endif ?>
      <?php if(isset($mailSendMessage) && isset($userToUpdate)):?>
    <div>
      <p class="bg-success" style="text-align: center">
        <?= $mailSendMessage.$email?>
      </p>
    </div>
    <?php endif ?>
    <form class="form-horizontal" method="POST"
      action="/login.php<?= (!empty($_SERVER['QUERY_STRING'])) ? '?' . $_SERVER['QUERY_STRING'] : '' ?>">
      <div class="form-group">
        <label for="loginUsername" class="col-sm-4 control-label"><?= TXT_LOGIN; ?></label>
        <div class="col-sm-8">
          <input required type="text" class="form-control" name="loginUsername" placeholder="Login">
        </div>
      </div>
      <div class="form-group">
        <label for="loginPassword" class="col-sm-4 control-label"><?= TXT_PASSWORD; ?></label>
          <div class="col-sm-8">
            <input required type="password" class="form-control" name="loginPassword" placeholder="Mot de passe">
          </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12" style="text-align: center">
          <button id="loginbtn" name="loginbtn" value="Login" type="submit" class="btn btn-default">
            <i class="fa fa-unlock-alt"></i> <?= TXT_ENTER; ?>
          </button>
        </div>
      </div>
      <input type="hidden" name="token" value="<?=$token?>">
    </form>
      <div class="row">
          <div class="col-xs-12 col-sm-offset-3 col-sm-6" style="text-align: center">
              <a role="button" data-toggle="collapse" href="#collapseId" aria-expanded="false" aria-controls="collapseExample">
                  <?= TXT_LOG_LOGIN_CHANGE_PASSWORD ?>
              </a>
          </div>
      </div>

      <div class="collapse" id="collapseId">
          <div class="well">
              <form action="/login.php" method="post">
                  <div class="row">
                      <div class="col-xs-12">
                          <input type="text" class="form-control" name="idToChange" placeholder="<?= TXT_REGISTER_FIELD ?>">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12" style="text-align: center">
                          <button class="btn btn-success" name="btnChange" value="changePassword"><?= TXT_APPLY ?></button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
</body>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<script src="/dist/js/lib/jquery-2.2.1.min.js"></script>
<script src="/dist/js/lib/bootstrap.min.js"></script>
<script src="/dist/js/global.js"></script>

</html>
