<?php $filename = pathinfo($_SERVER['REQUEST_URI'], PATHINFO_FILENAME); ?>
<!DOCTYPE html>
<html lang="fr">

<?php include __DIR__ . '/back-office/blocks/header.phtml' ?>
<body>
<noscript><?= TXT_SKEL_NOSCRIPT; ?></noscript>
<div class="loading"><img src="/dist/images/loading-bars.svg" class="img-responsive" alt="loading"></div>
<div id="loading-overlay">
  <div class="loading-icon"></div>
</div>
<?php include __DIR__ . '/back-office/blocks/navbar.phtml' ?>
<div id="wrapper">
	<?php include __DIR__ . '/back-office/blocks/side_navbar.phtml' ?>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<?php include __DIR__ . '/back-office/' . $contentPage ?>
			</div>
		</div>
	</div>
</div>
<?php include __DIR__ . '/back-office/' . 'blocks/templates.phtml' ?>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<?php if ($filename == "stat"): ?>
    <script src="/dist/js/lib/Chart.min.js"></script>
    <script src="/dist/js/stat.js"></script>
<?php endif;

if ((($_SERVER['PHP_SELF']) === '/back-office/admin/users/user.php') || (($filename == 'user') && isset($_GET['id'])) || ($filename != 'user') && ($filename != "language")){
    echo '<script src="/dist/js/admin.js"></script>';
}

if ($filename === "view") {
    echo '<script src="/dist/js/ajax/view.js"></script>';
}

if($filename == 'stat'){ ?>
    <script src="/dist/js/ajax/priorityLevel_filter.js"></script>
<?php }

if($filename == 'auth'){ ?>
<script src="/dist/js/ajax/auth.js"></script>
<?php }

if($filename == 'legal'):
    echo '<script src="/dist/js/legal_editor.js"></script>';
endif;?>

<script type="text/javascript" src="/dist/js/ajax/filter.js"></script>
<script src="/dist/js/notification.js"></script>
<script src="/dist/js/global.js"></script>
<script src="/dist/js/ajax/right.js"></script>
<script src="/dist/js/ajax/sort_users.js"></script>
<script src="/dist/js/ajax/admin_add.js"></script>
</body>
</html>
